[2019-04-03 20:12] jbphet commented on #130
@samreid - feel free to close once suggested comment is added, no need to assign back to us.

[2019-04-04 01:33] samreid commented on #130
Thanks, I updated the comments accordingly, closing.

[2019-04-04 01:33] #130 closed

[2019-04-11 16:47] oliver-phet commented on #106
Another report of this bug:
Test device: Dell PC

Operating System: Windows 10

Browser: Chrome

Problem description: Phantom Voltages appear when you click display voltage

Steps to reproduce:  Click Voltage on

Severity: Medium

Screenshots: See attached.

Troubleshooting information (do not edit):
Name: ‪Charges And Fields‬
URL: https://phet.colorado.edu/sims/html/charges-and-fields/latest/char

[2019-04-11 16:48] oliver-phet commented on #106
Another report of this bug:
Test device: Dell PC

Operating System: Windows 10

Browser: Chrome

Problem description: Phantom Voltages appear when you click display voltage

Steps to reproduce:  Click Voltage on

Severity: Medium

Screenshots: See attached.

Troubleshooting information (do not edit):
Name: ‪Charges And Fields‬
URL: https://phet.colorado.edu/sims/html/charges-and-fields/latest/char

[2019-04-11 16:49] oliver-phet commented on #106
Another report of this bug:
Test device: Dell PC

Operating System: Windows 10

Browser: Chrome

Problem description: Phantom Voltages appear when you click display voltage

Steps to reproduce:  Click Voltage on

Severity: Medium

Screenshots: See attached.

Troubleshooting information (do not edit):
Name: ‪Charges And Fields‬
URL: https://phet.colorado.edu/sims/html/charges-and-fields/latest/char

[2019-04-11 16:50] oliver-phet commented on #106
Another report of this bug:
Test device: Dell PC

Operating System: Windows 10

Browser: Chrome

Problem description: Phantom Voltages appear when you click display voltage

Steps to reproduce:  Click Voltage on

Severity: Medium

Screenshots: See attached.

Troubleshooting information (do not edit):
Name: ‪Charges And Fields‬
URL: https://phet.colorado.edu/sims/html/charges-and-fields/latest/char

[2019-04-11 16:50] oliver-phet commented on #106
Another report of this bug:
Test device: Dell PC

Operating System: Windows 10

Browser: Chrome

Problem description: Phantom Voltages appear when you click display voltage

Steps to reproduce:  Click Voltage on

Severity: Medium

Screenshots: See attached.

Troubleshooting information (do not edit):
Name: ‪Charges And Fields‬
URL: https://phet.colorado.edu/sims/html/charges-and-fields/latest/char

[2019-04-11 16:51] oliver-phet commented on #106
Another report of this bug:
Test device: Dell PC

Operating System: Windows 10

Browser: Chrome

Problem description: Phantom Voltages appear when you click display voltage

Steps to reproduce:  Click Voltage on

Severity: Medium

Screenshots: See attached.

Troubleshooting information (do not edit):
Name: ‪Charges And Fields‬
URL: https://phet.colorado.edu/sims/html/charges-and-fields/latest/char

[2019-04-11 16:56] oliver-phet commented on #106
Another report of this bug:
Test device: Dell PC

Operating System: Windows 10

Browser: Chrome

Problem description: Phantom Voltages appear when you click display voltage

Steps to reproduce:  Click Voltage on

Severity: Medium

Screenshots: See attached.

Troubleshooting information (do not edit):
Name: ‪Charges And Fields‬
URL: https://phet.colorado.edu/sims/html/charges-and-fields/latest/char

[2019-04-15 22:12] KatieWoe opened #162 "Usability on small screens review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* Pencil and erase button on the equipotential tool are hard to use

Screenshots:
![Image from iOS (1)](https://user-images.githubuserconten

[2019-04-17 17:17] arouinfar commented on #162
These buttons are both flavors of `RectangularPushButton` whose superclass is `RectangularButtonView` which doesn't currently have support for asymmetric pointer area dilation, see https://github.com/phetsims/sun/issues/500.

We could symmetrically dilate the touch areas a bit, as shown in green.
![image](https://user-images.githubusercontent.com/8419308/56306685-58401600-6100-11e9-816a-cc28039da9

[2019-04-17 18:38] KatieWoe opened #163 "CT removeChild"
[code]

[2019-04-22 17:43] KatieWoe opened #164 "Lag of charges when voltage is on"
Test device:
Dell
Operating System:
Win 10
Browser:
Chrome
Problem description:
Noticed during https://github.com/phetsims/QA/issues/309 but it occurs earlier and is not connected to this release.  When voltage is turned on, the charges may lag behind the mouse when dragged around.  Screen-to-Gif seemed to solve the issue, so I captured this with video on my phone.
Steps to reproduce:
1. Drag out

[2019-04-30 17:22] samreid commented on #160
The commit fixes this problem on my working copy.  Self-assigning to check bayes in a few columns.

[2019-05-23 16:04] zepumph commented on #150
This issue is very out of date. CT looks clean now.

[2019-05-23 16:04] #150 closed

[2019-07-16 17:28] pixelzoom opened #165 "sim title is improperly cased"
This is a minor nit about the title of this sim, "Charges And Fields".

For titlecase in general, the word "and" should be lowercase, i.e. "Charges and Fields".

Other sims appear to follow the titlecase convention; "Balloons and Static Electricity", "Energy Forms and Changes", "Isotopes and Atomic Mass", "Masses and Springs", ...

[2019-07-16 17:41] arouinfar commented on #165
YES! This has bothered me for awhile now, and was reported in #152 (I believe we also noticed this not long after 1.0 but for priority reasons, decided to punt on it). This discrepancy in casing can cause some strange issues on the website. For example the table of sims under Desktop/Laptop Computer on the [Offline Access](https://phet.colorado.edu/en/offline-access) page lists the sim twice.

![i

[2019-07-16 17:48] ariel-phet commented on #165
@pixelzoom is this something that can be fixed on the website, or does it need to be fixed in sim code as a "simple" maintenance release?

[2019-07-16 17:56] pixelzoom commented on #165
It needs to be changed in `charges-and-fields-strings_en.json` in master:

[code]

If you want a maintenance release, also `change charges-and-fields-strings_en.json` in the current release branch, then republish.

I don't know where the title that appears on the website comes from.

[2019-07-16 18:01] pixelzoom commented on #152
Duplicate of #165, where there is more info/discussion.  Closing.

[2019-07-16 18:01] #152 closed

[2019-07-18 17:58] samreid opened #166 "Upgrade dynamic elements pattern and revise for phet-io"
This sim should support save and load using our new paradigm, and revised phet-io instrumentation.

[2019-07-24 00:40] ariel-phet commented on #165
@pixelzoom do you mind doing this Maintenance release? Seems fairly straightforward. I am pretty confident that the sim title on the website comes from the sim strings (so that way there is not a conflict between title of the sims and title on the website or translated versions for such).

[2019-07-24 00:40] ariel-phet commented on #165
And at low priority, when ever you feel like ticking something off, no rush.

[2019-07-24 18:34] ghost commented on #133
I'm going through old issues and I'm not sure how to proceed with this one. @samreid, do you have any suggestions?

[2019-07-25 17:54] pixelzoom commented on #165
Done:
* Patched in master and 1.0 branch.
* Tested in 1.0.42-rc.1.
* Published in 1.0.42.
* Tested the published version and a few translations.
* Confirmed that the title changed on the website.

@ariel-phet FYI.  Closing.

[2019-07-25 17:54] #165 closed

[2019-07-28 00:07] samreid opened #167 "Convert to ES6"
Before improving the PhET-iO instrumentation, we should bring this sim to ES6 and I should become more familiar with the implementation.

- [x] var => let/const
- [x] class
- [x] arrow functions

[2019-07-30 15:52] samreid opened #168 "Issue with measuringTapeInputListener.dragBounds"
In 47a2fbdef08fe884ba3dfffc2c2c14e3f2c207c9 measuringTapeMovableDragHandler changed from SimpleDragHandler to Object literal.  Master currently has this code:

https://github.com/phetsims/charges-and-fields/blob/f43effc3dad2d1893c0a749f2c340dbd96e7b078/js/charges-and-fields/view/ChargesAndFieldsToolboxPanel.js#L131-L136

[code]

However, this dragBounds doesn't appear to be doing anything.  I can'

[2019-07-30 16:15] samreid commented on #167
The main work is done, we can do other steps like string interpolation on an as-needed basis, closing.

[2019-07-30 16:15] #167 closed

[2019-08-01 21:17] samreid opened #169 "Revise and republish with instrumentation for PhET-iO"
Will require design.

[2019-08-16 14:30] samreid opened #170 "branch: phet-io-groups"
UPDATE FROM MK: this work extends from https://github.com/phetsims/phet-io/issues/1454. Hopefully we can get dynamic Groups working in Charges And Fields. We will work on a branch while we prototype.

[2019-08-22 16:34] zepumph commented on #170
@samreid mentioned that there was some trouble with ordering while setting the state involving the equipotential lines. I would really like to know why (if?) the new Group strategy causes this error when the old one doesn't.

[2019-08-22 17:34] samreid commented on #170
I have the same question!

[2019-08-30 00:09] arouinfar commented on #169
Since instrumenting GAO has taken precedence over this sim, I'm going to unassign for now.

[2019-08-30 01:46] samreid commented on #169
Thanks, I'll unassign too.  Here are some notes from prior meetings:

[2019-09-09 21:15] samreid commented on #133
Unassigning until working on charges-and-fields again.

[2019-09-11 18:49] chrisklus commented on #170
After the above commit, we are able to drag out one electric field sensor which correctly propagates its state.

Remaining work to do for Group and its usage in this sim:

- [x] there is a sensor in the middle of the field on startup
- [x] the arrows in the downstream sim are not updating when a charge is dragged out
- [x] dragging out more than one sensor causes an impossible set state error
- [

[2019-09-13 21:18] zepumph commented on #170
Today we made more good progress here. We refactored Group quite a bit. Instead of `create` having a `stateObject`, parameter, we made it support var args that can be passed through `createGroupMember`. This is nice because it focuses Group.js more on phet core sim code, and less on the state engine usage of it. To support state we made a `stateObjectToArgs` method on IOTypes that can be used to m

[2019-09-18 16:51] chrisklus commented on #170
@samreid, @zepumph, and I thought about moving `stateObjectToArgs` from the IO type to where Group is instantiated, but it didn't work smoothly with IO type inheritance. We are going to investigate a mixin solution over in https://github.com/phetsims/tandem/issues/105.

[2019-09-18 18:32] samreid commented on #170
We worked on this more today, next steps will be moving to master.  Do we need to fix the pencil button error first?

[2019-09-20 17:39] samreid commented on #170
- [ ] @zepumph recommended renaming `defaultArguments` to `prototypeArguments`, good idea!

[2019-09-20 17:53] samreid commented on #170
- [ ] @zepumph suggested using IO type.fromStateObject before passing it to stateObjectToArgs so we don't need to do it twice.  Another good idea!

[2019-09-20 18:03] samreid commented on #170
We made progress by making it so that ElectricPotentialLine doesn't error out if there are no charges:

<details>

[code]

</details>

[2019-09-20 18:57] zepumph commented on #170
- [x] It may be nice to setup phetioStateEngine to support applying state twice (or X) times per
- [x] Perhaps some refactoring of the setState method.

[2019-09-20 22:05] zepumph commented on #170
@samreid, @chrisklus, and I worked heavily on trying to get the electric potential lines instrumneted with group and working with state. We made good progress! Lines are showing up in the downstream sim (although they are not correct) Current things broken with state for electricPotentialLines:
* only recognizes the first particle, and draws a circle around that
* redraws a new one each state set,

[2019-09-25 22:06] zepumph commented on #170
@samreid and @chrisklus and I worked on this more today. We are getting very entrenched in the complexities in supporting the equipotential lines in state. The general approach we are working toward is to have the ElectricPotentialLine.js be a mutable object, so that as more charges are added while setting the PhET-iO state, the potential line can gracefully adapt and redraw itself. The issues we

[2019-09-26 03:33] samreid commented on #170
Starting with the patch in the preceding comment, I made enough progress that I thought it should be committed.  Multiple equipotential lines are transmitting in the state wrapper.  They clear when a charge is moved.  It works with studio launch.  I'm not aware of any bugs in this part.  But dragging the voltage labels around is not transmitted.

@zepumph can you please take a look?

[2019-09-26 18:50] zepumph commented on #170
@samreid your commits look great. I would love to discuss some of the TODOs left in the issue. Below is a ~80% complete addition of instrumenting the electric potential line view. I think the problem has something to do with disposal.

<details>

[code]

[2019-09-27 23:55] zepumph commented on #170
@samreid, @chrisklus, and I worked on this substantially today. We continued the above patch, and finished getting the view of electric potential lines completed. We also worked out all the phet-io work related TODOs. @samreid it would be great if you could review the above commits, and to recommend any other changes. I created a few other issues that should be investigated as part of this work, a

[2019-09-27 23:55] zepumph commented on #170
Is there anything left but merging to master and closing?

[2019-10-01 16:35] samreid commented on #170
I skimmed the change sets and things looked good.  I tested the state wrapper again and it still looks great.  I made two minor changes above.  But this branch seems like it is ready for master, so I'll merge it now.

[2019-10-01 16:39] samreid commented on #170
I deleted the branch, the last thing for this issue is it would be nice for @zepumph to double check the minor changes above:

* Remove PhetioStateEngine.isClearingState
* Rename createNextCorrespondingGroupMember => createCorrespondingGroupMember

[2019-10-01 18:20] zepumph commented on #170
RE: createCorrespondingGroupMember, does this mean that we will need another method for handling this function for heterogenous groups?

[2019-10-01 18:20] zepumph commented on #170
All else looks good.

[2019-10-02 00:30] samreid commented on #170
Yes, it would probably be `createCorrespondingHeterogeneousGroupMember`.  I'll open an issue for that.  Closing here.

[2019-10-02 00:30] #170 closed

[2019-10-02 15:58] KatieWoe opened #171 "CT the second order correction is larger than the first"
[code]

[2019-10-15 04:50] samreid commented on #161
We fixed this in the recent development using PhetioGroup, closing.

[2019-10-15 04:50] #161 closed

[2019-10-15 04:51] samreid commented on #166
Save/load is now working again after @chrisklus @zepumph and I worked on it.  We will continue with republication in the future in https://github.com/phetsims/charges-and-fields/issues/169

[2019-10-15 04:51] #166 closed

[2019-10-15 04:52] samreid commented on #160
CT hasn't shown this problem for many columns, closing.

[2019-10-15 04:52] #160 closed

[2019-10-17 16:30] veillette commented on #171
I am responsible for this assertion.
A bit of background on this assertion would be helpful so here it is.

The assertion is triggered in the process of generating the electricPotential line.
The model for an electric potential line is an array of points (which will be eventually joined to form a line). Each point is generated from the previous point using a relatively simple algorithm,
      /*

[2019-10-17 16:31] veillette commented on #153
See my comment in #171.

[2019-10-17 16:41] veillette opened #172 "Refactor of hasMagneticField"
While commenting on #171, I noticed that
[code]
It would be more useful to rename this variable as hasElectricField.

[2019-10-17 16:42] veillette commented on #172
Assigning to @samreid  since he has made of lot of recent commits as part of Phet-IO on this simulation.

[2019-10-17 16:42] samreid commented on #172
Thanks @veillette, I'll take a look.

[2019-10-17 16:52] samreid commented on #172
Fixed, closing.

[2019-10-17 16:52] #172 closed

[2019-10-20 15:18] samreid commented on #171
It seems like this error appeared just after @chrisklus @zepumph and worked on https://github.com/phetsims/charges-and-fields/issues/170.  I'll apply the fix @veillette described and leave assigned to @jonathanolson for further consideration.

UPDATE: I also noticed it seems this assertion is mainly being thrown in phet-io brand.

UPDATE: It's possible that if `getNextPositionAlongEquipotentialWit

[2019-10-20 15:30] samreid commented on #171
I removed the assertion, and compared values like so:

[code]

and I saw values like these:

[code]

So perhaps this is OK.  Still, I'll leave it open for @jonathanolson for consideration.

[2019-10-22 20:54] jonathanolson commented on #171
Removing the assertion sounds good. The Runge-Kutta looks nicely done (using the perpendicular normal vector to the field as the derivative). Avoiding trigonometry for the perpendicular computation might help performance (e.g. -y, x in this case).

[2019-10-22 22:25] samreid commented on #171
There are 5 occurrences of `normalize().rotate( Math.PI / 2 )`, I'm also seeing many other opportunities for performance improvements by eliminating allocations.  I'll create a new issue for these and close this one.

[2019-10-22 22:25] #171 closed

[2019-10-22 22:26] samreid opened #173 "Performance optimization for ElectricPotentialLine"
From https://github.com/phetsims/charges-and-fields/issues/171 @jonathanolson said:

I replied:

[2019-10-24 16:57] jonathanolson commented on #153
I believe this was handled in the other issue.

[2019-10-24 16:57] #153 closed

[2019-12-12 05:59] chrisklus commented on #170
In the above commit I renamed the electricFieldSensorGroup member tandem name from "electricFieldSensorGroup" to "electricFieldSensor". Keeping closed.

[2020-01-24 23:34] zepumph commented on #157
This is now working

[2020-01-24 23:34] #157 closed

[2020-01-24 23:34] zepumph commented on #163
This hasn't been a problem for some time now.

[2020-01-24 23:34] #163 closed

[2020-01-24 23:35] zepumph commented on #159
This has been fixed. Closing

[2020-01-24 23:35] #159 closed

[2020-01-24 23:35] zepumph commented on #155
This is no longer a problem

[2020-01-24 23:35] #155 closed

[2020-01-24 23:41] zepumph opened #174 "Redesign PhET-iO API"
In a PhET-iO planning meeting today we decided that CAF would be a good and relatively simple update to publish in the new PhET-iO paradigm. Over to @kathy-phet for a first design pass.

[2020-01-25 00:41] zepumph commented on #174
Oops duplicate of https://github.com/phetsims/charges-and-fields/issues/169. Closing

[2020-01-25 00:41] #174 closed

[2020-01-25 00:41] zepumph commented on #169
I think we are going to pick this back up again one I get Projectile Motion out of the way. For now it is in the designers hands for an audit.

[2020-02-17 16:40] KatieWoe opened #175 "CT phetioID not found"
[code]

[2020-02-17 19:06] zepumph commented on #175
This will be covered by https://github.com/phetsims/aqua/issues/76#issuecomment-587123626. Closing

[2020-02-17 19:06] #175 closed

[2020-02-25 21:39] pixelzoom opened #176 "rename chargedParticles to chargedParticleGroup"
Noted while working on https://github.com/phetsims/beers-law-lab/issues/244, where this sim was recommended as an exemplar for PhetioGroup.  Same problem as https://github.com/phetsims/projectile-motion/issues/221.

In ChargesAndFieldsModel.js:

[code]

The name `this.chargedParticles` is confusing. It's not charged particles at all, its a group that's used to instantiate charged particles. And it

[2020-02-27 20:57] oliver-phet commented on #98
In ES6 migration testing, I noticed using the Reset All button does not uncheck "Snap to Grid".

[2020-03-25 04:52] pixelzoom opened #177 "private field of PhetioGroup is used"
This sim has been repeatedly referenced as a good example of how to use PhetioGroup, including in the "How to Instrument..." doc.   In 3 places, it's violating the PhetioGroup API and accessing private field `memberDisposedEmitter`.  For example in ChargesAndFieldsScreenView:

[code]

Recommended to fix this immediately, so that this doesn't propagate to other sims.  And I don't think the solution

[2020-03-25 14:36] pixelzoom commented on #177
It might be OK to make PhetioGroup `memberCreatedEmitter` and `memberDisposedEmitter` public, then delete the `add*Listener` and `remove*Listener` methods. I don't feel like they're adding much in the way of encapsulation, and call sites might be more clearer, e.g.:

[code]

But I don't feel strongly either way.  What I do feel strong about is that the Emitters and listener methods should not both

[2020-03-25 14:42] pixelzoom opened #178 "change PhetioGroup API to refer to "element" ?"
I'm not wild about different terminology in `PhetioGroup` vs its superclass `PhetioDynamicElementContainer`, especially in method and parameter names.  PhetioGroup refers to "member", PhetioDynamicElementContainer refers to "element".  I understand that "groups" have "members", but a PhetioGroup's members are "elements".  So I don't see a problem with using "element" in PhetioGroup.  But I do see

[2020-03-25 14:47] pixelzoom commented on #178
I haven't used `PhetioCapsule` yet, but it uses "instance" to refer to the "element".   I don't have as much of a problem with that, but it should also be considered as part of this issue.

[2020-03-25 14:48] pixelzoom commented on #178
Oops, wrong repo. Transferring this issue to tandem.

[2020-03-25 16:18] zepumph commented on #177
I remember opinions about this from @chrisklus and @samreid when we created this. Assigning them.

[2020-03-25 18:55] zepumph opened #179 "Move PhetioGroup instantiations to subclasses"
@pixelzoom did this in Natural Selection (see BunnyGroup.js), and it looks really nice. Let's do this in CAF since CAF is becoming an exemplar for dynamic elements.

[2020-03-27 00:00] zepumph commented on #177
Oops! We have a convenience function for this, we just forgot to use it. Over to you @pixelzoom.

[2020-03-27 00:02] zepumph commented on #177
Assigning back @samreid and @chrisklus in case they have opinions about wanting to make the emitters public. I don't care strongly, but prefer the way it is now until there is a time that we NEED access to the emitter.

[2020-03-27 00:32] samreid commented on #177
I've been on both sides of this fence, but at the moment, it seems preferable to leave the emitter as private and use the methods.  I don't feel strongly at all though.

[2020-03-27 14:46] pixelzoom commented on #177
https://github.com/phetsims/charges-and-fields/commit/6ed747eaa4c830efb9dda631b23e8138c78f6e2e looks good.

[2020-03-27 16:45] zepumph commented on #177
@chrisklus feel free to close if you agree, otherwise we can continue discussion.

[2020-03-30 15:31] chrisklus commented on #177
Looks good to me, closing.

[2020-03-30 15:31] #177 closed

[2020-04-16 01:17] pixelzoom opened #180 "duplicate PNG in images/ and mipmaps/"
Related to https://github.com/phetsims/chipper/issues/840...

electricPotentialPanelOutline.png appears in both images/ and mipmaps/.  Delete whichever one is not needed, and use the same resource in all places.

[2020-04-16 18:26] jonathanolson commented on #180
Import names also weren't matching up! Should be fixed now.

[2020-04-16 18:26] #180 closed

[2020-04-17 00:36] zepumph opened #181 "Assertion failed: Should be a finite Vector2"
[code]

@jonathanolson this has been on CT since right around the commit made for https://github.com/phetsims/charges-and-fields/issues/180, so I'll assign to you.

[2020-04-17 22:45] #181 closed

[2020-04-28 20:42] pixelzoom commented on #176
This has become a liability over in phetsims/tandem#180, where a PhetioGroup refactor is in progress.  I can't just search for "Group.array".     So I'll take care of this.

I confirmed with the iO team on Slack that `this.chargedParticles` should be renamed to `this.chargedParticleGroup`, to follow the convention of naming groups with "Group" suffix, and to follow the convention of using the same

[2020-04-28 21:18] pixelzoom commented on #176
Just to increase the level of difficulty, this sim has both `{PhetioGroup} chargedParticles` and `{ObservableArray} chargedParticles`.

[2020-04-28 21:26] pixelzoom commented on #176
Done in the above commit.  I also added assertions for the cases where there is `{ObservableArray} chargedParticles`.

@jonathanolson is the responsible dev, but commit history seems to indicate that @zepumph did the PhetioGroup instrumentation. I'll assign to both of them -- one of you please review and close.

[2020-06-19 22:53] KatieWoe opened #182 "Studio Possible adjust sensor+arrow or just arrow, but not just sensor"
For https://github.com/phetsims/QA/issues/508. Win 10 Chrome
When looking at the sensor nodes, you can do things like adjust the opacity. However, it seems like you can either do this with the sensor and the arrow, or with just the arrow, but you can't do it with just the sensor. This seems a bit odd. If it is intended, feel free to close.
![dotvsarrow](https://user-images.githubusercontent.com/41

[2020-06-19 23:18] zepumph commented on #182
Unassigning until phet-io redesign in https://github.com/phetsims/charges-and-fields/issues/169

[2020-06-19 23:18] zepumph commented on #169
- [ ] https://github.com/phetsims/charges-and-fields/issues/182 should be solved as part of this issue.
- [ ] https://github.com/phetsims/charges-and-fields/issues/185

[2020-06-22 15:52] oliver-phet opened #183 "User request:"

[2020-06-22 18:29] KatieWoe opened #184 "Checkboxes are slow to respond on first load"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/508. Seen in published as well.
When the sim first loads up, the checkboxes on the side are a bit unresponsive and there is a noticeable lag between clicking on them and the effect taking. After the first time, the lag goes away, but it comes back on a new load of t

[2020-06-23 00:03] zepumph commented on #184
1. Were the dev tools opens for this?
2. What was the "HTML Output" mode from studio? I would only care about this if it was in "Production"

[2020-06-23 00:03] zepumph commented on #184
Oops, sorry! Never mind about my above questions then.

[2020-06-24 16:12] KatieWoe commented on #135
This is seen in https://github.com/phetsims/QA/issues/508. Both the aspect where snap to grid does not happen when the grid appears while snap to grid is on, and the aspect where snap to grid is not reset.
![snaptogridhappen](https://user-images.githubusercontent.com/41024075/85592510-7908d300-b603-11ea-9c31-85515a39ef85.gif)

[2020-06-24 16:56] KatieWoe opened #185 "Studio: Voltage text doesn't move up in Electric Potential Sensor"
Minor bug found during https://github.com/phetsims/QA/issues/508. Win 10 Edge.
When you remove the Equipotential title text from the Electric Potential Sensor, the rest of the elements on the sensor shift up, except for the actual text that gives the voltage. This leads to a very odd look.
![electricPotentialPanelTitleText](https://user-images.githubusercontent.com/41024075/85598911-4235bb80-b609-

[2020-06-24 22:25] zepumph commented on #185
Unassigning until phet-io work is done in this sim.

[2020-07-01 19:34] KatieWoe opened #186 "Sim crashes if you try to draw a line in a 0 V area"
For https://github.com/phetsims/QA/issues/508. Likely not connected to Studio. Seems to be possible due to the Snap to Grid feature, which means that reproducing in published may not be possible, even if it occurs there.
If you set up a situation where there are charges on the screen that perfectly cancel each other and create a 0 V area, and then try to draw an equipotential line there, the sim w

[2020-07-01 22:37] KatieWoe commented on #186
On published, I might have managed to recreate this situation, though it is hard to tell if the voltage is exactly zero. If it is, then in published it makes an odd line, but does not crash.
![inpublished](https://user-images.githubusercontent.com/41024075/86297672-29a14480-bbb9-11ea-9bc3-cc43ca50e9a9.gif)

[2020-07-01 23:52] zepumph commented on #186
Thanks for the report, this should be worked on next time the sim is in active dev.

[2020-07-09 22:47] zepumph commented on #176
Changes look good to me! Thanks for the extra assertions for clarity. Closing

[2020-07-09 22:47] #176 closed

[2020-08-03 14:48] KatieWoe opened #187 "CT currentNode should have a parent"
[code]

[2020-08-13 16:12] zepumph commented on #187
This is only when fuzzing studio, assigning the PhET-iO team.

[2020-08-15 01:03] samreid commented on #187
This looks like a rare problem, and has occurred for the following phet-io ids:

* chargesAndFields.chargesAndFieldsScreen.view.electricFieldSensorNodeGroup.electricFieldSensorNode_0.fieldStrengthLabel
* chargesAndFields.chargesAndFieldsScreen.view.electricFieldSensorNodeGroup.electricFieldSensorNode_8
* chargesAndFields.chargesAndFieldsScreen.view.chargedParticleNodeGroup.chargedParticleNode_7

T

[2020-08-17 20:05] samreid commented on #187
@chrisklus and I worked on this today and saw that the fuzzer is calling `click` on a tree element corresponding to a TreeNode with `isDisposed=true`.  We will be adding an assertion to assert that `selectInTreeAndRerender` arguments are not already disposed.  Then we recommend putting on a "band aid" to avoid calling click on disposed elements until we can get assistance from @zepumph.

[2020-08-17 20:14] samreid commented on #187
I committed the band-aid above.  Leaving assigned to @chrisklus to add the assertion at `selectInTreeAndRerender` and leaving assigned to @zepumph for further investigation.  Please promote to a Wednesday topic as necessary.

[2020-08-18 19:39] chrisklus commented on #187
Assertion added above.

[2020-09-02 20:08] zepumph commented on #187
The root cause seems to be a race condition between the fuzzing setInterval in studio and the debouncing of the tree being updated.

Although it is really laggy, I can't reproduce the bug with the following patch:

[code]

Probably the best way would be to rewrite StudioFuzz to be based on the TreeNode tree, instead of the HTML tree. Let me see what I can do.

[2020-09-02 20:21] zepumph commented on #187
After further investigation, I think the full solution for this would be to not use `HTMLFuzzer` for the studio tree. Instead we should get the clickable elements by looking at the `TreeNode` tree. Then we have info about `isDisposed` etc, and can navigate the race condition causing this problem more elegantly. This should be fixed by that issue. I will mark this issue on hold until that is solved

[2020-09-03 23:52] jessegreenberg opened #188 "Voltage map doesn't zoom with zoom feature"
Noticed after https://github.com/phetsims/joist/issues/657. Zoom feature is working pretty well but I noticed that the heated map shown when the "Voltage" checkbox is selected does not zoom with the rest of the sim.

[2020-09-03 23:52] jessegreenberg commented on #188
Similar behavior to https://github.com/phetsims/buoyancy/issues/6. That sim is using mobius, while this sim is using WebGLNode.

https://github.com/phetsims/joist/issues/659

[2020-09-03 23:53] jessegreenberg commented on #188
It looks like this map is using WebGL, again matching the issue in Density.

[2020-09-09 22:45] jessegreenberg commented on #188
We found that it is likely an issue with the usage of WebGLNode in the sim. Using `modelViewMatrix` in ElectricPotentialWebGLNode.paint may resolve the issue(among other things).

[2020-09-15 02:11] ariel-phet commented on #188
This would be a good feature to have if this sim is republished at some point, but no need to work on this feature proactively

[2020-09-18 22:46] oliver-phet commented on #98
Another user emailed phethelp with this request. I'll let them know when this is published.

[2020-09-19 02:06] oliver-phet opened #189 "Electrostatic potential colors not visible Safari 14"
I think this might be done in WebGL... wondering if something changed in Safari 14 that caused this? @arouinfar Do you experience this behavior on your mac (if you've updated to latest)?

<img width="1680" alt="image" src="https://user-images.githubusercontent.com/5090275/93651442-b5fc2000-f9ce-11ea-89c0-26d597ddb82d.png">
Name: ‪Charges and Fields‬
URL: https://phet.colorado.edu/sims/html/charges

[2020-09-19 04:15] arouinfar commented on #189
I am on macOS 10.15.6 (latest). In Safari 13.1.2 the electrostatic potential shows up (screenshot below). Updating to Safari 14 breaks it.
![image](https://user-images.githubusercontent.com/8419308/93658664-e78ae080-f9fa-11ea-9f45-56b18d3322bb.png)

**Safari 13**
Name: ‪Charges and Fields‬
URL: https://phet.colorado.edu/sims/html/charges-and-fields/latest/charges-and-fields_en.html
Version: 1.0.47

[2020-09-19 04:16] arouinfar commented on #189
It doesn't seem like a general webGL problem, however. Molecule Shapes looks fine in Safari 14.
![image](https://user-images.githubusercontent.com/8419308/93658845-806e2b80-f9fc-11ea-9a09-0565d51e3783.png)

[2020-09-19 04:16] arouinfar commented on #189
Assigning to the responsible dev, @jonathanolson.

[2020-09-24 22:45] KatieWoe commented on #189
I thought I had checked this in Beta. I must have missed it, sorry about that.

[2020-09-29 05:49] arouinfar commented on #183
It sounds like the user wants a version without the equipotential tool (which displays the voltage as you drag it around) and the Values checkbox. The equipotential tool is core to the learning goals of the simulation, and it is not something we would remove. We could perhaps turn this into a two screen sim and have an "Intro" screen without these options, but I'm still not convinced.

@oliver-phe

[2020-09-29 14:55] oliver-phet commented on #183
Email sent to user, will reply when I hear back.

[2020-09-29 17:26] oliver-phet commented on #183
Activity sent via slack to @arouinfar

[2020-09-29 18:46] arouinfar commented on #183
Thanks @oliver-phet. I've uploaded a copy of the activity to the sim's design folder:
https://drive.google.com/file/d/1CMGG0S2FoSocTDit8B0vJc_wWDYWzjB5/view

Essentially, the activity asks students to:
1. Create a charge arrangement
2. Test out the electric field with the sensors at a few strategic locations (Values is checked)
3. Drag the equipotential tool on top of the sensors and compare the v

[2020-10-01 18:08] veillette commented on #186
With the snap to grid, it is much easier to come up with highly symmetric charge configurations as above. In addition, it is possible to locate the equipotential tool at very symmetric places. From a pedagogical point of view, this is highly desirable to generate the configurations. However, from a computational point of view, these points are often maximum, minimum or saddle points of the electri

[2020-10-13 17:02] KatieWoe opened #190 "Blocky voltage, particularly for negative charge"
**Test device**
MacBook Air
**Operating System**
Mac 10.15.7
**Browser**
Safari 14.0
**Problem description**
For https://github.com/phetsims/QA/issues/559.
I noticed that the voltage colorization was blockier on Safari 14 then I expected. The blockiness seemed particularly noticeable with the blue negative voltage. Did not see this in Chrome on the same device.

**Visuals**
![Screen Shot 2020-10-1

[2020-10-13 17:09] KatieWoe commented on #190
Interestingly enough, it looks better in screenshots taken with the phet menu

[2020-10-13 22:32] jonathanolson commented on #190
This is a consequence of the workaround for Safari 14. @ariel-phet, how much time would it be worth to investigate trying to get the higher-quality one working? (Already spent about 2 hours)

[2020-10-14 01:05] ariel-phet commented on #190
@jonathanolson @KatieWoe the presentation of voltage is acceptable, especially since this visualization is for giving a qualitative feel and the "blockiness" observed is not problematic in my opinion.

Closing as `wontfix`

[2020-10-14 01:06] #190 closed

[2020-10-19 20:04] ariel-phet commented on #189
Fix has been deployed. Closing

[2020-10-19 20:04] #189 closed

[2020-12-06 14:10] samreid opened #191 "Document why removal must be guarded, or remove the guard"
In https://github.com/phetsims/axon/issues/332 we removed the guard from createObservableArray removal methods.  I added a sim-specific guard in the following commit, but I'm not sure if it should be documented or eliminated.  Assigning to responsible dev to take a look:

https://github.com/phetsims/charges-and-fields/commit/42b4c48cadbb505af949be0f3473c36878559f12

[2021-01-20 17:47] oliver-phet commented on #98
Another email:

[2021-02-19 19:03] pixelzoom commented on #133
@samreid should the "ready-for-review" label be removed here?  From the comments above, it sounds like there's still future work to be done.

[2021-02-19 23:22] samreid commented on #133
I confirmed the equipotential lines can be dragged in master and transmit to the downstream state correctly, closing.

[2021-02-19 23:22] #133 closed

[2021-02-26 16:31] KatieWoe opened #192 "CT cannot add the same listener twice"
[code]

[2021-02-26 21:30] jonathanolson commented on #192
I believe this was fixed by the recent common-code revert.

[2021-02-26 21:30] #192 closed

[2021-04-22 17:55] DianaTavares opened #193 "User request: support 3D visualization"
suggestion from gmelo@elpoli.edu.co

He uses the simulation to apply Gauss's Law.  He suggests making the sim more useful for this by allowing to rotate the view and see the changes in a 3D view. In his university, they have a lab activity where they use a cylindrical closed surface to apply Gauss's Law, So it is not obvious to your students which surface shape to use in the simulation for their c

[2021-11-04 23:16] oliver-phet opened #194 "User suggestion: add potential offset"

[2022-03-17 19:30] jessegreenberg opened #195 "CT: matrix should be a finite Matrix3"
Showing up ever few columns on CT. After about 20 minutes of fuzzing locally I was able to see this.

[code]

[2022-03-17 19:36] jessegreenberg commented on #195
Matrix looks like: `[4, 0, 0, 0, 4, 0, NaN, NaN, 1]`

`initialPoint` in translateToTarget is `Vector2( `NaN`, Infinity)`

`deltaVector` in `translateDelta` is `Vector2( `NaN`, Infinity)`.

[2022-03-17 20:55] jessegreenberg commented on #195
I added an assertion to try to get more information but haven't seen the error again in > 1 hour of local fuzzing.

[2022-03-18 15:34] KatieWoe opened #196 "CT Trying to translate with a non-finite Vector2"
[code]

[2022-03-18 15:37] jessegreenberg commented on #195
The new assertion is showing up on CT and has been noted in phetsims/scenery#1398. Since that is what will be appearing on CT lets move over there.

[2022-03-18 15:37] #195 closed

[2022-03-18 15:38] jessegreenberg commented on #196
This is a new assertion added trying to get more information from https://github.com/phetsims/charges-and-fields/issues/195. Closing that issue and moving over here since this is what CT will be reporting now. This is in my court.

[2022-03-18 15:40] jessegreenberg commented on #196
From #195, I saw this once after fuzzing for ~30 minutes but haven't been able to see it since.

[2022-03-28 16:35] KatieWoe commented on #196
This seems to happening in a few other sims on CT

[2022-03-28 16:51] jessegreenberg commented on #196
Over slack @KatieWoe mentioned she saw this in estimation and equality-explorer as well so far.

[2022-03-28 17:15] jessegreenberg commented on #196
I fuzzed charges-and-fields, estimation, and equality-explorer for 20 minutes and havent seen this issue yet.

[2022-03-28 17:23] KatieWoe commented on #196
They seem to be happening in the pan-and-zoom fuzz test if that helps

[2022-03-28 17:25] jessegreenberg commented on #196
Thanks @KatieWoe, yes I am running with the same query parameters as shown in the original issue
`brand=phet&ea&fuzz&fuzzPointers=2&memoryLimit=1000&supportsPanAndZoom=true`

[2022-03-28 18:46] jessegreenberg commented on #196
I found a potential case where the translation vector can have undefined x and y values and addressed it in the above commit. I am not sure if that is the case causing this though since I haven't been able to reproduce. Will continue to watch over the next several days.

[2022-03-30 13:35] jessegreenberg commented on #196
This showed up again this morning in fractions-intro. But it hasn't shown up again in charges-and-fields. Moving to scenery.

[2022-10-18 03:52] arouinfar commented on #169
This sim isn't a current PhET-iO priority, so unassigning.

[2022-10-20 21:48] Finnventor opened #197 "Redraw equipotential lines instead of deleting them"
https://github.com/phetsims/charges-and-fields/blob/3d4ecf2a9133f9216ae4dc951353371ec9ffd631/js/charges-and-fields/model/ChargesAndFieldsModel.js#L246-L247
Electric potential lines are deleted every time a particle is moved. I think it would be helpful if instead the line was instead redrawn (as if the equipotential tool was used to make it again) from the location of the original click (which see

[2022-11-05 02:34] veillette commented on #197
Thanks @Finnventor  for logging this issue.

We attempted to keep all the equipotential lines present when moving the charges but that proved to be a very difficult  problem technically. For a say 5V equipotential line, the displacement of a charge may cause the equipotential line to move, bifurcate, disappear, or reappear somewhere else.  So it is in difficult to know where to draw such a line wi

[2022-11-07 06:23] Finnventor commented on #197
Thanks, those are some very good points (no pun intended).
Is it feasible to (every time a charge is moved) search for the closest point that has the same potential as the one where the equipotential line was started, and then to use that new point to create a new equipotential line to replace the old one? If no point is found nearby, the line would just be deleted, and if the line splits this wou