[2015-02-05 04:38] bereaphysics opened #1 "Flash simulation can have an equipotential line that terminates"
![image](https://cloud.githubusercontent.com/assets/7633344/6055067/daab118a-acb4-11e4-8269-50ed19745667.png)

The current algorithm to generate equipotential doesn't deal well with electric quadrupole

[2015-02-20 19:20] phet-steele commented on #1
Happens in 1.0.0-dev.3 HTML

[2015-02-20 19:56] phet-steele opened #2 "Equipotential Sensor behavior when placed on top of charges"
The equipotential lines that are drawn when the sensor is placed on top of a charge look strange. If two charges are placed on top of another, the sim will crash or the UI will disappear. The flash version has the strange line issue but not the crashing one.
![chafi](https://cloud.githubusercontent.com/assets/5863899/6307810/37eaf6be-b8fc-11e4-901d-1d4ed555b6eb.gif)

Tested on Win 8.1 and iOS 8 in

[2015-02-20 21:17] orejolaphet opened #4 "No boundary for objects"
Observed on all platforms.
Objects (Charges, Sensors, Equipotential meter) can all be moved off screen, and also moved out of the defined region for the vector field.

Troubleshooting information (do not edit):
Name: Charges And Fields
URL: http://www.colorado.edu/physics/phet/dev/html/charges-and-fields/1.0.0-dev.3/charges-and-fields_en.html
Version: 1.0.0-dev.3
User Agent: Mozilla/5.0 (Windows N

[2015-02-20 23:58] bereaphysics opened #5 "Equipotential line fails near a charge"
![image](https://cloud.githubusercontent.com/assets/7633344/6311537/637ebc00-b921-11e4-90ac-68fffc04410a.png)

[2015-02-21 00:01] veillette commented on #5
The html5 version has the same issue because we use the same algorithm to get the equipotential line.

[code]

The deltaPosition, which is supposed to be a tiny correction ends up being huge.

[2015-02-21 00:05] veillette commented on #5
A stop gap measure is to prevent equipotential line that are too close to the charges.

[2015-02-21 03:12] veillette commented on #2
This is related to issue #5. The crash is being prevented by not pushing an equipotentialLine to the observable array when the line is null. The broken line issue is addressed in #5.

[2015-02-21 03:12] #2 closed

[2015-02-21 03:24] veillette commented on #5
No ticket has ever been issued on this behavior in spite of the fact that the flash simulation has been around for quite sometime. It is a fair indication that this is not a high priority. In nay case, no algorithm will ever be capable of handling all the pathological cases.

In this case, it seems safe to return an empty array when the electric potential sensor is too close to a charged particle.

[2015-03-03 23:54] arouinfar opened #6 "Changes to make to the latest dev version (1.0.0-dev.4)"
As discussed with @bereaphysics and @ariel-phet , there are a few changes to make to the latest dev version.

- [x] E-field should be turned on by default.
- [x] Move equipotential tool, tape measure, and grid to separate toolbox (AR will mock this up and send to MV)
- [x] It should not be possible to drag the equipotential tool, charges, or sensors off screen.
- [x] Increase the area that the E-F

[2015-03-09 20:25] veillette commented on #6
One change to the request
-if the bounds are changing the charges are moving (instead of disappearing) to stay within the 'play' area.
In addition
- work remains to be done on the common code component (measuring tape) since it cannot handle dynamical bounds at the moment.
- the toolbox remains to be done.
- voltage and electric field grid response time is very subpar on ipad2.

[2015-03-09 20:29] veillette commented on #6
Assigning to @arouinfar to create separate issues for tickets that have not been addressed.

[2015-03-09 22:32] bereaphysics opened #7 "Investigate CanvasNode for the electricFieldGridNode"
Given the increasing number of electric field arrows (see #6),  the new dev version
http://www.colorado.edu/physics/phet/dev/html/charges-and-fields/1.0.0-dev.5/ performs unsatisfactorily on the ipad2

[2015-03-18 20:43] arouinfar opened #8 "Toolbox for equipotential tool and tape measure"
As mentioned in #6, we would like to put the equipotential tool and tape measure in a toolbox.

Here's an updated mockup:
![image](https://cloud.githubusercontent.com/assets/8419308/6718050/72d9a1ce-cd76-11e4-809c-e5f6e3e6607d.png)

When clicking on a tool, it should grow to its full size. The equipotential tool will move so that the grab pad at the bottom of the tool is at the cursor location. Th

[2015-03-18 20:43] arouinfar commented on #6
Final outstanding issue has been moved to #8. Closing.

[2015-03-18 20:43] #6 closed

[2015-03-19 22:31] veillette commented on #4
all the tools and movable elements have dragbounds. closing.

[2015-03-19 22:31] #4 closed

[2015-03-24 17:57] arouinfar opened #9 "Should we move the panels outside of the dev boundary when at wider aspect ratios?"
In ESPB, the panels move slightly outside of the dev boundary when at wider aspect ratios:
![image](https://cloud.githubusercontent.com/assets/8419308/6807978/3eacca66-d217-11e4-99c2-c2d2ddf1806a.png)

Should we do the same thing for Charges & Fields? We would open up the play space quite a bit if the panel + toolbox (not pictured) could be moved to the right.
![image](https://cloud.githubusercont

[2015-03-25 01:12] ariel-phet commented on #9
Agreed, it would be a nice touch.

[2015-03-25 21:35] veillette commented on #9
Ok i'll look into implementing this feature

[2015-03-25 23:15] veillette commented on #9
Done closing

[2015-03-25 23:15] #9 closed

[2015-03-31 20:18] pixelzoom opened #11 "branch: webgl"
Please describe this branch and plans for it.

[2015-04-05 01:59] veillette commented on #11
The webgl branch was merged into master. It is no longer necessary. Deleting. Closing

[2015-04-06 22:13] jonathanolson commented on #11
Using this branch, republished. Need to do additional work for iPad compatibility.

[2015-04-10 17:22] bereaphysics opened #12 "The charges should be inactive when released in the enclosure area."
Currently when the charges are animated back to the enclosure, they are active that is that they affect the electric potential and field (as well as delete the electric potential field lines) It would be preferable to have a flag that renders then inactive when released in the enclosure. In addition a charge that was picked from the enclosure and released in the enclosure ( in a single start/drag/

[2015-04-10 17:30] veillette commented on #12
Present in dev 1.0.0 dev 7

[2015-04-10 17:42] bereaphysics opened #13 "Review MeasuringTape in charges and fields and consider it for common code for sceneryPhet"
The charges and fields MeasuringTape has several additional features than the measuring tape found in SceneryPhet (as well as different options). Currently three sims make use of a measuringTape: FPAF, GAO, and CAF.  Assigning to @aaronsamuel137 for a review.

[2015-04-10 17:49] aaronsamuel137 opened #14 "[Measuring Tape]: setting ModelViewTransform should update base and tip position"
I haven't gotten a chance to look at the actual code yet, but I am seeing some buggy behavior in GAO when setting the MVT.

Pull from GAO master and go to screen 2. Add the tape, and then adjust the scale slider in the top right. Then move the tape. The tape will "jump" all of a sudden to the new location as determined by the MVT.

I think setting the MVT should update the position of the base and

[2015-04-10 17:56] aaronsamuel137 opened #15 "[Measuring Tape]: Sliding tape out of bounds will remove tape line"
Happens in both CAF and GAO. If you slide the tape to the edge of the right boundary and slide it back into bounds, the tape line disappears and the distance is reset to 0. Is this intentional or should it be changed?

[2015-04-13 14:52] aaronsamuel137 opened #16 "[Measuring Tape] Commented code"
During code review #13 for the measuring tape, I noticed this commented line:

[code]

I wanted to check with you before deleting it, in case it is there as a reminder to you for something.

[2015-04-13 14:53] aaronsamuel137 commented on #15
Related to code review #13

[2015-04-13 14:53] aaronsamuel137 commented on #14
Related to code review #13

[2015-04-13 14:56] aaronsamuel137 commented on #14
Also, once we verify that updating the MVT scales the tape properly in GAO, we can get rid of "scaleProperty". This was needed in the old MLL version of GAO, but not in the new direct port.

[2015-04-13 17:13] veillette commented on #15
Yes it is a "feature'. The two points (base and tip) are subject to drag bounds. In CAO, it is possible to change the dragBounds dynamically. If one doesn't constrain the tip, it is possible to set the measuring Tape in a state such that the tip can never be resized since the measuringTape becomes larger the the bounds. Hence the reason to make the tip subject to dragBounds. However, there are man

[2015-04-13 21:10] veillette commented on #14
Setting the modelviewTransform  calls an update function on the measuringTape. I also deleted the scaleProperty. Assigning to @aaronsamuel137  for a review

[2015-04-13 21:11] veillette commented on #16
I deleted that line of code but I tagged the wrong issue. Closing

[2015-04-13 21:11] #16 closed

[2015-04-13 21:51] veillette commented on #15
@aaronsamuel137 , it is implemenetd. The tip of the measuring tape can/cant be dragBounded via the option isTipDragBounded.  It is set to false by default.

[2015-04-13 22:06] aaronsamuel137 commented on #14
Looks great! Closing

[2015-04-13 22:06] #14 closed

[2015-04-13 22:06] aaronsamuel137 commented on #15
Thanks for adding this. Seems to work as expected. Closing

[2015-04-13 22:06] #15 closed

[2015-04-13 22:15] aaronsamuel137 opened #17 "[Measuring Tape] possible confusion with scenery options"
During code review #13, I noticed that measuring tape calls ```this.mutate( options )```.

I think this is potentially useful, but also could be confusing. If you set x, y, etc. the entire bounds with the measuring tape are positioned. Perhaps there should be an assert if these are set? Or maybe we should just warn in the documenting that position should be set with basePositionProperty instead of

[2015-04-14 16:20] veillette commented on #8
The toolbox has been completed. closing

[2015-04-14 16:20] #8 closed

[2015-04-14 16:32] veillette commented on #17
This looks like a similar issue with the scenery phet measuring tape, https://github.com/phetsims/scenery-phet/issues/126

Indeed you don't want to set x and y in this manner. I'm not sure on the upside of having mutate(options). At the very least we should put documentation about the proper way to position the measuringTape.

[2015-04-14 21:49] veillette commented on #12
Commited in https://github.com/phetsims/charges-and-fields/commit/06896f3fd85bbaba6237f4056d12d65ec375bc6d
Closing

[2015-04-14 21:49] #12 closed

[2015-04-17 18:34] veillette commented on #5
Forgot to close. FIxed. closing

[2015-04-17 18:34] #5 closed

[2015-04-17 18:46] phet-steele opened #18 "Unable to drag multiple of the same draggable particles at once"
1. Drag and hold a charge over the play area, don't let go!!
2. While still holding the charge press the reset all button with another finger.
3. Still don't let go! Now trying to drag out another charge of the same type you began with is not possible. Works with sensors, too.

Additionally, if you don't proceed to step two, you still can't drag out multiple things anyway.

Tested in 1.0.0-dev.9

[2015-04-17 18:50] phet-steele opened #19 "Invisible particles"
1. Drag and drop a particle on the play area.
2. Pick it back up and don't release it, ever.
3. Press the reset all button with another finger.
4. Pick up another particle and drop it in the play area (remember you're still holding the particle from step one, don't let go!).
5. Move your original finger around (from step 2) and then you'll have an invisible particle.

Tested on 1.0.0-dev.9

[2015-04-17 18:56] phet-steele opened #20 "Equipotential sensor and measuring tape multitouch"
These steps require both the equipotential sensor and measuring tape to be out on the play area simultaneously.
1. Once they are both out, choose one and hold your finger on it and never let go of it.
2. With another finger press the reset all button.
3. Whichever object you chose in step 1, drag it back out with another finger. The object should jump to the location of your original finger.

1.0.

[2015-04-17 21:41] pixelzoom opened #21 "charges-and-fields-colors.html is broken"
charges-and-fields-colors.html is broken, console error message:

Noticed this while working on https://github.com/phetsims/sun/issues/171, which involved removing ChargedAndFieldsColors.controlPanelTextDisabled and checkBoxDisabled. I thought I might have broken something, but reverted my changes and the problem persisted.

Recommend to either fix this or delete charges-and-fields-colors.html.

[2015-04-17 23:12] veillette commented on #21
thanks @pixelzoom. I removed the unnecessary colors. Closing

[2015-04-17 23:12] #21 closed

[2015-04-18 18:46] bereaphysics opened #22 "usercreator node has only one simpleDragHandler."
Currently it is not possible to drag a second electric sensor from the enclosure without letting go of the first one. In a multi touch environment, one should be able to drag simultaneously several sensors.

[2015-04-18 20:59] veillette commented on #18
We need a createDragHandler function. There is currently only one dragHandler per particle.

[2015-04-18 21:00] veillette commented on #19
This happens on all the platform. This is not an invisible particle though. It only affects the electric field. It is the result of calculating the electric field through delta contributions. You can clearly see that you have created a dipole moment in this fashion.

[2015-04-18 21:01] veillette commented on #19
Reset the grids to zero will address this issue. Closing

[2015-04-18 21:01] #19 closed

[2015-04-18 21:13] veillette commented on #22
Closing

[2015-04-18 21:13] #22 closed

[2015-04-18 21:14] veillette commented on #18
Addressed in https://github.com/phetsims/charges-and-fields/commit/42d613a018e55fe8617b4703caf2c372e9d70319

Closing

[2015-04-18 21:14] #18 closed

[2015-04-20 20:11] veillette commented on #17
The documentation was added.

[2015-04-20 20:11] #17 closed

[2015-04-20 20:12] veillette commented on #13
The measuring tape was transfered to scenery-phet.

[2015-04-20 20:12] #13 closed

[2015-04-28 14:42] veillette commented on #1
Here is a workaround to address this issue. Since it is a very special case,that relies on a very symmetric charge configuration AND a starting point that lies on a symmetric line, it is not worth investing a lot of time in finding a better algorithm (such as marching squares) to generate an equipotential line.

It is relatively easy to find out if a line terminates on the play ground without clos

[2015-04-28 14:43] veillette commented on #1
The idea is that the weeVector is so small it will be an imperceptible offset that will not be noticed by the user.

[2015-04-28 14:50] veillette commented on #7
On ipad 2, we get about 10-20 fps with the electric field, and about 30fps with the voltage field in portrait mode.

[2015-04-30 21:03] veillette commented on #11
@jonathanolson can we delete this branch (webgl) at this point?

[2015-04-30 21:04] bereaphysics opened #23 "Internal Review"
PhET code-review checklist
=============

**Build and Run Checks**

- [x] Does the sim pass jshint?
- [x] Does the sim build without errors?
- [x] Does the sim start up? (requirejs and built versions)
- [x] Does the sim experience any assertion failures? (run with query parameter 'ea')
- [x] Does the sim pass a scenery fuzzer test? (run with query parameter 'fuzzMouse')
- [x] Are there any strings

[2015-05-01 19:05] phet-steele opened #24 "Crossing equipotenials"
@bereaphysics is aware of this issue, I'm making this for reference to the setup.

![screen shot 2015-05-01 at 12 57 25 pm](https://cloud.githubusercontent.com/assets/5863899/7435607/31f123c2-f002-11e4-8eaf-82576bead76f.png)

![screen shot 2015-05-01 at 1 02 07 pm](https://cloud.githubusercontent.com/assets/5863899/7435621/51de031c-f002-11e4-8142-f3f6275612d4.png)

![screen shot 2015-05-01 at 1 04

[2015-05-01 19:14] ariel-phet commented on #24
@phet-steele it might be good to know if this exists in the original flash sim

[2015-05-01 19:35] phet-steele commented on #24
I couldn't with the above setup. I honestly didn't expect this to occur in the flash since @bereaphysics mentioned before I found this that he had changed the way the lines are drawn and warned me something like this would happen, so of course I had to make it happen. I think it's just something he changed in the HTML5 code himself.

[2015-05-01 20:46] veillette commented on #23
Good enough. Closing

[2015-05-01 20:46] #23 closed

[2015-05-01 22:55] oliver-phet opened #25 "User suggestions for Charges and Fields"
1.  It would be great if the electric field arrows were evaluated and displayed on the intersections of the grid.
This way if you put a charge on an intersection and looked at the field directly above it would point directly away.
(see screenshot).

2. It would be nice to be able to save a particular configuration.  Even if just the locations of the particle were saved.  Saving the settings “grid

[2015-05-01 23:39] ariel-phet commented on #25
Suggestion (1) has already been implemented in the HTML5 version

Suggestion (2) is a bit more complicated and especially with the alignment of the field and grid, it will be easy to recreate certain patterns. As Save and Load features of sims become more possible this may not require a special addition to the sim.

[2015-05-07 00:26] jonathanolson commented on #11
Yup, removed it.

[2015-05-07 00:26] #11 closed

[2015-05-10 04:41] bereaphysics opened #26 "Remove electric field lines"

[2015-05-10 04:51] bereaphysics opened #27 "Toolbox panel is not aligned with control panel"

[2015-05-10 04:57] veillette opened #28 "Code Review of Charges and Fields"
PhET code-review checklist
=============

**Build and Run Checks**

- [x] Does the sim pass jshint?
- [x] Does the sim build without errors?
- [x] Does the sim start up? (requirejs and built versions)
- [x] Does the sim experience any assertion failures? (run with query parameter 'ea')
- [x] Does the sim pass a scenery fuzzer test? (run with query parameter 'fuzzMouse')
- [x] Are there any strings

[2015-05-11 16:52] veillette commented on #26
The electric field lines were removed. closing

[2015-05-11 16:52] #26 closed

[2015-05-11 16:53] veillette commented on #24
This has been addressed in the new drawing algorithm. it is not as fast as before but it will prevent this kind of situation. good finding @phet-steele . closing

[2015-05-11 16:53] #24 closed

[2015-05-11 17:00] veillette commented on #28
Assigning the code review to @aaronsamuel137.

[2015-05-12 23:48] veillette commented on #1
No issues came up while testing. Closing

[2015-05-12 23:48] #1 closed

[2015-05-14 23:26] aaronsamuel137 opened #29 "console.log and TODO in ElectricPotentialSensorNode"
I noticed this when running the fuzz tester. The TODO says to get rid of the timing - should this be done now, or is it still needed? Is the console.log still needed?

See code review #28.

[2015-05-14 23:37] aaronsamuel137 opened #30 "Missing assets/*-screenshot.png"
Needs a screen shot checked in under assets. Should be 2048x1344, PNG, 32-bit color with the browser chrome chopped off.

[2015-05-20 00:16] samreid opened #31 "Different pointer/object offset dragging out of the toolbox vs dragging from the play area"
When dragging out of the toolbox, the object appears at the x-coordinate of the toolbox icon and above the y-coordinate of the toolbox icon, which means the relative point can be different depending on where the user clicked in the toolbox icon.

My OS X screen shots weren't including the cursor, so I made a movie instead:

![pointers](https://cloud.githubusercontent.com/assets/679486/7716674/a60c

[2015-05-20 01:13] ariel-phet opened #32 "Charges and Fields Master Checklist"
## Design
- [x] **Design doc created** (Date: 12/02/2014 )
  - [x] Make phethelp@gmail.com owner, share with phet-team
  - [x] Add to [Master Doc List](https://docs.google.com/document/d/1yjT1oE95JG_evwob9LB_De-brD7JpfFM6iIL6pF812k/edit#)
- [x] **Legacy sim docs/info gathered**
- [x] **Learning goals and standards identified** (Date: / / )
- [x] **Design concept complete**  (Date: 02/05/2015)
- [x

[2015-05-20 15:00] aaronsamuel137 opened #33 "dev query param does nothing"
In code review #28, I noticed that the dev param code is still identical to the simula-rasa template, and does nothing:

[code]

Not sure what our convention is here. Leave this in case we want it later, or just take it out all together. Any other developers have thoughts on this?

[2015-05-20 15:22] aaronsamuel137 opened #34 "Possible memory leaks in ChargesAndFieldsModel"
During code review #28, I noticed that the function passed to ```this.chargedParticles.addItemAddedListener``` calls link 3 times on properties of the chargedParticle, but that the function passed to ```this.chargedParticles.addItemRemovedListener``` never calls unlink.

Most of the PhET code I have seen that uses ObservableArray calls unlink when an item is removed from an ObservableArray, as can

[2015-05-20 15:29] aaronsamuel137 commented on #34
The electricFieldSensors ObservableArray looks like it has a similar issue.

[2015-05-21 02:19] aaronsamuel137 opened #35 "TODO in ChargesAndFieldsToolboxPanel"
Noticed a TODO during code review #28:

[code]

Not totally sure what this is referring to. Has it been taken care of? Should it be done before this sim is released?

[2015-05-21 02:37] aaronsamuel137 commented on #35
There is another TODO at the bottom of this file:

[code]

[2015-05-21 14:48] samreid commented on #33
I'd recommend to delete this from simula-rasa and from all sims where it is a no-op.

[2015-05-21 15:27] aaronsamuel137 commented on #35
Another TODO in ElectricPotentialGridMobileWebGLNode:

[code]

[2015-05-21 15:46] aaronsamuel137 opened #36 "drawable.clearShaderProgram not disposed in ElectricPotentialGridWebGLNode"
I don't understand the webgl code well enough to know for sure if this is an issue or not. But I noticed during code review #28 that drawable.clearShaderProgram is not disposed of whereas the other shaderPrograms are.

[code]

[2015-05-21 15:50] aaronsamuel137 opened #37 "Atypical documentation style in ElectricPotentialLinesNode"
During code review #56 I noticed this atypical way of documenting private classes:

[code]

I have never seen this elsewhere in PhET code. Seems like we should use the standard JSDoc form for functions here as well. Or is there a reason why this style is used instead?

[2015-05-21 16:28] aaronsamuel137 opened #38 "Add documentation to PencilNode and EraserNode"
During code review #56, I noticed tons of code like this in PencilNode and EraserNode:

[code]

I think it would be useful to document where all of these coordinates are coming from, perhaps with a link to the source?

[2015-05-21 16:40] aaronsamuel137 opened #39 "constrainLocation code duplicated"
During code review #28, I noticed the constrainLocation code duplicated twice (once in UserCreatorNode and once in ChargesAndFieldsToolboxPanel). It also occurs in MovableDragHandler, which I believe is where it was copied from.

[code]

Perhaps this should be moved to common code somewhere? Maybe DOT.Uitl? Any thoughts on this @pixelzoom?

[2015-05-21 16:54] pixelzoom commented on #39
A few options...

Add instance functions to Bounds2:

[code]

Add instance function to Vector2:

[code]

Add static functions to DOT.Util:

[code]

Adding to Bounds2 is most similar to other 'constrain' functions in Bounds2, and Range.constrainValue. I like the static functions in DOT.Util the least.

Get @jonathanolson's opinion too.

[2015-05-21 18:36] samreid commented on #37
Yes, standard JSDoc would be good here as well.

[2015-05-21 22:59] aaronsamuel137 commented on #37
Fixed. Closing

[2015-05-21 22:59] #37 closed

[2015-05-21 22:59] aaronsamuel137 commented on #36
Assigning to @jonathanolson since he is probably familiar with the WebGL code.

[2015-05-22 01:18] jonathanolson commented on #36
Good catch! Added disposal for it in the above commit.

[2015-05-22 01:18] #36 closed

[2015-05-22 16:12] aaronsamuel137 commented on #39
Adding to Bounds2 seems like a good way to go to me. Do you have any thoughts @jonathanolson?

[2015-05-22 16:32] aaronsamuel137 commented on #33
Deleted from CAF. We can make a separate issue for simula-rasa if that seems useful. Closing here.

[2015-05-22 16:32] #33 closed

[2015-05-22 17:48] aaronsamuel137 commented on #34
This has been fixed. Closing

[2015-05-22 17:48] #34 closed

[2015-05-22 17:49] aaronsamuel137 commented on #28
I've finished the code review. @bereaphysics, please review any changes I have made and make sure they look good to you. My changes are all referenced in this issue and in the closed issue #34.

[2015-05-22 18:19] jonathanolson commented on #39
As noted in https://github.com/phetsims/dot/issues/28, I'd prefer bounds.closestPointTo( ... ) if it will be in dot. Constrain to me doesn't describe which point is chosen.

[2015-05-22 19:37] aaronsamuel137 commented on #39
Sounds like Bounds2 is the preferred location for this. Any objections to adding closestPointTo to Bounds2 @pixelzoom? If not, I'll go ahead and add this method.

[2015-05-22 19:49] pixelzoom commented on #39
Sounds good.

@jonathanolson Do you think we should change Range.constrainValue to Range.closestValueTo? Or something else?

[2015-05-22 19:53] jonathanolson commented on #39
I'd prefer closestValueTo, since it seems more descriptive.

[2015-05-22 19:54] jonathanolson commented on #39
Also, to me 'constrain' sounds more like a mutable operation, where if you x.constrain( y ), now y has been constrained.

[2015-05-22 20:51] aaronsamuel137 commented on #39
added closestPointTo and removed constrainBounds from CAF files as well as movableDragHandler. Looks like constrainBounds has also been copied into Bending Light and used all over that sim. Made an issue there to replace with closestPointTo eventually: https://github.com/phetsims/bending-light/issues/49.

Feel free to review and close if you'd like @jonathanolson or @pixelzoom.

[2015-05-22 21:04] jonathanolson commented on #39
Looks good to me.

[2015-05-22 21:04] #39 closed

[2015-05-26 20:00] arouinfar opened #40 "Change color of pencil and eraser buttons"
As reported in https://github.com/phetsims/scenery-phet/issues/92 by @pixelzoom:

The pink eraser is not necessary for this sim. To make the common-code eraser image more visible on the button, the button color should be changed to RGB (242, 242, 242).

Here is a screenshot of the equipotential tool with updated buttons:
![image](https://cloud.githubusercontent.com/assets/8419308/7821870/e38cb8ca-

[2015-05-26 20:20] pixelzoom commented on #40
Switched to scenery-phet.EraserButton in https://github.com/phetsims/charges-and-fields/commit/21cb8b45de8defc1215a0349aca9abd1ce102f14, changed PencilButton color in above commit.  Here's a screenshot:

![screenshot_530](https://cloud.githubusercontent.com/assets/3046552/7822387/595ea5ba-03b2-11e5-861f-85facd67d2e1.png)

[2015-05-26 20:21] pixelzoom commented on #40
Assigning to @arouinfar for approval.  Note that the color looks darker than your screenshot, but I am indeed using rgb(242,242,242).

[2015-05-26 20:52] arouinfar commented on #40
Thanks, @pixelzoom. Can you try #F2F2F2 instead?

[2015-05-26 21:02] pixelzoom commented on #40
@arouinfar here is #F2F2F2:

![screenshot_531](https://cloud.githubusercontent.com/assets/3046552/7823358/2a1b91e0-03b8-11e5-81cc-4d15152905ff.png)

[2015-05-26 21:18] pixelzoom commented on #40
@arouinfar here's '#F2F2F2'.

![screenshot_532](https://cloud.githubusercontent.com/assets/3046552/7823674/6f348b5e-03ba-11e5-9a30-1d9cc54efa9c.png)

[2015-05-26 21:19] arouinfar commented on #40
Looks good, @pixelzoom! Closing.

[2015-05-26 21:19] #40 closed

[2015-06-03 15:15] veillette commented on #28
Thanks for all the work  @aaronsamuel137 I'll have a look at the issues you raised shortly

[2015-06-03 15:25] veillette commented on #38
Maybe @jonathanolson  can weigh in on this.

The pencilNode is drawn in code which can be convenient to change the colors. However all the positions are fixed and given with fixed number such as above. This pencilNode is attached to the electricPotential sensor that is dragged around.
At the time this node was created, @pixelzoom had mentionned that there were issues with downscaling figures but t

[2015-06-03 15:34] ariel-phet commented on #28
@bereaphysics - just to let you know, we have lots of QA resources available, so we will be able to do testing quickly once you give the green light.

[2015-06-03 15:39] veillette commented on #31
Thanks @samreid. There is indeed two separate dragHandlers for moving the charges. As far as I know this is unavoidable if you want to grab elements from an infinite well/bucket. You do need one attached to a static object, and one additional draghandler attached to the moving object. If there is another way to do it I would really like to know.

Typically though the two draghandlers behave in suc

[2015-06-03 15:41] aaronsamuel137 commented on #38
Looks like @pixelzoom decided to go with the png image in EraserNode when addressing https://github.com/phetsims/scenery-phet/issues/92. Perhaps that would be the way to go here too? But I'd like to hear other developers' opinions too.

[2015-06-03 16:48] veillette commented on #29
Unless there is a performance issue in the release candidate this wont be needed. Console.log and TODO are removed. Assigning to @aaronsamuel137  for review.

[2015-06-03 16:52] veillette commented on #30
@arouinfar : I am going to ask you to do the screenshot. You can use the most recent dev version. I can check the screenshot in if you don't know how.

[2015-06-03 16:56] veillette commented on #27
This has been fixed in a previous commit.

[2015-06-03 16:56] #27 closed

[2015-06-03 16:57] aaronsamuel137 commented on #29
Looks good. Closing.

[2015-06-03 16:57] #29 closed

[2015-06-03 17:02] veillette commented on #38
For myself: The png file was checked in here:
https://github.com/phetsims/charges-and-fields/blob/22e0547a3764d2040b1dd08d797498e4b8ffa73f/images/pencil.png

[2015-06-03 17:13] veillette commented on #35
Thanks @aaronsamuel137

with respect to the second TODO, i had a question for @jonathanolson:
While trying to create an icon for the measuringTape I found that measuringTapeIcon cannot be an empty node but must contain a token node (in this case a rectangle). I'm not sure why this is necessary, although it did fix the problem with shifting of the panel upon resizing. Is there a more elegant way to

[2015-06-03 17:27] arouinfar commented on #30
Screenshot has been created and emailed to @bereaphysics to check in.

[2015-06-03 17:45] veillette commented on #30
The screenshot has been checked in. It has the requested size and filetype. Assigning to @aaronsamuel137 for review

[2015-06-03 22:21] pixelzoom commented on #38
For something as complicated as the pencil, I'd stick with an image file - PNG for now, hopefully SVG in the future.

[2015-06-04 19:13] aaronsamuel137 commented on #30
Looks good. Closing

[2015-06-04 19:13] #30 closed

[2015-06-09 14:13] veillette commented on #38
Let's go with the png route. @arouinfar has the asset pencil.ai file. You can check it in or email it to me.

[2015-06-09 14:25] pixelzoom commented on #38
In either case, please check in pencil.ai.

[2015-06-09 14:35] veillette commented on #35
Assigning to @jonathanolson: There are two things to do (1) address a TODO in ElectricPotentialGridMobileWebGLNode, (2) review the pasted code above to see if it is a sensible approach.

[2015-06-09 16:53] arouinfar commented on #38
I've emailed the pencil.ai file to @bereaphysics to check in.

[2015-06-09 21:25] veillette commented on #38
EraserNode was deleted by @pixelzoom and is replaced by the scenery-phet eraser.
The PencilNode is now making use of the image (instead of the scenery code). The new png image as well as the ai file were checked in. Assigning to @aaronsamuel137 for review.

[2015-06-09 22:13] ariel-phet commented on #25
Since we have addressed (1) - we will currently punt on (2) as we hope such possibilities will exist for all sims in the future with our interoperable goals.

[2015-06-09 22:13] #25 closed

[2015-06-10 15:14] aaronsamuel137 commented on #38
Looks good to me. Closing

[2015-06-10 15:14] #38 closed

[2015-06-10 15:19] jonathanolson commented on #35
Necessary for what particularly? It looks like one pattern that would be used to ensure the correct bounds before the image is loaded, but they appear to have different bounds.

The rectangle covers an X range from a left of `measuringTape.width - unspooledMeterTape` to a right of `2 * measuringTape.width - unspooledMeterTape`, and a Y range of `measuringTape.height - 5` to `2 * measuringTape.heig

[2015-06-10 15:19] jonathanolson commented on #35
(Also fixed my TODO in the WebGL implementation).

[2015-06-21 17:19] veillette commented on #35
Replacing the rectangle by the measuringTape itself simplify the entire approach.

[2015-06-21 17:20] veillette commented on #35
The last TODO was removed. Assigning to @aaronsamuel137  for review.

[2015-06-22 14:05] aaronsamuel137 commented on #35
Looks good. Closing

[2015-06-22 14:05] #35 closed

[2015-06-22 18:09] bryo5363 opened #41 "Equipotential lines disappear when adding an additional charge"
I assume this is due to the equipotential lines changing, but could they be manipulated into the correct equipotentials upon adding a new charge?

[2015-06-22 19:10] elisemorgan opened #42 "Unable to open on Safari 6 w/ OS X 10.8"
Test device: MacBook Pro

Operating System: OS X 10.8

Browser: Safari 6.0 (8536.25)

Description: Sim doesn't start, displays black screen.

Steps to reproduce: Click on either test URLs in testing matrix.

Severity:

Screenshots:
![screen shot 2015-06-22 at 12 55 29 pm](https://cloud.githubusercontent.com/assets/12610678/8290373/e72706de-18df-11e5-991b-e3b8862fe1f5.png)
![screen shot 2015-06-22

[2015-06-22 19:53] phet-steele opened #43 "Charge jumping distance while grabbed varies"
The charges, when picked up from the bin, jump above the cursor higher than when they are picked up from the play field. I only say this because, on a touch screen, I am perfectly able to see the charge when grabbing from the bin, but when grabbing from the play area the charge doesn't jump up far enough and it is still hidden under my finger. In these gifs, the difference lies in the distance bet

[2015-06-22 20:06] elisemorgan opened #44 "Equipotential values block each other"
Test device: Chromebook

Operating System:

Browser: Chrome 43.0.2357.81

Problem description: The values of the equipotential lines will block each other. The values can't be moved along the lines or clicked to be displayed in front.

Steps to reproduce: Make a few equipotential lines which are close together, display values,

Severity:

Screenshots:
(Problem can be seen in upper-left of screensh

[2015-06-23 13:26] veillette commented on #41
Good suggestion @bryo5363 . It would be preferable to have the equipotential lines 'evolve' rather than just disappear. Mathematically it is not a trivial problem since you are searching for an equipotential line that may share not common point with the previous equipotential line. In fact it may not longer exist depending on the configuration of charges. I attempted a weak version of this problem

[2015-06-23 13:29] veillette commented on #42
@elisemorgan : can you test the same platform but with the flag ?webgl=false in the url. I suspect it may have to do with it. Also for this case can you post  the 'report a problem' dialog.

[2015-06-23 13:33] veillette commented on #43
This is somewhat related to issue https://github.com/phetsims/charges-and-fields/issues/31.

This simulation has two distincts behaviors for the draghandlers. The first one applies only when you grab the charge/sensor from the enclosure (and is used until you release the charge) and there is a second drag handler behavior that applies to all subsequent drag events of the charge./sensor from the pl

[2015-06-23 14:08] veillette commented on #44
The center position of the label is the position chosen by the user. None of the labels are aware of the position of the other labels. Hence there is a possibility of overlap if the client chooses equipotential points that are near one another.

I see three options here:
(1) Punting: this issue is only present if there are numerous equipotential lines and the checkbox 'values' has been checked.
(2

[2015-06-23 14:10] veillette commented on #44
@arouinfar , @ariel-phet: do you care to chime in?

[2015-06-23 14:46] ariel-phet commented on #44
Hmm, I have seen this before, it can be a bit confusing. I noticed it when I tried making very tight equipotential lines around a single charge to check if the calculations were correct, and a few numbers overlapped, at first making me think the calculations were incorrect, until I realize what was going on.

I definitely think we should minimize the black background rectangle, it is a bit bigger

[2015-06-23 14:48] ariel-phet opened #45 "Pencil icon a bit aliased on FF"
![pencil](https://cloud.githubusercontent.com/assets/4051174/8308906/b507e6f0-1984-11e5-812a-76b91e1fe92c.PNG)
The pencil icon on the equipotential tool seems a bit aliased on FF, perhaps consider mipmaping?

[2015-06-23 14:55] veillette commented on #45
We have recently change to way we draw the pencil (see https://github.com/phetsims/charges-and-fields/issues/38) It was previously done in scenery code but we have switched to png. I'll look into mipmapping but we can always revert to the scenery code push come to shove.

[2015-06-23 15:49] elisemorgan commented on #42
@bereaphysics I flagged ?webgl=false in both the testing URL and the iFrame URL and still nothing. In both, the PhET Interactive Simulations icon pops up for a second and displays "loading" then shows just the black screen above. Neither are giving me the option to 'report a problem.' Is there a way to access the dialog without the usual button?

[2015-06-23 16:04] veillette commented on #42
Sorry for the oversight, of course you can't even access the 'report a problem' button.

At this point we know that it is not due to the webgl mode. One would need to see the console in the developper tool to find out more about this issue. Since I dont have access to this platform i'll pass this issue to @ariel-phet to reassign to one of the developer.

[2015-06-23 16:20] veillette commented on #42
Informed by @jonathanolson that "I think we don't support Safari 6 due to the heisenbug"
The test matrix was copy pasted from an old test matrix and might not reflect the platforms you have decided to drop recently.

[2015-06-23 16:28] elisemorgan commented on #42
@ariel-phet should this issue be closed then?

[2015-06-23 16:37] ariel-phet commented on #42
No, the issue should not be closed. Our sims should open on OSx 10.8.5 and Safari 6.2 -- for instance Molecule Shapes was tested on this platform.

Assigning to @jonathanolson to investigate

[2015-06-23 17:07] orejolaphet opened #46 "Completely overlapped charges still display E-field with direction only selected"
Partially a question @ariel-phet, but I don't think the E-field direction should be displayed when the net charge at a point is zero.  Isn't the E-field explicitly zero?

To reproduce just overlap two charges

With out only direction selected the magnitude of the vectors are zero. No E-field is seen
![efield1](https://cloud.githubusercontent.com/assets/5631059/8312042/b5106222-1997-11e5-8254-3b095

[2015-06-23 17:25] arouinfar commented on #44
I agree with @ariel-phet. Try minimizing the black rectangle and adding a little transparency, @bereaphysics.

[2015-06-23 17:54] veillette commented on #46
Most likely the charges are not quite on top of another and it forms a (very) weak dipole. (according to the direction of the electric fields, the negative charge is slightly to the left of the positive charge).  The (yellow) electric sensor could indicate the magnitude which is most likely very small, however  there is the option to indicate the direction of the electric field irrespective of the

[2015-06-23 18:28] orejolaphet commented on #46
@bereaphysics I believe this is a bug as the "Direction only" E-field is not that of a dipole moment, also from the point you over lap the two charges, deselecting and selecting the E-field option forces all the E-field lines in to the same direction, which is definitely incorrect.

To reproduce:
Over lap two opposite charged particles so that the E-field vanishes
Select Direction only
Unselect El

[2015-06-23 18:34] veillette commented on #46
Your reasoning is sound. Your first instance might be related to a floating point error where mathematically the resulting electric field should be zero but there is not an exact cancellation due to the floating point error. Just a guess. I'll investigate it.

The sims does have some logic about not displaying the electric field direction when there is no charge on the play area. However is doesn'

[2015-06-23 19:56] orejolaphet opened #47 "Slower performance on iPad"
Slower performance compared to desktop on iPad 2 iOS 8.3

[2015-06-23 19:56] jonathanolson commented on #42
@ariel-phet, the above test was for Safari 6.0 (unsupported), since our website mentions Safari 6.1+. I can check on a device here to see if 6.0 is the problem.

[2015-06-23 20:01] jonathanolson commented on #42
Math.log10 isn't defined, should be easy enough to implement log base 10 with Math.log. Should I take care of the change?

[2015-06-23 20:08] jonathanolson commented on #42
Implemented, let me know what I should do further.

[2015-06-23 20:42] veillette commented on #45
The pencil image is mipmapped. Assigning to @ariel-phet to review once we issue a new release candidate.

[2015-06-23 20:47] veillette commented on #47
@orejolaphet: can you give us some detail on what aspect(s) of the simulation is(are) slow. In addition can you tell us if webGL is enabled on this platform. (It should be indicated under 'report a problem').

[2015-06-24 18:00] phet-steele opened #48 "Charge only stays at your finger during screen rotation after it's been placed in the play area"
Another issue dealing with differences when grabbing from the bin versus grabbing from the play area. On tablets, grabbing from the bin then rotating the screen will not cause the charge to jump to the location of your finger. Grabbing from the play area and rotating the screen does however bring the charge to your finger.
Tested on an iPad Air 2.

[2015-06-24 18:01] phet-steele commented on #48
Troubleshooting information (do not edit):
Name: Charges And Fields
URL: http://www.colorado.edu/physics/phet/dev/html/charges-and-fields/1.0.0-rc.1/charges-and-fields_en.html
Version: 1.0.0-rc.1 2015-06-22 16:50:22 UTC
Features missing: fullscreen
Flags: pixelRatioScaling
User Agent: Mozilla/5.0 (iPad; CPU OS 8_3 like Mac OS X) AppleWebKit/600.1.4 (KHTML, like Gecko) Version/8.0 Mobile/12F69 Safa

[2015-06-24 19:20] phet-steele opened #49 "touchSnag doesn't work when a pointer is already down during reset"
1. While holding a charge (or other object/tool) with one finger (Finger A), press the reset all button with another finger (Finger B).
2. Never let up on Finger A.
3. With Finger B, drag out another object from its bin.
4. Place this new object in the play area, and notice while moving Finger A over this new object, it does not get picked up.

After maybe 50 minutes of messing with this issue, I'

[2015-06-24 19:20] phet-steele commented on #49
Troubleshooting information (do not edit):
Name: Charges And Fields
URL: http://www.colorado.edu/physics/phet/dev/html/charges-and-fields/1.0.0-rc.1/charges-and-fields_en.html
Version: 1.0.0-rc.1 2015-06-22 16:50:22 UTC
Features missing: fullscreen
Flags: pixelRatioScaling
User Agent: Mozilla/5.0 (iPad; CPU OS 8_3 like Mac OS X) AppleWebKit/600.1.4 (KHTML, like Gecko) Version/8.0 Mobile/12F69 Safa

[2015-06-24 20:09] orejolaphet commented on #47
@bereaphysics performance slows down once you have 2 charges placed with the E-field displayed.
The vectors rotate very slowly and choppy on the iPad. Slow performance with WebGl enabled and ?webgl=false.

Here is the Trouble Shooting information

Troubleshooting information (do not edit):
Name: Charges And Fields
URL: http://www.colorado.edu/physics/phet/dev/html/charges-and-fields/1.0.0-rc.1/cha

[2015-06-24 20:14] orejolaphet opened #50 "Sim does not open on Win 7 w/ IE 10"
After the PhET loading screen the sim page is completely black. This occurs with & without ?webgl=false

IE version: 10.0.9200.17357
Windows 7 Home Premium 64-bit

[2015-06-24 20:44] orejolaphet opened #51 "Sim does not open on iPad 2 iOS 7.1"
Same situation as issue https://github.com/phetsims/charges-and-fields/issues/50
After PhET loading screen the sim page is black. Occurs with webgl enabled and disabled.

[2015-06-25 14:07] veillette commented on #50
This is most likely due to the use of log10. Log10 is part of es6, not es5. This will be corrected in the next release candidate.

[2015-06-25 14:08] veillette commented on #50
See #42

[2015-06-25 14:08] veillette commented on #51
See #42

[2015-06-25 14:55] pixelzoom opened #52 "replace toFixed with dot.Util.toFixed"
This sim uses JavaScript's built-in toFixed. This function should not be used directly; it is notoriously buggy, and behavior differs depending on browser, because the spec doesn't specify whether to round or floor. Use dot.Util.toFixed, see its doc for details.

[2015-06-25 15:05] bryo5363 commented on #46
I also noticed some strange behavior with the order that you layer charges on one another. The difference between a negative then a positive charge and vice versa is kind of strange.

[2015-06-25 15:10] bryo5363 opened #53 "Why do charges not change the electric field when initially dragged from grabber?"
I noticed that this is one of the only simulations where the initial "pull" of an object does not manipulate the "field". For example with the best fit, as the user clicked and dragged a new point the graph would instantly change to fit that point. Would we want to implement that here for this simulation? I think it would add a little bit to the experience rather than dropping the charge down firs

[2015-06-25 15:13] veillette commented on #46
@bryo5363: can you be more specific on the strangeness of the layering. As I recall there is no distinction between positive or positive charge, the last charge picked up is on top of the others

[2015-06-25 15:17] bryo5363 commented on #46
Upon layering the charges in different order the directions of the vectors change.

negative then positive
![screen shot 2015-06-25 at 9 16 12 am](https://cloud.githubusercontent.com/assets/7717368/8357959/e029b754-1b1a-11e5-8fba-1f0fcb0b7591.png)

positive then negative
![screen shot 2015-06-25 at 9 15 28 am](https://cloud.githubusercontent.com/assets/7717368/8357966/e8d38902-1b1a-11e5-9432-c7335

[2015-06-25 15:45] bryo5363 opened #54 "Measuring tape length decreases when at a boundary"
The end of the measuring tape will not exceed the boundary. When moving the whole device to a boundary, the length of the tape truncates. I cannot recall if any other simulations do this but the behavior is a little strange.

[2015-06-25 20:59] elisemorgan commented on #42
@bereaphysics Same issue in Win 8.1 w/ IE 11 with and without webgl=false

[2015-06-25 21:45] arnabp commented on #42
Not on our testing matrix but on Windows 10, the issue exists in IE 11 but NOT on Edge (which works fine)

[2015-06-26 02:22] veillette commented on #54
for your information, this behavior is described as 'dragbounds'. The tip of the measuring tape is said to be subject to dragbounds, namely the bounds of the screen.

Given that it is possible to rescale the play area by changing the size of window, one can extend the measuring tape across the diagonal. If one doesn't truncate the measuring tape upon rescaling the window, then under some scenarios

[2015-06-26 02:24] veillette commented on #53
This behavior replicates the flash simulation and was specifically requested.

[2015-06-28 14:06] veillette commented on #52
The fix was pushed to the 1.0 branch. It will be merged back to master later on.
Assigning to @pixelzoom for review.

[2015-06-28 14:18] #41 closed

[2015-06-28 14:20] veillette commented on #47
Speed could be improved by using #7 solution.

[2015-06-28 14:28] veillette commented on #53
Admittedly it makes the UI a bit inconsistent.
In any case, closing

[2015-06-28 14:28] #53 closed

[2015-06-28 14:28] veillette commented on #54
Closing

[2015-06-28 14:28] #54 closed

[2015-06-28 14:37] veillette commented on #42
math.log10 is implemented on edge but not on IE11 or IE10. closing

[2015-06-28 14:37] #42 closed

[2015-06-28 14:39] veillette commented on #51
This is related to #42 (see https://kangax.github.io/compat-table/es6/). Closing

[2015-06-28 14:39] #51 closed

[2015-06-28 14:39] veillette commented on #50
Closing

[2015-06-28 14:39] #50 closed

[2015-06-28 15:11] veillette commented on #44
The black rectangle is tighter around the text. Only 20% larger than the text (rather than 40%). The  transparency was set to 50%.

![image](https://cloud.githubusercontent.com/assets/7633344/8396836/29d34ed0-1d85-11e5-91be-2457c9710b67.png)

or

![image](https://cloud.githubusercontent.com/assets/7633344/8396846/a7b3620e-1d85-11e5-936c-ee93710e3804.png)

One unintended effect of setting the trans

[2015-06-28 15:44] veillette commented on #49
Thanks @phet-steele for a very well written ticket.. The video is very useful to illustrate the problem.

As far as how to go about fixing this issue, I would need  to entrust it to @jonathanolson if we need a fix since I don't know how to address it.

However before we go down this route, I will reassign to @ariel-phet to establish the priority of this bug. On one hand, this bug is a fairly minor

[2015-06-28 15:50] veillette commented on #49
FYI, I was able to reproduce this issue in Least-squares-regression

[2015-06-28 16:11] veillette commented on #43
To reiterate, the first drag handler put (initially) the charge/sensor at the edge of the enclosure (no matter the point of contact with the charge/sensor). Hence any dragging events will have an offset with the charge that depends on the point of contact.

 The second draghandler, responsible for the dragging events on the play area, put the bottom of the charge at the tip of the cursor,

So one

[2015-06-28 21:40] arouinfar commented on #43
It is very important that the charge peeks over the border of the panel when it first clicked. Without this behavior, students have trouble realizing that the charges are draggable. If there can only be one drag handler behavior, then I would prefer it to behave like the first drag handler @bereaphysics described in the previous post. However, I would prefer to leave the two drag handlers as is.

[2015-06-29 00:48] veillette commented on #43
We will leave as is. Closing

[2015-06-29 00:48] #43 closed

[2015-06-29 15:26] pixelzoom commented on #52
Looks good. @bereaphysics I'm going to leave this open as a reminder to merge into master. When that's done, feel free to close this.

[2015-06-29 15:35] veillette commented on #46
This will not be addressed (yet) in release candidate 2 but we need to find a general solution for it such that it can handle all the cases where the "effective charge" is zero. As it turns out it is not so simple to solve.

[2015-06-29 18:03] veillette commented on #45
@ariel-phet, @bryo5363, @phet-steele @elisemorgan: This should have been addressed in release candidate number 2. Keep an eye on this issue for the release candidate 2 and see if it has been fixed on firefox

[2015-06-29 18:07] veillette commented on #44
The release candidate 2 http://www.colorado.edu/physics/phet/dev/html/charges-and-fields/1.0.0-rc.2/charges-and-fields_en.html might partially addressed this issue

[2015-06-30 21:04] veillette commented on #46
The proposal is to turn off the electric field grid when the 'effective charge' is zero.

[2015-06-30 21:07] bereaphysics opened #56 "The electric field sensor displays an angle even when there are no charges on board."
![image](https://cloud.githubusercontent.com/assets/7633344/8442063/60985ab6-1f4a-11e5-81d1-b6c315623593.png)

The angle display should not appear when there is no charge on the board

[2015-06-30 21:34] veillette commented on #52
The RC branch was merged into master. Closing.

[2015-06-30 21:34] #52 closed

[2015-07-01 01:32] veillette commented on #46
This commit works for up to two pairwise compensated sets. That is it is still possible to trick this commit it you have three pairs of +- charges. Since it is a very unlikely scenario I will not address it. This will be deployed on rc.3

[2015-07-01 16:12] veillette commented on #47
I'm going to assign this issue to @ariel-phet so that he can make an executive decision.
@arouinfar, you are welcome to chime in.

First some information: The electric field grid (the grid of arrows) behaves choppily when dragging electric charge on the board. I have not performed a recent test but it used to be between 10-15 fps. There has been a lot of optimizations on the electricField grid nod

[2015-07-01 18:15] veillette commented on #46
Once release candidate 3 is pushed this will be available for testing. The current approach does not take into account edge cases where the charges are almost but not quite on top of another. It would be possible to introduce an equalsEpsilon instead if it proves to be necessary,

[2015-07-02 18:08] orejolaphet commented on #47
Slow performance on Windows 7 IE 10 as well. Similar choppy behavior to iPad

[2015-07-02 18:26] orejolaphet commented on #47
Extremely slow performance on iPad 2 iOS 7 + Safari

[2015-07-02 18:38] orejolaphet commented on #47
Extremely slow performance on OSX 10.10.2 FireFox 38

[2015-07-03 00:50] veillette commented on #47
Given that it is extremely slow, and problematic on may other platforms, one ought to tackle the issue.

[2015-07-03 00:53] veillette commented on #47
@orejolaphet: I don't have access to any of the problematic platforms. You previously mentioned that the electric field arrow grid move is not very responsive when you move an electric charge. Is there anything else that is problematic?

[2015-07-03 18:54] ariel-phet commented on #45
Appears fixed on my version of FF

[2015-07-04 00:47] veillette commented on #47
we will push to release candidate 3. In the end it turned out to be easier  than I thought, and it wont be to hard to maintain, (unlike what i said previously). There is a fair amount of trig functions/ geometry  though but i added (hopefully) enough documentation to make sense of it.

[2015-07-05 17:34] veillette commented on #56
Done. Closing.

[2015-07-05 17:34] #56 closed

[2015-07-05 17:50] veillette commented on #7
This was incorporated in the release candidate 3. Closing

[2015-07-05 17:50] #7 closed

[2015-07-06 16:41] elisemorgan commented on #44
@bereaphysics  Just out of curiosity, would it be possible to make the values draggable along their respective equipotential? I'm thinking of a user who clicks to create equipotentials before selecting values so they don't realize the values will appear where they clicked. It would be easy for them if they could drag the values to where they are all legible instead of recreating the equipotentials

[2015-07-06 17:44] orejolaphet commented on #47
@bereaphysics performance of the E-field has improved for rc.3 on iPad 2 iOS 7, but with voltage selected vectors still respond very slowly.

[2015-07-06 17:55] orejolaphet commented on #47
Performance is great on  OSX 10.10.2 FireFox 38 for rc.3

[2015-07-06 18:00] orejolaphet commented on #46
@bereaphysics issue is partially fixed. For the most part no E-field is displayed when "effective charge" is zero, but weird vectors may still be displayed. I noticed this occurred only for the first time you over lap charges after opening the sim.

Here are two overlapped charges "effective charge" is zero, but a single vector is displayed.
![screen shot 2015-07-06 at 11 58 31 am](https://cloud.g

[2015-07-07 15:15] bryo5363 commented on #45
On my version of FF (39.0) I still noticed some aliasing on rc-3

[2015-07-07 17:48] veillette commented on #46
@orejolaphet: there is a clear dipole electric field which indicates that the charges are not on top of one another. The criterium used to turn off the electric field is  that  there is no effective charge, i.e. the charges are right on top of one another. It is preferable not to use a small delta epsilon to set the minimum distance because this delta epsilon would be completely arbitrary and woul

[2015-07-07 18:08] veillette commented on #47
Great to know. Turning on both the electric field and the electric potential field on the iPad was always going to be a challenge. The electric potential field is rendered with webGL and there is no more juice  we can squeeze at this point. The electric field  is now rendered through Canvas and that is certainly an improvement over svg but it doesn't have the smooth performance of webGL. It would

[2015-07-07 18:34] samreid opened #57 "The cursor should be a hand when mousing over the potentiometer in the toolbox"
When mousing over the toolbox measuring tape, the cursor becomes a hand.  However for the potentiometer, it remains an arrow.  But making it become a hand will be another cue for users that it is draggable.

[2015-07-07 19:14] bryo5363 commented on #44
I think it would be nice to have a "bring to front" implemented so the user can get the respective value of the equipotential they would like to examine. I think the new design looks much better, especially with this issue but I think a bring to front option could be very beneficial to cleaning this up.

[2015-07-07 19:17] bryo5363 commented on #46
This issue seems to be resolved on Windows 7 Chrome 43. When the charges are layered exactly on top of one another the vectors will disappear.

[2015-07-07 19:26] elisemorgan commented on #47
@bereaphysics performance on iPad 2 iOS 8.3 is good with release candidate 3

[2015-07-07 19:29] veillette commented on #44
At first sight, bring to front should be relatively easy to implement.
Draggable seems harder to do but that would be a nice feature.
Let me chew on this for a bit and i'll get back to you.

[2015-07-07 19:34] bryo5363 opened #58 "Clicking on a charge will cause it to move"
Test device: Windows desktop

Operating System: Windows 7 Enterprise

Browser: Chrome 43.0.2357.132 m

Problem description: Clicking a charge will cause it to shift position

Steps to reproduce:
1) open the simulation
2) bring up a charge into the field
3) click the charge. it will move

Severity:

Screenshots:

My cursor isn't shown but here I am simply clicking on the negative charge in the "cha

[2015-07-07 19:39] veillette commented on #57
Good catch. The fix has been pushed to branch 1.0. it will be merged into master later on.

[2015-07-07 19:42] veillette commented on #58
Thanks @bryo5363, This touch behavior is a design decision.
So closing.

[2015-07-07 19:42] #58 closed

[2015-07-07 19:45] elisemorgan commented on #46
It's a little bit more difficult than on a desktop, but even on an iPad (2 w/iOS 8.3) I was able to get the charges exactly on top of one another and the vectors disappeared.

[2015-07-08 01:48] veillette commented on #44
Thanks @elisemorgan  and @bryo5363 , these were two good ideas. Let's make sure that @arouinfar and @ariel-phet approve.. I'll put out a new dev or rc out soon.

[2015-07-08 16:30] ariel-phet commented on #47
@arouinfar - can you take a look at this ticket and iPad 2 iOS 8.3 performance and give your opinions in this issue?

[2015-07-08 16:30] elisemorgan commented on #50
@bereaphysics the sim opens on Win 7 w/ IE 10 now but becomes noticeably slower and choppier once the voltage is selected to appear.

[2015-07-08 16:53] elisemorgan opened #59 "Performance slowed on Win 8 w/ Chrome"
Test device: ASUS

Operating System: Win 8.1

Browser: Chrome 44.0.2403.52 beta-m (64-bit)

Problem description: The performance of the sim is much slower with rc 3. There is a significant lag w/ choppiness to movement. Lag appears with and without voltage selected.

Steps to reproduce:

Severity:

Screenshots:

Troubleshooting information (do not edit):
Name: Charges And Fields
URL: http://www.co

[2015-07-08 16:54] veillette commented on #50
@elisemorgan can you tell me if webgl was enabled. The info on the webgl status is contained in the report a problem log

[2015-07-08 16:58] elisemorgan commented on #50
@bereaphysics webgl is not enabled

[2015-07-08 17:01] arouinfar commented on #47
Performance on iPad2/iOS 8.3 looks good in rc.3. Reassigning to @ariel-phet.

[2015-07-08 17:04] arouinfar commented on #47
I had about a dozen charges in the play space with E-field and Voltage on. The charges slightly trail my finger when quickly moving them around, but it doesn't seem laggy at all. The E-field arrows are very responsive, so I'm not sure we that need to render them in WebGL. Equipotential lines are also quick to draw, even with complicated charge arrangements.

[2015-07-08 17:19] elisemorgan commented on #59
Better, but still slow and choppy performance seen in IE 11 w/ Win 8. webgl is enabled.

[2015-07-08 22:16] veillette commented on #50
Thanks, unfortunately there isn't much we can do about the equipotential field. Some computers do not allow webgl, and the canvas fallback will be slower.  Fortunately there are less and less computers that are blacklisted

[2015-07-08 22:28] veillette commented on #59
I think it is worth investigating this further. These only significant difference between release candidate two and three is the switch of the rendering engine for the electric field (the grid of arrows). In regular candidate 2 this was done with svg, whereas rc 3 uses canvas node. On some platforms, notably the iPad, rc3 is more responsive. The claim here is that for win8 on chrome, it is better

[2015-07-08 23:28] elisemorgan commented on #59
@bereaphysics  That's correct

[2015-07-09 00:41] veillette commented on #59
@jonathanolson
 There are two nodes electricFieldGridNode and electricFieldCanvasNode. We would like to develop a heuristic criterion that would allow us to pick whichever is faster. At this pinning it is not clear what kind of criterion is relevant. At this point we know that the iPad works faster on canvasNode but win8 with chrome is faster with svg.

Two questions:
Have you come across this bef

[2015-07-09 00:43] veillette commented on #47
Switching to canvas node has negative impact on win8 with chrome (see #59)

[2015-07-09 01:30] jonathanolson commented on #59
I'd prefer to be able to review the code and performance for each, so that we could potentially just have one well-performing option.

For instance in ElectricFieldGridCanvasNode, there are things that look like they can be moved out of inner loops, like the following line:

[code]

along with a number of other potential ways to speed up the code (creating a Canvas with an arrow drawn into it, and

[2015-07-09 01:42] veillette commented on #59
There is a static flag in ChargesAndFieldsScreenView IS_CANVAS_ELECTRIC_FIELD_GRID that is used to determine if canvasNode is utilized

[2015-07-09 01:44] veillette commented on #59
Feel free to optimize canvasNode. In fact this piece of code has not been reviewed since it was done after the code review

[2015-07-13 16:58] ariel-phet commented on #47
Considering @arouinfar comments, I think we can close this issue.

[2015-07-13 16:58] #47 closed

[2015-07-13 23:31] ariel-phet commented on #45
I think what we see is acceptable and not worth pursuing a solution beyond mipmapping. Closing

[2015-07-13 23:31] #45 closed

[2015-07-13 23:38] ariel-phet commented on #44
One worry of mine with dragging the value label would be when several charges are around and there is an overlap between the value and a placed charge. I think that could get confusing and possibly buggy.

I really like the solution as is. The main point is to alleviate confusion.

Although I think @elisemorgan and @bryo5363 have made valuable suggestions, when I really reflect on the learning goa

[2015-07-13 23:49] ariel-phet commented on #49
Not important to fix for charges and fields, but a very nice catch @phet-steele. I will close this issue and move the report over to a scenery issue.

[2015-07-13 23:53] ariel-phet commented on #49
Closing, moved to https://github.com/phetsims/scenery/issues/447

[2015-07-13 23:53] #49 closed

[2015-07-15 23:35] arouinfar commented on #44
I think that the transparency @bereaphysics implemented looks good and will achieve the goal of making the values more visible. Once students plot a few equipotential lines with the values turned on, they'll likely realize that the value appears in the center of the crosshairs.

@elisemorgan and @bryo5363 made some excellent suggestions, but I agree with @ariel-phet that these features are tangent

[2015-07-15 23:35] #44 closed

[2015-08-11 23:32] pixelzoom opened #60 "mipmap.js registers image incorrectly when used with optional arguments"
This sim appears to contain an unused image. `grunt build` reports:

[code]

[2015-08-11 23:36] pixelzoom commented on #60
Hmmm... This image is indeed used, in PencilButton.js:

And PencilButton.js is used in the sim.

This may a bug in reportUnsedMedia.js.  @samreid Does reportUnsedMedia.js take into account the optional args that may appear after the filename?

[2015-08-11 23:42] pixelzoom commented on #60
At line 41 of reportUnusedMedia.js, I added:

`console.log( 'filename=' + filename );`

.. and the output during `grunt` was:

[code]

Ah... But this is what's in the filesystem.

[2015-08-11 23:48] pixelzoom commented on #60
I inspected `global.phet.chipper.licenseEntries.images`, and the key for pencil.png is incorrect, it contains the mipmap options.  Here's the entry:

[code]

[2015-08-11 23:50] pixelzoom commented on #60
The bug is in mipmap.js.  The `name` arg, which is everything after 'mipmap!' in the plugin invocation, is passed to `registerLicenseEntry` on line 110:

`registerLicenseEntry( name, getLicenseEntry( path ), global.phet.chipper.brand, 'images', onload );`

[2015-08-11 23:51] pixelzoom commented on #60
So... This is a general issue that will occur with any usage of mipmap that involves its optional arguments. mipmap.js needs to be fixed to strip off the arguments before passing the name to registerLicenseEntry.

[2015-08-11 23:54] pixelzoom commented on #60
Note that mipmap currently has 2 optional arguments. From mipmap.js:

[code]

So the solution to this should be robust enough to work a variable number of args.

[2015-08-12 00:04] pixelzoom commented on #60
Fixed.  Tested with charges-and-fields (which uses mipmap with optional args) and with molecules-and-light (which uses mipmap with no args).

Inspecting `global.phet.chipper.licenseEntries.images` for charges-and-fields now shows a proper key for the license entry:

[code]

Assigned to @samreid to verify.

[2015-08-12 14:49] samreid commented on #60
Thanks for detecting and fixing this. The change set looks good.  My only question is whether we should filter out the optional arguments in registerLicenseEntry.js (in case other plugins acquire options in the future).

[2015-08-12 15:22] pixelzoom commented on #60
That would assume that all plugins adopt the grammar described in the documentation for mipmap.js. That's probably a reasonable assumption, but then the documentation should probably moved, the code for parsing options should be generalized, etc.  I don't feel compelled to tackle that right now, since I think the likelihood of adding options to new|existing plugins in the near future is small. Bac

[2015-08-12 16:02] samreid commented on #60
Let's close this issue and open a new in the future if/when other plugin arguments come in to play.

[2015-08-12 16:02] #60 closed

[2015-08-17 16:13] veillette opened #62 "Direction Only checkbox is not working in dev 13"
As pointed out in https://github.com/phetsims/tasks/issues/315 the direction only is not working in the dev version 13.

[2015-08-18 18:12] veillette commented on #62
This is now resolved. Closing

[2015-08-18 18:12] #62 closed

[2015-08-21 20:27] phet-steele opened #63 "Fuzz errors in 1.0.0-rc.4 and master (8/21)"
This failed assertion was found in master, NOT 1.0.0-rc.4:

[code]

and this error was found in 1.0.0-rc.4, NOT master (unfortunately this stack trace may be useless).

[code]

[2015-08-24 17:18] phet-steele opened #64 "Field lines with no charges present"
Fuzz testing has revealed it's possible to cause the sim to display electric field lines when there are no charges present; still looking for a way to reproduce manually. Happens in all browsers on Win 8.1.

![present arrows](https://cloud.githubusercontent.com/assets/5863899/9446858/3dc72a4e-4a51-11e5-9f2e-5bf6f6678bb0.PNG)

Troubleshooting information:
Name: ‪Charges And Fields‬
URL: http://www.

[2015-08-24 17:40] phet-steele commented on #64
Got it! Pretty simple actually:
1. Put some charges out
2. Click/touch reset all
3. Enable "Direction Only"

[2015-08-24 17:41] phet-steele commented on #64
I can also confirm this happening in iOS 8.3, iPad Air 2.

[2015-08-24 18:11] phet-steele opened #65 "Occasional, less responsive dragging of value labels"
First off, my guess is this will be very hard to reproduce. Every once and a while, the value labels for the equipotential lines will be very difficult to drag. My assumption is that this happens more often in small circles, but I've still seen it it larger, more complex equipotential lines, too. This video shows a relatively simple set up where I could make it happen pretty easily. Note in the vi

[2015-08-24 18:30] phet-steele commented on #64
This also affects the sensor, it will display "0.0 deg" when the Values box is checked.

[2015-09-02 07:19] samreid commented on #63
I saw this in the context of https://github.com/phetsims/tasks/issues/310 and wanted to report on it a bit more:

The charges-and-fields issue is:

charges-and-fields
Uncaught TypeError: Cannot read property 'distance' of undefined
TypeError: Cannot read property 'distance' of undefined
    at e.n.getIsLinePresent (http://localhost:8080/charges-and-fields/build/charges-and-fields_en.html?ea&postMe

[2015-09-02 07:22] samreid commented on #63
Changing this method in ElectricPotentialLine to read:

[code]

fixes the probem:
![image](https://cloud.githubusercontent.com/assets/679486/9625150/de23c45a-5110-11e5-8524-f3ea7fea16c0.png)

This may be a fine fix for the fuzz test, but it also indicates that it is possible for isPlayAreaChargedProperty to get out of sync with this.chargedParticles.length.  @phetsims/bereaphysics are you availabl

[2015-09-04 17:58] veillette commented on #63
I will look into this very shortly.

[2015-09-14 19:43] orejolaphet commented on #46
This issue is no longer present for rc.4. Closing

[2015-10-09 23:29] jonathanolson commented on #63
Still an issue in the latest testing:

[code]

[2015-10-16 00:25] jessegreenberg commented on #64
This is resolved in the commit above.  Field lines and sensors behave as expected when there are no active charges. Closing.

[2015-10-28 16:25] jessegreenberg commented on #63
The sim passes through test-server cleanly.  I let the mouseFuzz run for a few hours, never caught anything.

![charges-and-fields-clean](https://cloud.githubusercontent.com/assets/6396244/10795084/abec6018-7d5d-11e5-89f5-9ab6458398c8.PNG)

My guess is that this was fixed through issue #64 since that involved syncing the `isPlayAreaChargedProperty` with `this.chargedParticles.length`.

Closing.

[2015-10-28 16:25] #63 closed

[2015-10-28 16:49] jessegreenberg commented on #20
I cannot reproduce this issue in master or with 1.0.0-rc.4, it appears that this issue was resolved in a version between 1.0.0-dev.9 and current.  Position properties seem to be reset correctly in code.

I tried to reproduce this issue on iPad2 iOS 8.2 and Windows 7 Chrome.  Closing.

[2015-10-28 17:06] phet-steele commented on #20
@jessegreenberg I'm actually still able to reproduce on master and 1.0.0-rc.4. I believe the trick is to slightly move your original finger after having brought an object back out in step 3. Actually the more I think about it, since this was opened months ago in April I've seen this type of behaviour with nearly every object in many sims tested since then. This is probably a general issue.

[2015-10-28 19:25] jessegreenberg commented on #20
@phet-steele thanks for double checking and clarifying!  I can reproduce this issue for everything that uses SimpleDragHandler by moving the original finger after calling reset.  Moving this issue to scenery since it is a common issue.

[2015-10-28 20:35] jessegreenberg commented on #20
An issue currently exists for this in scenery: phetsims/scenery#218.

[2015-10-29 14:57] aaronsamuel137 commented on #28
Code review completed. Closing

[2015-10-29 14:57] #28 closed

[2015-10-30 20:47] jonathanolson opened #66 "Paint invalidation during paintCanvas()"
[code]

Looks like paintCanvas => addAllParticles => addParticle => invalidatePaint(), which shouldn't be called from paintCanvas.

[2015-12-09 05:06] jonathanolson commented on #66
Happens in automated error testing.

[2016-01-06 19:25] kathy-phet commented on #66
Is this what is freezing the sim when I try it out?

[2016-01-06 20:25] jonathanolson commented on #66
Yes, it's likely to cause a frozen sim, particularly for a built sim.

[2016-01-09 09:35] #66 closed

[2016-01-09 16:54] samreid opened #67 "Prepare for research study"
Similar to https://github.com/phetsims/beers-law-lab/issues/139

Ido and Sarah requested:

- backend data instrumentation
- custom start state
- label changes, availability of features, other minor screen adaptations.
Perhaps also
- ability of students to report out screen state (and capture somehow, somewhere).

At Thursday's phet-io meeting @ariel-phet recommended that @jonathanolson work with @

[2016-01-09 16:56] samreid commented on #67
Ido continued:

Rather than publishing a custom version, I'd like to deliver a phet-io version that customizes the simulation as described

[2016-01-09 16:57] samreid commented on #67
@kathy-phet asked about removing the e-field sensors:

Ido replied:

[2016-01-09 16:57] samreid commented on #67
@kathy-phet asked about enabling the measuring tape without shown numbers:

Ido replied:

[2016-01-10 20:59] veillette commented on #57
The fix was merged onto master. Closing

[2016-01-10 20:59] #57 closed

[2016-01-10 21:03] veillette commented on #31
This was a design feature. Closing

[2016-01-10 21:03] #31 closed

[2016-01-11 18:20] ariel-phet opened #70 "Some i18n tweaks"
As discussed on skype call with @jonathanolson we should make a few tweaks for i18n

1. The charge/sensor panel layout should be redone to accommodate long strings and keep the spacing, centering, and layout nice

2. Tweak equipotential sensor so that body size does not change with long strings.

[2016-01-12 01:31] jonathanolson commented on #70
Should be handled, can you see if it's sufficient?

[2016-01-12 18:20] ariel-phet commented on #70
@jonathanolson in the latest pull the charge and sensor panel scales appropriately with ?stringTest=double but the equipotential meter is still growing unnecessarily for me.

[2016-01-12 18:28] jonathanolson commented on #70
Whoops, somehow I had reverted a change I had made locally. Committed, try again?

[2016-01-12 18:31] ariel-phet commented on #70
Yes, much better. Closing

[2016-01-12 18:31] #70 closed

[2016-01-12 21:14] jonathanolson opened #71 "Input handling issues"
There's a lot of complexity for a lot of the user input.

Notably one bug that I haven't had time to fix yet is that the potential sensor node can be dragged with two different touches. I fixed that issue so far for the charges and field sensor nodes.

Would recommend cleanup. I might look a bit into drag patterns, as the number of times I've said "SimpleDragHandler wasn't designed for that" or "T

[2016-01-14 20:27] samreid commented on #67
Jan 14 Meeting: @ariel-phet recommended for @jonathanolson to work on this at high priority, meeting with @samreid to get started.

[2016-01-19 18:52] jonathanolson opened #72 "Mouse cursor can become offset from dragged particle/sensor"
Just move the sensor/particle off screen.

[2016-01-21 18:11] jonathanolson opened #73 "Pressing buttons on electric potential sensor starts a drag"
Presumably you shouldn't be able to drag it by its buttons.

[2016-01-22 23:25] jonathanolson opened #74 "Drop bounds for the measuring tape"
Dragging the measuring tape here doesn't drop it back into the toolbox, because both ends are outside of it:

![charges-and-fields-drop-measuring-tape](https://cloud.githubusercontent.com/assets/480878/12525816/b02b8130-c124-11e5-85cc-28d66e23e3a8.PNG)

Is that expected behavior, or should a reasonable level of overlap cause it to go back into the toolbox?

[2016-01-22 23:27] arouinfar commented on #74
No, that is not the expected behavior. If there's a reasonable amount of overlap, the measuring tape should go back into the toolbox.

[2016-01-23 05:10] jonathanolson opened #75 "Error on dragging charge and electric field sensor to same location"
Presumably tries to do something with infinity. Scenery notices the NaNs and fails out.

@arouinfar, what would you like the readout to be for a sensor when "Values" are checked and it is directly over a charge?

[2016-01-23 05:38] jonathanolson commented on #67
Instrumentation is now enough where I can start testing with Ido's setup (charges-and-fields_en.html?ea&brand=phet-io&phet-io-standalone&togetherEvents.log=lines&together.expressions=%5B%5B"chargesAndFields.chargesAndFieldsScreen.model.isElectricFieldVisibleProperty"%2C"setValue"%2C%5Bfalse%5D%5D%2C%5B"chargesAndFields.chargesAndFieldsScreen.view.chargesAndSensorsPanel.electricFieldSensor"%2C"setV

[2016-01-23 08:03] kathy-phet commented on #67
Hi JO, met with Ido today. He is going to do some pilot interviews before finalizing sim config. They are still figuring that out it seems and will just use the full sim for their interview treating of their activity. So just focus on general instrumentation and sim bugs, not ido's specific request. When instrumentation is far enough along, we will get ido to review that part - maybe delivery that

[2016-01-27 21:11] arouinfar commented on #75
@jonathanolson I think it'd be best to display a dash when the sensor detects infinity/NaN. We've used the dash in other simulations like Concentration (probe reads a dash when it not in the solution) to indicate a readout is unavailable. I realize an infinite readout is not the same as no readout, but it seems the more appropriate to display a dash than something infinity or NaN.

[2016-01-28 09:17] jonathanolson commented on #71
This was handled, closing.

[2016-01-28 09:17] #71 closed

[2016-01-28 09:23] jonathanolson commented on #72
Was also fixed.

[2016-01-28 09:23] #72 closed

[2016-01-28 09:31] jonathanolson commented on #73
Looks like something tricky:
1. listener() for the push buttons isn't passed the Scenery event, so we can't call event.handle() to fix this (simplest/best)
2. No great future-proof way of overriding this in SimpleDragHandler.

Thus the current workaround is:

[code]

Tagging for developer meeting to discuss if we can get the Scenery event nicely through the button interface, OR if buttons should h

[2016-01-28 09:40] jonathanolson commented on #75
Dashes are a bit harder to see. I set it to center the labels over the sensor (instead of left-aligned 20px to the left), so that the dashes will be over the charge at least.

Try it out, let me know if it should be changed?

[2016-01-28 17:28] samreid commented on #73
There is a similar case in Concentration, where you can drag the dropper by its button.

[2016-01-28 17:36] pixelzoom commented on #73
I believe that @samreid is referring to the eye dropper that appears in Beer's Law Lab and Concentration (beers-law-lab.BLLDropperNode).  In that case, the button is a momentary button, and it was desired to be able to move the dropper while dispensing.

[2016-01-28 17:37] pixelzoom commented on #73
I believe that @samreid is referring to the eye dropper that appears in Beer's Law Lab and Concentration (beers-law-lab.BLLDropperNode).  In that case, the button is a momentary button, and it was desired to be able to move the dropper while dispensing.  So we shouldn't do anything that would _prevent_ this behavior.

[2016-02-02 17:25] pixelzoom commented on #73
2/2/16 dev meeting; Deferred to 2/4/16 when @jonathanolson is available.

[2016-02-02 18:43] samreid commented on #73
@jonathanolson says we will need access to other information in the event, such as which pointer is active, etc. and would like investigate a global that keeps track of the current event.

[2016-02-02 19:03] pixelzoom commented on #73
Rather than a global or addition button options, @jonathanolson is going to investigate simply adding an additional input listener. Eg:

[code]

[2016-02-03 18:03] ariel-phet commented on #75
@arouinfar pinging on this issue

[2016-02-04 21:14] arouinfar commented on #75
@jonathanolson I think the dash looks pretty good, and I think centering the labels was a good call. I agree that it's a bit hard to see, but I don't particularly like any of the alternatives (infinity, NaN). Given that it's a bit of an edge case to begin with, I can live with it being a little less visible.

[2016-02-04 21:14] #75 closed

[2016-02-09 18:22] #73 closed

[2016-02-11 03:06] samreid commented on #67
@jonathanolson what is the status of this issue?  Do you have any outstanding work? Is this mostly ready for review?

[2016-02-11 05:06] jonathanolson commented on #67
I'll still need to instrument a few more parts, and I haven't reviewed/tested/worked on state saving for particles. Additionally, bugfixes and sim improvements will still be needed.

[2016-02-26 04:35] samreid opened #76 "Why ignore non-left mouse button?"
Based on discussion in https://github.com/phetsims/scenery-phet/issues/195#issuecomment-186300071 I was looking at Charges and Fields as a prototype for how to build toolbox+creation for circuit construction kit and I saw this code:

[code]

Why are you ignoring non-left-mouse-button?  Can/should this be factored out somewhere?

[2016-02-26 21:18] jonathanolson commented on #76
If this pattern becomes common, we could shift the check into SimpleDragHandler's startDrag.

We only want to track the up/down of the left mouse button, since the "press LMB down, press and release RMB" would stop the drag, and other mouse buttons would normally be for other things.

@samreid, sound good to investigate moving this check to SimpleDragHandler?

[2016-03-31 06:28] jonathanolson commented on #74
Done.

[2016-03-31 06:28] #74 closed

[2016-03-31 06:29] jonathanolson commented on #59
This was reported before WebGL was used. We'll re-open if it's a problem in future RCs.

[2016-03-31 06:29] #59 closed

[2016-03-31 06:31] jonathanolson commented on #48
I believe this has been fixed (we now use the "correct" drag no matter where the particle was originally dragged from), but I don't have an iPad handy at the moment.

[2016-03-31 06:33] jonathanolson commented on #67
Noting here that equipotential lines were not handled before, will need implementation. I'll also be reviewing @samreid's state saving, and going through testing.

[2016-03-31 06:35] jonathanolson commented on #20
Since https://github.com/phetsims/scenery/issues/218 is currently at deferred priority, I'm marking this as the same.

[2016-03-31 15:18] phet-steele commented on #48
@jonathanolson current master ends any dragging when the screen rotates, regardless of origin. Charges, sensors, etc.. are dropped wherever your finger was before rotating.

[2016-03-31 15:45] kathy-phet commented on #67
@jonathanolson - Just want to clarify that we are not doing any specific customizations for Ido anymore as he will not use it in a study, but are still aiming to have the sim fully instrumented since it will be a good exemplar for PhET-iO.

[2016-03-31 15:49] jonathanolson commented on #65
Reproduced, looks like the sim is incorrectly adding in an offset to where it thinks the mouse/touch is (a small circle around a charge, when buggy, can be controlled if you identify another point on the screen where the sim thinks the center is).

[2016-03-31 15:54] jonathanolson commented on #67
Understood, will do.

[2016-03-31 17:01] jonathanolson opened #77 "Electric potential sensor "draw equipotential line" should be disabled if it won't add a line."

[2016-04-05 17:31] phet-steele opened #78 "Automated Testing Sim Error (4/5/2016 10:03 AM) C&F"
requirejs + fuzzMouse:
[code]

[2016-04-20 01:47] samreid commented on #76
I'll flag this for discussion at developer meeting.

[2016-04-20 01:48] samreid commented on #76
There are 3 occurrences of this pattern in Charges and Fields, and one in Circuit Construction Kit.

[2016-04-21 17:49] samreid commented on #76
Meeting consensus.  We agreed it would be nice to factor this out.  @jonathanolson will take a look.

[2016-04-26 20:43] jonathanolson commented on #76
This gets trickier if you think about subtyping SimpleDragHandler.

If we put the guard in at the front of startDrag(), then there's no way to communicate to subtypes whether the drag will actually start UNTIL they call the super startDrag(). We would potentially need to return a success value from startDrag.

[2016-06-30 20:30] samreid commented on #48
@andrewadare and I tested stock Apple apps and observed the default behavior was to end drags on screen rotate, so this behavior in the simulation seems acceptable.  Closing.

[2016-06-30 20:30] #48 closed

[2016-06-30 20:33] samreid opened #79 "When running as phet-io, the PhET Menu "Options" button causes a failure"
When running as phet-io, the PhET Menu "Options" button causes a failure,

![image](https://cloud.githubusercontent.com/assets/679486/16503293/a959697a-3ecf-11e6-8dcf-636828b1a2e2.png)

[2016-07-21 16:08] andrewadare commented on #79
Problem now seems to be a little different than originally reported. There's no problem when selecting "Options..." the first time, but the second click triggers this error:

[code]

If the merge of phet-io-types (see https://github.com/phetsims/phet-io/issues/498) is imminent, seems best to wait for that first.

[2016-07-22 01:15] samreid commented on #79
It seems we need to do one of the following:
- Dispose and make sure tandem.removeInstance() is called

or
- Only instantiate/register the close button once

[2016-08-01 16:10] veillette commented on #78
This assertion was put in place to find out the behavior of the equipotential line near saddle point when the charges are put randomly (as when using fuzzMouse).  Even by running fuzzmouse for an hour I was not able to reproduce.
Even when the assertion, is triggered, it signals that the calculations is not as precise as it could be for this very short segment of the line. In other words, hitting

[2016-08-01 16:16] ariel-phet commented on #78
Sounds good, marking won't fix and closing

[2016-08-01 16:16] #78 closed

[2016-08-01 16:27] veillette commented on #77
ChargesAndFieldsModel has a boolean property called isPlayAreaCharged. The button should be disabled when isPlayAreCharged is true and enabled when false.

[2016-08-01 16:58] veillette opened #80 "use activeChargedParticles for all electric Field and electric potential calculations"
There are currently two observable arrays that keep track of the charged particles, namely chargedParticles and activeChargedParticles.

The activeChargedParticles contains all the charges that are active, that is that can have an effect of the electric field and electric potential. (In some cases, the charges are inactive, for instance when being dragged initially). The chargedParticle array keep

[2016-08-01 17:44] phet-steele opened #81 "Suppress sensor display until dropped"
@arouinfar @andrewadare When values are checked (and with charges in the field), sensors begin reading values immediately after being grabbed from the toolbox. However, there is no arrow until the sensor is dropped into the play area. It's my opinion that we can't have value readings without also an arrow stemming from the sensor. Especially since one of the sensor values directly relates to the s

[2016-08-01 17:51] veillette commented on #81
Maybe @arouinfar can concur on this, but I seem to recall that Mike Dubson requested that the electric sensor should not display (initially) any measurement.
This would mean that the sensor should not be  displaying any values until dropped into the play area.

[2016-08-01 17:53] ariel-phet commented on #81
@veillette I believe is correct, lets go with no value until dropped into play area

The rational was to be able to ask a predictive question...ie hold the sensor in a particular spot and ask "what will the field here be?"

[2016-08-01 17:56] arouinfar commented on #81
I agree. For similar reasons, we also decided to prevent charges from updating the E-field lines until they are dropped into the playspace.

[2016-08-01 18:06] veillette commented on #81
The electricFieldSensor has a property called isActive. The visibility of the fieldStrength label and the direction label should be set by isActive.

[2016-08-01 19:20] phet-steele opened #82 "Undefined sensors will not update their values"
Undefined sensors will not update their values until new charges are added to the field (or the sensors themselves are moved). This results in sensors with incorrect displays:
1. Put a sensor on top of a charge to nullify its values
2. Move the same charge
![caf02](https://cloud.githubusercontent.com/assets/5863899/17305746/44f9822a-57e9-11e6-8298-c3721bdb1251.gif)

Seen on OSX 10.11.6 Chrome & Sa

[2016-08-01 20:53] phet-steele opened #83 "Significant memory leak"
Heap collected every two minutes for just 10 minutes using `?fuzzMouse=100`. Numbers collected on OSX 10.11.6 Chrome; iPad 2 Safari crashed after 10 minutes.

| MB | minute |
| --- | --- |
| 17.5 | 0 |
| 74.5 | 2 |
| 122| 4 |
| 169 | 6 |
| 216 | 8 |
| 270 | 10 |

For phetsims/tasks#661.
Troubleshooting information:
Name: ‪Charges And Fields‬
URL: http://www.colorado.edu/physics/phet/dev/html/charg

[2016-08-01 22:47] andrewadare opened #84 "div/0 error"
While trying to reproduce #82, I dragged a sensor atop a charge and received an error from Vector2 saying 'Cannot normalize a zero-magnitude vector'.

Will need to put in a check for length-zero vectors in the code that does the normalization.

[2016-08-01 23:02] andrewadare commented on #84
This is occurring atop a deep stack of scenery code calls...
![image](https://cloud.githubusercontent.com/assets/154163/17311357/fef123a4-5807-11e6-8e05-d58765cd0c25.png)

A proper fix may therefore involve some work there.

Alternatively, perhaps a drag constraint could be applied so that the sensor snaps to some minimum radius from the charge.

[2016-08-01 23:09] andrewadare commented on #84
Hmm...this error is turning out to be very difficult to reproduce. Several minutes of dragging, still no singularity.

[2016-08-02 16:13] alynne-phet opened #85 "Reading on the meter goes off of the meter itself"
For phetsims/tasks#661
Testing Device: Personal Laptop
Mac 10.11.6, Safari

Problem Description: When the equipotential meter is placed in the center of the charges, the reading on the meter goes off of the meter itself.

Steps to Reproduce:
1. Drag a positive and negative charge onto the screen
2. Place the equipotential meter in the center of the charge

![image](https://cloud.githubusercontent.

[2016-08-02 16:17] andrewadare commented on #84
Just hit this again:
![image](https://cloud.githubusercontent.com/assets/154163/17336192/46c905b0-589a-11e6-9915-b66250c36447.png)

[2016-08-02 19:03] andrewadare commented on #82
I looked at ways to modify the update logic to handle this corner case, but haven't found a way that doesn't have other problems.

Instead, I made the corner-case (hopefully) inaccessible now. You can't drag the charge out from underneath the probe particle anymore, which seems completely fine to me, and is a safe solution.

[2016-08-02 19:12] andrewadare commented on #80
@veillette are you planning to to take this on? If so, what is the timeframe? The sim is in dev testing and heading towards the RC phase once the testing issues are resolved.

[2016-08-02 19:15] phet-steele commented on #64
@andrewadare do this:
1. Ensure E-filed is turned on
2. Put at least two charges into the field
3. Reset all
4. Enable Direction Only

The following image is close to what you will get.

<img width="1919" alt="screen shot 2016-08-02 at 1 12 27 pm" src="https://cloud.githubusercontent.com/assets/5863899/17341708/1323c092-58b3-11e6-972d-6cca301fc6a6.png">

The bigger issue here is that no field line

[2016-08-02 19:19] andrewadare commented on #81
@phet-steele is there anything to do here? If not, can we close this?

[2016-08-02 19:23] arouinfar commented on #81
@andrewadare currently the angle and magnitude associated with the sensor is visible before it's placed (assuming Values is on). We'd like to change the behavior so that the sensor does not display any information until it is dropped into the playspace.

[2016-08-02 19:29] phet-steele commented on #46
@andrewadare field lines no longer disappear with completely overlapped charges in 1.0.0-dev.15 (with Direction Only enabled). Seeing this happen on every device/browser. For phetsims/tasks#661.

[2016-08-02 19:34] veillette commented on #80
@andrewadare : I was not planning to work on it. I just noticed it while I was commenting on another issue.
 If you don't think it is worth it to work on it, feel free to close it.

[2016-08-02 19:58] andrewadare commented on #81
@arouinfar gotcha, I think the above commit does what you specified, and is what @veillette recommended.

Even if the Values checkbox is selected, the sensor labels are invisible initially, and only appear after the sensor is first dropped and picked up again.

[2016-08-02 20:00] arouinfar commented on #81
Looks good @andrewadare!

[2016-08-02 20:13] phet-steele commented on #82
This solution would not solve the case of dragging a particle over the center of a sensor, then dragging the particle away:

![caf03](https://cloud.githubusercontent.com/assets/5863899/17343505/493de376-58bb-11e6-9424-8fb88a011021.gif)

[2016-08-02 20:16] andrewadare commented on #82
That is true, will revisit.

[2016-08-02 20:19] phet-steele commented on #81
What I'm seeing in master while starting with Values unchecked:
![caf04](https://cloud.githubusercontent.com/assets/5863899/17343646/017ac8aa-58bc-11e6-80ec-39f409b06a04.gif)
@andrewadare ignore this if master is just unstable right now and shouldn't be tested with yet.

[2016-08-02 20:21] arouinfar commented on #81
Good catch @phet-steele. I didn't see this when I first looked at master.

[2016-08-02 21:07] andrewadare commented on #81
@phet-steele thanks for catching this. My bug fixes on master are new work, and could thus be characterized as "unstable" (as we see), but it's worth it for you to have a look and report issues. The sooner we catch them, the better.

[2016-08-03 17:05] andrewadare commented on #84
We need a "Heisenbug" label :)

[2016-08-03 18:46] andrewadare commented on #84
@phet-steele discovered that the bug is reproducible by turning on the grid for reference, dropping a charge at (x=anything, y=3 major ticks down), and putting the sensor atop the charge. The error is then triggered every time.

[2016-08-03 18:53] andrewadare commented on #84
`getElectricField` in ChargesAndFieldsModel computes a distance (cubed), which then appears downstairs in the following Coulomb field calculation. Since javascript allows division by zero, the code continues even if r=0, but these are the times when the bug is triggered.

[2016-08-03 19:05] phet-steele opened #86 "More i18n tweaks"
Using `?stingTest=double` the sim looks like this:

<img width="1916" alt="screen shot 2016-08-03 at 12 56 11 pm" src="https://cloud.githubusercontent.com/assets/5863899/17378075/c67714e8-5979-11e6-91d1-4519c1a56134.png">

- [x] The panels have no apparent max width (using `?stringTest=long` makes that very obvious). Having the panels remain the same width with longer strings would be nice (since

[2016-08-03 19:11] phet-steele commented on #86
Actually I'm wrong, it was just limited to always being one character, so scratch that suggestion. Edited above.

[2016-08-03 19:12] arouinfar commented on #86
Thanks @phet-steele! We should probably allow the panels to expands somewhat before shrinking the strings. In the past, 50px has worked pretty well, but we could go with something smaller like 25 or 30 px. I can mock this up and see how it looks.

I also agree that we don't need to worry about long strings for V if it gets limited to one character.

By the way, that's a really cool looking equipot

[2016-08-03 19:14] phet-steele commented on #86
Thanks! I don't know if you can tell, but's it's just one e-field line. I think it looks like a koala bear 😄

[2016-08-03 21:09] andrewadare commented on #84
Things are better now, but there's an annoying single-pixel position at r=0 where the field is reported as zero rather than '-'. More work needed.

[2016-08-05 17:24] andrewadare opened #87 "Sim crashes when charges are co-located"
![image](https://cloud.githubusercontent.com/assets/154163/17444721/c1929214-5afe-11e6-993b-bdafaceb3fc8.png)

This not only violates the Pauli Exclusion Principle, it also crashes Charges and Fields.

[2016-08-08 14:08] andrewadare commented on #87
I tried reproducing this for several minutes this morning, but was unable.

[2016-08-08 16:14] andrewadare commented on #83
This is a list of `link` calls (singly indented) and `unlink` calls (doubly indented) in the sim:

[code]

[2016-08-08 16:19] andrewadare commented on #83
From heap snapshot analysis, it looks like ArrowNode might be part of the problem:
![image](https://cloud.githubusercontent.com/assets/154163/17487323/97d1ca1c-5d51-11e6-81bb-790397ff5fa5.png)

[2016-08-08 21:48] arouinfar commented on #86
If we allow the panel to expand by 50px, it cuts a bit too much into the play area. However, it looks like we've got quite a lot of negative space to the right of the panels and the reset all.
![image](https://cloud.githubusercontent.com/assets/8419308/17497493/5bd9a90c-5d7f-11e6-83b4-f0f93c908815.png)

It may be a little unorthodox, but perhaps we should allow panel to expand by up to 50px. Howev

[2016-08-08 23:53] andrewadare commented on #83
Following up from the previous entry, here's a simpler representation of the properties that are linked and unlinked by file. Several missing `unlink`s are highlighted with a `-->`.

[code]

[2016-08-09 19:46] andrewadare commented on #83
I have added dispose() methods where I was able to find them missing. Heap snapshot comparisons do not indicate that the problem is fully resolved. There are many mentions of generic objects (Object, closue, Array) and scenery objects, but I am having a very difficult time tracing their origin to the sim.

[2016-08-10 15:56] andrewadare commented on #46
@phet-steele I just pushed a fix for this that works for one or two pairs in my tests.

Martin has a [comment](https://github.com/phetsims/charges-and-fields/blob/a430d08640f24f7324a4215051fc8d627f710756/js/charges-and-fields/model/ChargesAndFieldsModel.js#L435-L441) that for three or more co-located opposite-sign pairs, it's still possible to contrive this scenario, but checking for it becomes ve

[2016-08-10 16:06] andrewadare commented on #87
Despite extensive testing for #46, I haven't seen this even once since the initial report. It is possible that one of my fixes in the past week or so (many addressing behavior near r=0) has also mitigated whatever caused this.

Closing, since I can't reproduce this even with focused attempts, and I'll reopen if this appears again.

[2016-08-10 16:06] #87 closed

[2016-08-15 15:03] phet-steele commented on #46
@andrewadare this works for one or two pairs in 1.0.0-dev.17. Closing.

I understand we will not address the case with 3+ pairs, but for posterity this is what can happen. The Equipotential meter is not disabled, so when trying to draw a field line, the following error is thrown:

[code]

[2016-08-15 15:03] #46 closed

[2016-08-15 15:05] phet-steele commented on #64
Fixed in 1.0.0-dev.17, closing.

[2016-08-15 15:05] #64 closed

[2016-08-15 15:07] phet-steele commented on #77
Working as intended in 1.0.0-dev.17, closing.

[2016-08-15 15:07] #77 closed

[2016-08-15 15:18] phet-steele commented on #81
@andrewadare this works well, with one small problem. If there is no net charge (or no charge at all) in the play area, the sensors will display a single dashed line before dropped, instead of no dashed lines. Showing both dashed lines once dropped is fine here:

![caf05](https://cloud.githubusercontent.com/assets/5863899/17669003/2c7ee1aa-62c9-11e6-8871-5c0bb9663c05.gif)

[2016-08-15 15:21] phet-steele commented on #82
Fixed in 1.0.0-dev.17, closing.

[2016-08-15 15:22] andrewadare commented on #81
@phet-steele good catch, let me see what I can do about that.

[2016-08-15 15:32] phet-steele commented on #82
Actually not fixed, noticed while verifying another issue:

The sensors will not update if placed _exactly_ in the center. Furthermore, in the case of dragging a particle on top of a sensor, if the particle is _exactly_ over the center of the sensor, the sensor will have a reading that effectively ignores the particle above it (end of the video):

![caf06](https://cloud.githubusercontent.com/asset

[2016-08-15 15:34] phet-steele commented on #84
Can't make this happen anymore, let's hope we never see it again.

[2016-08-15 15:34] #84 closed

[2016-08-15 16:18] phet-steele commented on #85
Looks good in 1.0.0-dev.17.

[2016-08-15 16:18] #85 closed

[2016-08-15 19:10] andrewadare commented on #82
The getElectricFieldChange function is what's causing the second problem (i.e. update failures with a charge dragged directly atop the sensor). I've spent several hours on this today, and I can reduce its probability of occurrence, but I have been unsuccessful making it completely go away.

That function was written as a second, more efficient implementation of the E-field calculation. It starts w

[2016-08-16 20:02] andrewadare commented on #83
@jonathanolson If you get a chance, I'm wondering if you could take a look at window.addEventListener in ChargesAndFieldsColors. Is it possible this function is contributing to this leak?

In heap snapshot comparisons, arrays are the top offender, when sorted by '# delta' or 'size delta'. (I'm not sure about the difference between (array) vs. Array). When I drill further, I see entries like this:

[2016-08-17 16:05] andrewadare commented on #83
@jonathanolson never mind, I was misguided in my hypothesis. Sorry for the noise.

[2016-08-17 18:52] alynne-phet opened #88 "Arrow on the sensor shows up when all the charges are placed back in the particle box"
For phetsims/tasks/issues/678
OSX 10.11.6
Chrome

Problem Description: An arrow on the sensor still shows up when all charges are placed back in the particle box

Steps to Replicate:
1. Place a charge and a sensor in the play area
2. Place the charge back into the item box, notice that the arrow still appears on the sensor

Screenshots:
![image](https://cloud.githubusercontent.com/assets/19288972/

[2016-08-18 14:47] andrewadare commented on #88
@alynne-phet good catch, I can easily reproduce this. Will see what I can do....

[2016-08-19 15:05] andrewadare commented on #88
Should be fixed on master, won't show up until 1.0.0-dev.19+

[2016-08-19 15:18] phet-steele commented on #83
This sim is all sealed up, nice work!

[2016-08-19 15:18] #83 closed

[2016-08-19 15:34] phet-steele commented on #81
Behaves well for me, thank you @andrewadare.

[2016-08-19 15:34] #81 closed

[2016-08-19 16:29] phet-steele commented on #82
Fixed, closing. Thank you @andrewadare.

[2016-08-19 16:29] #82 closed

[2016-08-19 16:40] phet-steele opened #89 "Visible arrows with undefined sensor values (at r=0)"
Probably a corner case @andrewadare, an arrow will be displayed on a sensor during a undefined/infinite voltage if it is placed at r=0. This problem does not arise with charges already dropped/moved elsewhere in the play area, only if the **initial** dropping is at r=0.

![caf07](https://cloud.githubusercontent.com/assets/5863899/17816867/9d70025e-65f8-11e6-8842-9c89cb7e3b14.gif)

Seen on OSX 10.1

[2016-08-19 16:53] andrewadare commented on #86
Regarding the second checkbox for this issue: the suggestion was to make the "V" string in the potential meter only translatable to a single character, to protect from text overruns in the sensor display. Something along these lines was done for Resistance in a Wire: see [this block](https://github.com/phetsims/resistance-in-a-wire/blob/bafd7d2fd8ee20e7a26a83555446eeace841c973/js/resistance-in-a-w

[2016-08-19 16:56] andrewadare commented on #86
Regarding the first checkbox, @phet-steele indicated :thumbsup: to the applied changes.

[2016-08-22 14:51] #80 closed

[2016-08-22 15:05] andrewadare opened #90 "Public tandem instance marked TODO"
@samreid I'm in the process of cleaning up TODO's in Charges and Fields, and came across a public tandem instance marked with TODO in [the ChargesAndFieldsModel constructor](https://github.com/phetsims/charges-and-fields/blob/421fff7b0c5be179a66b675db63e48d66576d657/js/charges-and-fields/model/ChargesAndFieldsModel.js#L45-L46).

I know you did not instrument this sim, but do you see this as a prob

[2016-08-22 15:45] andrewadare opened #91 "Legacy TODO cleanup"
There are many leftover TODO comments in C&F. Now that the sim has had many testing rounds for performance, appearance, and memory handling, many appear obsolete, leaving code quality as the primary remanining consideration. Each of these will be assessed in turn:

 - [x] ChargesAndFieldsModel.js:
   45:     // @public - Because we need to export our tandem for now. TODO!
   46      this.tandem =

[2016-08-22 16:47] andrewadare commented on #91
This set of commits clears most of the TODOs. Two remain: the tandem assignment in ChargesAndFieldsModel (see #90), and a matrix inversion optimization.

Regarding the latter: after all the work done on #83, performance of this sim is now very good, so  evidently the allocations in ElectricPotentialMobileWebGLNode are not causing significant problems. I will leave the TODO in place for now in case

[2016-08-22 17:02] andrewadare commented on #86
@phet-steele given the preceding comments, are we good to close this issue now?

[2016-08-22 17:04] samreid commented on #90
All of the `this.tandem = tandem` should be removed.  In the 3 cases where the `this.tandem` was being used for dispose, we should convert to the standard dispose pattern in which the tandem remains a closure (local) variable.

[2016-08-22 17:27] andrewadare commented on #90
@samreid thanks for the guidance. Is `this.tandem = tandem` a general anti-pattern? If so, there are appearances in Beer's Law Lab that may require attention.

[2016-08-22 17:28] andrewadare commented on #90
I also see a usage in ESPB with an explicit at-private annotation, which is presumably okay.

[2016-08-22 17:29] samreid commented on #90
It was a strategy we investigated something like 8 months ago, and I would expect to see `this.tandem = tandem` in several places based on that investigation.  They should all be cleaned up as described in my preceding comment.

[2016-08-22 17:47] phet-steele commented on #86
@andrewadare are you going to use this issue for the "flag", or can it be closed? (I'm fine with it being closed).

[2016-08-22 17:51] andrewadare commented on #86
@phet-steele good point, let's keep it open until then so it remains more prominent. Good to know, though, that this particular issue is resolved for Charges and Fields.

[2016-08-23 15:01] #90 closed

[2016-08-23 15:25] andrewadare opened #92 "Second code review"
Since the first code review in 2015 (see #28), this sim has undergone a nontrivial amount of revision (bug fixes, memory leak cleanups, documentation, and some view tweaks). We've also seen author/maintainer turnover and updates to the code review checklist itself. As we are approaching RC phase, @ariel-phet and I agreed it's now worth a second pass through the CRC, and that I would administer a s

[2016-08-23 15:59] andrewadare opened #93 "Is the 1.0 branch still needed?"
I was somewhat surprised to find a branch called "1.0" during a code review (#92). Should it be kept for posterity? If so, will it cause confusion when the "real" 1.0 is released?

[2016-08-23 16:40] andrewadare commented on #92
@ariel-phet I went through all the basics in the checklist (and fixed up a few minor items as a result). The 13 TODO items accumulated over the development phase have all been dealt with (save one low-priority item, see #91).

Testing on dev.18 has wrapped up. There arose two issues (#88 and #89) that received fixes which are not yet formally tested. Can you advise on how to proceed? Thanks.

[2016-08-23 17:15] ariel-phet commented on #92
@andrewadare lets go ahead and getting formal dev testing to make sure everything is in good shape. Please publish a new dev version and make a testing task. After that testing you and I should skype to see how we feel about further code review.

[2016-08-23 17:16] ariel-phet commented on #93
@andrewadare please confer with the other developers on this (at dev meeting if necessary but on the skype channel preferably). I would think it should be removed, since 1.0 should not exist until we publish.

[2016-08-23 19:34] pixelzoom commented on #86
According to the 8/25/16 dev meeting agenda, this issue is going to be discussed:

Labeling this issue for dev meeting.

[2016-08-23 19:42] pixelzoom commented on #86
@jbphet flagged this for 8/25/16 developer meeting discussion.

My 2¢ on pulling a single character off of a translated string, as in resistance-in-a-wire.FormulaView `getFirstNonEmbeddingCharacter`.

Absolutely not, we should not be doing this - and that applies to CAF and RIAW.

Many of the [Unicode mathematical operators and symbols](https://en.wikipedia.org/wiki/Mathematical_operators_and_symb

[2016-08-23 20:14] pixelzoom commented on #86
To demonstrate the problem that can be caused by indiscriminately pulling the first character off of a translated string...

Here's what RIAW looks like with the Unicode math symbol ‘𝑹’. The symbol is rendered as garbage because we're only using the first byte of a multibyte character.

![screenshot_85](https://cloud.githubusercontent.com/assets/3046552/17908029/dd1c03bc-693b-11e6-8f9d-b372a4a869f

[2016-08-24 16:07] phet-steele opened #94 "Make Credits alphabetical by last name"
@andrewadare can you do this? Noticed in 1.0.0-dev.19 for phetsims/tasks/issues/685.

[2016-08-24 16:30] phet-steele opened #95 "Sensors jump to the center of the play area"
@andrewadare I cannot currently test 1.0.0-dev.19 adequately. The two issues to verify as fixed are related to sensors (#88 & #89), but sensors behave incorrectly. When trying to grab a sensor from the tool box, they are instead placed in the center of the screen. Furthermore, they do not update until they are grabbed and released in the play area by the user:

![caf08](https://cloud.githubusercon

[2016-08-24 16:30] andrewadare commented on #94
Sure, wasn't sure about the protocol there, but that works in my favor :)

[2016-08-24 16:32] phet-steele commented on #94
Mine, too 😆

[2016-08-24 16:56] andrewadare commented on #95
Argh. Traced to 8ff268d. Reverting....

[2016-08-24 19:36] phet-steele commented on #94
Thanks for the quick fix!

[2016-08-24 19:36] #94 closed

[2016-08-24 19:37] phet-steele commented on #95
The jumping and updating is indeed fixed, closing.

[2016-08-24 19:37] #95 closed

[2016-08-24 19:39] phet-steele commented on #88
Fixed, thanks @andrewadare. Closing.

[2016-08-24 19:39] #88 closed

[2016-08-24 19:40] phet-steele commented on #89
Fixed, closing.

[2016-08-24 19:40] #89 closed

[2016-08-24 19:57] phet-steele commented on #46
Also introduces #88 with 3+ pairs.

[2016-08-25 18:31] pixelzoom commented on #86
8/25/16 dev meeting:  Decided to remove `getFirstNonEmbeddingCharacter` from RIAW and not propagate this approach to other sims.

[2016-08-25 18:43] phet-steele commented on #86
@andrewadare after this decision, last thing to do here is it might be a good idea to scale the text of the Equipotential meter's readout down with longer strings. I don't feel like many translators will enter a string longer than one character, but a fall back if they do might be nice. The text in the screenshot below should stay in the white area:
<img width="249" alt="screen shot 2016-08-25 at

[2016-08-25 22:58] pixelzoom opened #96 "sim relies on align:'right' default for Panels"
Related to https://github.com/phetsims/sun/issues/252, this sim relies on the old default of `align:'right'` for Panels.  Below are the stack traces for occurrences that need to be checked. These are the occurrences noted when loading the sim in requirejs mode. If the sim creates Panels dynamically, you should do further checking with fuzzMouse.

[code]

[2016-08-26 14:26] pixelzoom commented on #96
None of the above call sites use the `minWidth` option, so their behavior will be unaffected.  Closing.

[2016-08-26 14:26] #96 closed

[2016-08-26 14:30] andrewadare commented on #93
Conclusion after discussion with dev team: keep the 1.0 branch and merge master into it when ready. There may be GitHub issues tied to that branch that should be preserved.

Indirectly related: the existing RC versions and testing matrix files will also be preserved, and the "real" 1.0 release candidate versioning will increment from the latest.

[2016-08-26 14:30] #93 closed

[2016-08-26 14:33] andrewadare commented on #92
After discussion with @ariel-phet yesterday, it was decided that the first code review, plus this partial second review, are sufficient.

[2016-08-26 16:05] jbphet commented on #86
I've removed the code from RIAW and did a maintenance release.  Only one translator had added long strings for the characters, and I've asked @oliver-phet to contact him/her and let them know that they will need to fix the translation.

[2016-08-26 16:26] oliver-phet commented on #86
Translator has been notified.

[2016-08-26 18:05] phet-steele commented on #86
I believe all work is done here, thank you everyone! @andrewadare the commit to the Equipotential meter looks great.

[2016-08-26 18:05] #86 closed

[2016-08-29 19:05] ariel-phet opened #97 "Items to include in teacher tips"
1. From an unfuddle ticket:

I think the current plot is quite easy to interpret, but we might make something akin to a legend or description in the teacher tips/primer

2. A comment on the the "direction" only feature would likely be useful

3. A comment on the the field representation would be good (brightness mapping to strength, even though fairly obvious), we might say a brief comment of *why

[2016-08-29 19:07] ariel-phet commented on #97
@arouinfar @andrewadare @phet-steele any other items you feel should be covered/mentioned?

[2016-08-29 19:20] ariel-phet commented on #97
1. We should also point out that the grid is arranged such that when charges are placed on the major intersections of the grid the field of a single charge will look "like the textbook"

Notice the field points radially outward in this case

![point charge](https://cloud.githubusercontent.com/assets/4051174/18064124/357fb612-6deb-11e6-8609-2b6ebd21247e.PNG)

Whereas if not on the grid, the field (

[2016-08-29 19:30] ariel-phet opened #98 "Snap to grid feature?"
@arouinfar

From an unfuddle issue:

Unfortunately, I don't think I had reviewed the unfuddle tickets for this sim (my miss, and might have been before we had a solid process in place)

I don't think the suggestion above is a good idea (I can see why Mike chose the arrangement he did - if you place a charge at the major intersections of the grid, the field points radially outward as shown below)

[2016-08-29 19:52] ariel-phet opened #99 "Electric field line represenation in a V2?"
Not assigning anyone to this issue currently, but it seems a common request/thought in the past was to add a field line representation to this sim.

This would likely be a fair bit of work, but it might be a good backburner project for a developer like @jessegreenberg at some point.

Mainly making this issue so that we can consider the work involved next time we revisit the sim after initial publi

[2016-08-29 20:02] arouinfar commented on #98
I agree. Earlier in the design process there was some discussions about the locations of the field arrows within the grid. In Flash, the E-field arrows were located on grid lines, but the major intersections didn't hold much importance.
![image](https://cloud.githubusercontent.com/assets/8419308/18065137/cff061e8-6def-11e6-84fd-c2ed26ea8d8c.png)

We deliberately shifted the grid a bit so that the

[2016-08-29 20:06] arouinfar commented on #97
These are excellent suggestions @ariel-phet. I cross-referenced the Flash Teacher Tips and found this

While I wouldn't copy and paste this statement into the HTML5 Teacher Tips, I think it would be helpful to add a statement about how the E-field sensors operate.

[2016-08-29 20:11] veillette commented on #99
FYI, at some point charges and fields had an implementation of the electric field lines

http://www.colorado.edu/physics/phet/dev/html/charges-and-fields/1.0.0-dev.5/charges-and-fields_en.html

 It was hidden behind a dialog box. The electric field line would appear when double clicking (or double tapping) an electric field sensor. It turns out to be relatively easy to implement. You may want to r

[2016-08-29 20:16] veillette commented on #99
The commit when we removed the electric field lines

https://github.com/phetsims/charges-and-fields/commit/5e3d597064def6aef7ebf5226b9a0a8a711adfcf

You probably cannot simply undo this commit and expect the sim to be working, but it is a starting point.

[2016-08-29 21:00] veillette commented on #99
One of the reason why the electric field lines were removed was due to the fact that the electric field lines do not behave as simply as one would learn in a high school setting.
Almost every single textbook makes a mentions that  electric field lines must begin on positive charges and terminate on negative charges, or at infinity in the hypothetical case of isolated charges.

Although this is cor

[2016-08-29 21:50] ariel-phet commented on #99
@veillette thanks for the detailed explanation.

I will bring up with @kathy-phet, and I think for the reasons you mentioned above we will drop this feature request from future discussion!

[2016-08-29 21:55] kathy-phet commented on #99
Agreed. Drop feature request.

[2016-08-29 22:04] andrewadare commented on #98
I don't (yet) know how to implement this, but I'm sure it's just a matter of pinging the more experienced developers to point out some comparable examples. I assume this should not hold up RC1, but we can leave this issue open for version 2.

[2016-08-29 22:24] arouinfar commented on #98
@andrewadare I don't think @ariel-phet meant rc.2 - I certainly didn't. I don't imagine we want this to hold back publication of the sim, but this feature could be in a future version.

[2016-08-29 22:37] ariel-phet commented on #99
Sounds good. Closing.

[2016-08-29 22:37] #99 closed

[2016-08-29 22:37] ariel-phet commented on #97
@arouinfar - agreed

[2016-08-29 23:01] arouinfar commented on #97
@ariel-phet what's the timeline for this? Looks like the latest dev test went smoothly, so I'm optimistic that there may be just one RC. If I have the tips ready by Friday, would that be soon enough?

[2016-08-29 23:04] ariel-phet commented on #97
@arouinfar I think by Friday would be reasonable. Lets start gathering the other materials as well noted in the master checklist https://github.com/phetsims/charges-and-fields/issues/32

Assigning the checklist to you for the moment for the prepublication items (and to make sure interview notes are pasted into the doc, backed up and such)

[2016-08-29 23:05] ariel-phet commented on #32
Assigning to @arouinfar for pre-publication items and interviews section

Self assigning to go through other items

[2016-08-29 23:07] ariel-phet commented on #98
@andrewadare correct, this would be a feature to consider _after_ the sim is published, for a new release at some point

[2016-08-29 23:07] ariel-phet commented on #98
Unassigning for the moment

[2016-08-30 15:10] phet-steele commented on #97
Probably could state something about #46. Modelling co-located charges isn't exactly realistic; the sim WILL exhibit buggy behaviour with 3+ pairs.

[2016-08-30 15:42] arouinfar commented on #97
Thanks @phet-steele!

[2016-08-30 17:52] BryceAG opened #101 "Voltage "V" out of text box"
Test device:
Dirac

Operating System:
OSX 10.9.5

Browser:
Safari

Problem description:
In some places when the equipotential measuring tool is placed in the center of a proton, it reads as a long number and the V is outside of the box. Occurs in full screen, maximized window, and normal window. This depends on where the proton is placed, as in some positions it will read the correct "infinity V"

[2016-08-30 17:59] ariel-phet commented on #101
@andrewadare seems perhaps just a different threshold needs to be set

[2016-08-31 00:50] ariel-phet commented on #101
@BryceAG - just a reminder to also note ticket number in the test matrix (I have put it in there for you)

[2016-08-31 15:05] andrewadare commented on #98
On hold; reconsider for Charges and Fields 2.0.

[2016-08-31 15:05] #92 closed

[2016-08-31 15:22] phet-steele opened #102 "Update to QA credits"
@andrewadare, before publishing, may you please add "Ben Roberts" and "Bryce Griebenow" to QA credits (preserving the alphabetical order)?

[2016-08-31 15:36] andrewadare commented on #101
@BryceAG this is quite a find...after half an hour of painstaking dragging, I'm unable to reproduce this on Safari. I tried positioning the charge and sensor all over, including exactly as you have it in your screenshot:
![image](https://cloud.githubusercontent.com/assets/154163/18134929/58cee156-6f5d-11e6-92b7-c661762d5847.png)

I also tried doing absurd things to produce a large potential readou

[2016-08-31 16:01] andrewadare commented on #101
Here, I stacked ten positive charges, and positioned the sensor at its max readout value (on Safari):
![image](https://cloud.githubusercontent.com/assets/154163/18136188/a9c7a72e-6f61-11e6-82ed-4d53279dc2ca.png)

Still looks okay to me.

[2016-08-31 16:31] andrewadare commented on #102
@phet-steele Done. Your first-place position in the listing is still safe :)

[2016-08-31 16:32] #102 closed

[2016-08-31 17:01] BryceAG commented on #101
I have reproduced it a couple times on Dirac, but I agree that it is very
difficult. I had to refresh the page to get it to work sometimes, so that
might help reproduce it. If it can't be reproduced on another computer then
it might just be a hardware issue.

On Wed, Aug 31, 2016, 10:01 AM Andrew Adare notifications@github.com
wrote:

[2016-08-31 21:33] BryceAG commented on #101
Reproduced on Dirac again, but OS X 10.10.5
![screen shot 2016-08-31 at 3 30 24 pm](https://cloud.githubusercontent.com/assets/15327201/18147034/19fc1aec-6f90-11e6-8033-d41a442ab88a.png)

[2016-08-31 21:44] BryceAG commented on #101
Also reproduced on Curie OS X 10.10.5
![screen shot 2016-08-31 at 3 35 58 pm](https://cloud.githubusercontent.com/assets/15327201/18147188/b6fcdfb6-6f90-11e6-85eb-c13ec188a304.png)

It doesn't look like a hardware issue, although I have not been able to reproduce it on Chrome, so I think it is safari specific

[2016-09-01 16:27] pixelzoom commented on #101
I spent a few minutes (during status meeting :) trying to reproduce this on my MacBook Pro (Mid-2009 model, Mac OS X 10.11.6).  I could not reproduce it with Safari or Chrome.

[2016-09-01 16:50] samreid commented on #101
I couldn't reproduce the problem in Chrome after a few minutes.  It looks like `Util.toFixed` looks like it still relies on `Number.toFixed`, so that is one possible place where the error my be creeping in.

[2016-09-01 21:45] andrewadare commented on #101
I borrowed Curie today and tried to find this bug. On that machine, I can reproduce it on  1.0.0-RC.6 fairly consistently by dragging to very specific locations.

I installed a minimal development stack on Curie and cloned the phet repos in order to do basic things like print console messages. I've been altogether unsuccessful reproducing the bug on the requirejs version of master. I can reproduce

[2016-09-02 01:52] samreid commented on #101
I am curious about this, wondering if 10.10.5 safari has bugs in toFixed or the elsewhere in the code under `decimalAdjust`.  It's possible for this bug to exhibit elsewhere (outside of charges-and-fields).

To avoid having to rebuild the sim, I'd recommend just building an unminified version you can tinker with.

[2016-09-02 01:56] ariel-phet commented on #101
@andrewadare perfect can be the enemy of good. This bug is worth no more time currently as it is a rare use case, and you have given it the college try.

Marking "won't fix" and unassigning (we can close once published)

[2016-09-02 16:38] pixelzoom commented on #101
Assuming it's still reproducible but @BryceAG.... Why not add some debug code that throws Error and prints relevant var values when this occurs?

[2016-09-02 17:15] pixelzoom commented on #101
@samreid makes a good point in https://github.com/phetsims/charges-and-fields/issues/101#issuecomment-244262906.

Why not add something like this to detect the problem and print a stack track with relevant var values?

[code]

Then have @BryceAG reproduce it, and send @andrewadare  what's printed to the console.

[2016-09-02 17:21] samreid commented on #101
I like @pixelzoom's idea to detect the problem, but I don't see how printing the message and the stack trace will show the relevant var values.  We may need a screen capture of local variables.  Or we could have a developer sit down with Curie and do this.

[2016-09-02 17:24] pixelzoom commented on #101
What's preventing you from including relevant var values in the Error message?  E.g., if voltage were computed based on current and resistance:

[code]

[2016-09-02 17:26] samreid commented on #101
Oh yeah, that makes sense.  But it wouldn't be able to inspect values at other points in the stack.  (I know chrome dev tools can do this but I'm not sure about safari).

[2016-09-06 13:43] ariel-phet commented on #67
Since @andrewadare is actively instrumenting this sim, this issue seems stale. Closing

[2016-09-06 13:43] #67 closed

[2016-09-06 14:07] ariel-phet opened #103 "Ben and Bryce should be added to QA credits"
@andrewadare please add Ben Roberts and Bryce Griebenow to credits

[2016-09-06 14:13] ariel-phet commented on #65
Seems to no longer be an issue, closing

[2016-09-06 14:13] #65 closed

[2016-09-06 14:18] andrewadare commented on #103
@ariel-phet this was done for #102.

[2016-09-06 14:25] ariel-phet commented on #103
Closing

[2016-09-06 14:25] #103 closed

[2016-09-06 15:50] andrewadare opened #105 "Optimize matrix inversion"
This is the only remaining item remaining from the TODO cleanup umbrella issue #91. It's being ported here so that issue can be closed. It concerns [these lines](https://github.com/phetsims/charges-and-fields/blob/02b010b8c53a3e6248e22d46798b0cc319a595b4/js/charges-and-fields/view/ElectricPotentialMobileWebGLNode.js#L160-L164) in ElectricPotentialMobileWebGLNode.js.

Performance of this sim appear

[2016-09-06 15:51] andrewadare commented on #91
The open TODO has been given its own ticket (#105) and marked with the lowest priority.

[2016-09-06 15:51] #91 closed

[2016-09-07 01:17] arouinfar commented on #32
CAF is now live. Teacher Tips will be up later tonight, and the remaining checklist items will be taken care of soon.

[2016-09-07 15:44] arouinfar commented on #97
Converting this list to a checklist
- [x] Describe color scale for electric potential
- [x] Direction only
- [x] E-field representation as arrows on the grid (brightness maps to strength)
- [x] Charges are pinned
- [x] Arrangement of arrows on grid
- [x] E-field sensors
- [x] Co-locating 3+ pairs

[2016-09-07 16:13] arouinfar commented on #97
These suggestions have all been added to the Teacher Tips. Closing.

[2016-09-07 16:13] #97 closed

[2016-09-08 15:06] kathy-phet opened #106 "Nasty bug on Mike Dubson's machine - voltage display as if charges in different location"
On his machine, if you add charges to the play area and then reset, and then add more charges everything gets out of sync in the location and memory of the voltage display. We updated his chrome browser to the latest version and the bug is still there. I cannot reproduce this bug on my machine. See image below (reset was pressed and no charges have been pulled out, but it still is displaying volta

[2016-09-08 15:07] kathy-phet commented on #106
@andrewadare  - Mike said you can come to his office to use his machine to check out this bug.

[2016-09-08 15:08] kathy-phet commented on #106
Here is the info when you his report a problem. Note we updated chrome after this. And his is a windows 7 machine, service pack 1.
Troubleshooting information (do not edit):
Name: ‪Charges And Fields‬
URL: https://phet.colorado.edu/sims/html/charges-and-fields/latest/charges-and-fields_en.html
Version: 1.0.0 2016-09-07 17:38:42 UTC
Features missing: touch
User Agent: Mozilla/5.0 (Windows NT 6.1) A

[2016-09-08 15:36] ariel-phet commented on #106
I have a windows 7 machine, checked this and did not see a problem, cannot reproduce.

[2016-09-08 15:38] ariel-phet commented on #106
Also tried in projector mode as shown in issue

[2016-09-08 15:43] ariel-phet commented on #106
Looks like Mike has a 4k display from the report a problem info? Could that be causing some funkiness?

Edit: for the benefit of @oliver-phet and @phet-steele -- CLEARLY this must not be a 4k display. I saw the 4096x4096 and thought that was odd, but is a webgl thing.

[2016-09-08 15:51] phet-steele commented on #106
The device in my office has a 4K screen that's never shown this, granted it's Win 10. If anything, it's a Win 7 & 4K problem.

Mike, can you go into chrome settings and try toggling on/off the use of hardware acceleration? Just a hunch.

[2016-09-08 15:58] andrewadare commented on #106
Just used the sim on Mike Dubson's Windows 7 machine for about 20 minutes. What a strange, awful bug. As noted by @kathy-phet, problems appear after clicking the reset button. Selecting the Voltage checkbox after a reset (with no charges on screen) adds an apparently random number of red and blue potential shapes in apparently random locations.

[2016-09-08 16:12] samreid commented on #106
Try ?webgl=false

edit: AP - also see if a difference in projector mode or not

[2016-09-08 16:33] pixelzoom commented on #106
Window 7 Service Pack 1 was released in 2010.  Perhaps also try updating to a more recent version.

[2016-09-08 16:36] pixelzoom commented on #106
We also determined that Mike does not have a 4K display.  In the debug output, `4096` is the WebGL texture size: `Texture: size: 4096 imageUnits: 16 (vertex: 4, combined: 20)`.  His display dimensions are `Window: 1502x861`.

[2016-09-08 18:29] dubson commented on #106
With ?webgl=false, the bug goes away. Thanks! Mike

[2016-09-08 18:34] ariel-phet commented on #106
@dubson glad to see!

Can you let us know what graphics card your computer has, or possibly let @oliver-phet take a look? Some graphics cards are known to have issues with webgl and we would like to isolate if that is the problem.

Thanks!

[2016-09-08 18:34] dubson commented on #106
Auto-updates are and have been on, on my PC, and system is up-to-date.  -mike

[2016-09-08 18:40] dubson commented on #106
Intel(R) G45/G43 Express Chipset
This is the only info I get from Device Manager..Display Adapters on my PC.   -mike

[2016-09-08 18:45] oliver-phet commented on #106
Mike, can you please inspect the status of WebGL:

Go to the URL `chrome://gpu`
Inspect the **WebGL** item in the **Graphics Feature Status** list. The status will be one of the following:
- Hardware accelerated — WebGL is enabled and hardware-accelerated (running on the graphics card).
- Software only, hardware acceleration unavailable — WebGL is enabled, but running in software.
- Unavailable —

[2016-09-08 18:47] dubson commented on #106
Have done this.  Status is Hardware accelerated

-mike

Michael Dubson

Associate Chair for Undergraduate Studies

Dept of Physics, University of Colorado Boulder, UCB 390

Boulder, CO 80309

office: 303-492-4938

email: michael.dubson@colorado.edu

---

From: Oliver Nix notifications@github.com
Sent: Thursday, September 8, 2016 12:45:49 PM
To: phetsims/charges-and-fields
Cc: Michael A Dubson; Men

[2016-09-08 18:48] ariel-phet commented on #106
Also, just as a note, how old is your computer? Wikipedia has the following

Chrome on Windows

[code]

[2016-09-09 15:34] ariel-phet commented on #32
@arouinfar all remaining items (notes in design doc, primer, and compatible activities) are in your court.

[2016-09-09 16:12] arouinfar commented on #32
Compatible activities have already been moved over, so I've checked that off. Hoping to get the interview notes moved over today. Primer will be awhile...

[2016-09-09 17:21] ariel-phet commented on #32
@arouinfar understood on primer

[2016-09-22 16:14] oliver-phet commented on #106
Self-assigning to look at MD's computer to get hardware info.

[2016-09-22 22:07] oliver-phet commented on #106
Some more relevant graphics info:
Windows 7 Intel GMA X4500 and other HD Graphics 8.15.10.2202
Driver date: 8/25/2010

[2016-09-22 22:08] oliver-phet commented on #106
It appears there is a graphics driver update available which may alleviate the problem: http://www.intel.com/content/www/us/en/support/graphics-drivers/graphics-drivers-for-intel-g45-express-chipset.html

[2016-09-23 18:41] oliver-phet commented on #106
This bug may have been reproduced by Sandor:

I asked for Sandor's system details and will post when he replies. @andrewadare @ariel-phet anything else I can get from him?

[2016-09-23 19:08] ariel-phet commented on #106
@oliver-phet please have him run with the `?webgl=false` query parameter, and report if he still sees the issue

https://phet.colorado.edu/sims/html/charges-and-fields/latest/charges-and-fields_en.html?webgl=false

Also ask if the bug happened on "reset" of the sim

[2016-09-23 19:21] ariel-phet commented on #106
@oliver-phet we might want to consider posting something on that webpage like the Plate Tectonics sim

A simple message like "For older hardware, please use this [link]" or such and have the ?webgl=false link listed there

[2016-09-23 19:30] samreid commented on #106
Is the webgl only important to get good performance on iPad?

[2016-09-23 22:22] samreid commented on #106
If so, you could release a maintenance release that only uses webgl on mobile.

[2016-09-26 20:27] oliver-phet commented on #106
More info from Sandor:

[2016-09-26 22:42] andrewadare commented on #106
Seems like this user has confirmed exactly what we've already established, and nothing other than that (which is good).

Should we make a plan to do performance testing with WebGL disabled on non-mobile devices, then redeploy as @samreid suggested if that's successful?

[2016-09-26 22:59] samreid commented on #106
Have you deduced whether the buggy machines are using ElectricPotentialWebGLNode or ElectricPotentialMobileWebGLNode?  Are both of those buggy?  Does this bug ever appear on iPads?  Now that we have seen the bug on 2 machines, should we dedicate a bit more time to sitting down with Dubson's machine and trying to isolate the issue?  What is the probability this issue will occur on other machines?

[2016-09-26 23:00] ariel-phet commented on #106
Lets first see if @oliver-phet can reproduce on one of our old machines so we have a machine we can play with.

@oliver-phet can you check for this on one of our ancient laptops?

[2016-09-26 23:40] samreid commented on #106
I tried Chrome 47 on my ancient Windows Vista Acer laptop, no problem there.

[2016-09-26 23:44] kathy-phet commented on #106
Is @jonathanolson aware of this bug/conversation? Seems like he may have some suggestions too.

[2016-09-26 23:59] jonathanolson commented on #106
I was not aware, but should be able to help.

First (as @samreid noted) it's important to understand whether his computer is using the Canvas, mobile WebGL, or full-featured WebGL by inspecting what the sim says (they are designed to look the same). I see that it's interpolated with bicubic, to me indicating that he is NOT using the full-featured WebGL version. Additionally, since he said ?webgl=f

[2016-09-27 00:05] jonathanolson commented on #106
Additionally, testing a version that ONLY uses that display output may make reproducing this problem easier.

[2016-09-27 00:28] ariel-phet commented on #106
@jonathanolson I don't think myself or the QA team is aware of a way to just test the "mobile WebGL"
- is there a query parameter for such a test?
- I was not even aware of "mobile WebGL" until your comment above
- would a better solution be to publish a maintenance release that use WebGl or canvas as the fall back, without any Mobile WebGl if that turns out to be the issue?

[2016-09-27 16:26] brroberts1231 commented on #106
This was immediately reproducible on our Win10 (oldish) testing computer, Galileo.
Screen:
![charges and fields](https://cloud.githubusercontent.com/assets/11947677/18882500/a7615836-849c-11e6-99b6-6493aebb67e6.PNG)

Name: ‪Charges And Fields‬
URL: https://phet.colorado.edu/sims/html/charges-and-fields/latest/charges-and-fields_en.html
Version: 1.0.0 2016-09-24 19:44:27 UTC
Features missing: touch

[2016-09-27 16:28] brroberts1231 commented on #106
@andrewadare @jonathanolson You can use Galileo to test, if it helps. It is in F925. Or let me know if I can run any diagnostics that could help.

[2016-09-27 16:30] brroberts1231 commented on #106
Also with, `?webgl=false`, I can't seem to reproduce the issue.

[2016-09-27 16:33] phet-steele commented on #106
BTW, those three above comments from @brroberts1231 was @oliver-phet commenting with Ben's account 😄

[2016-09-27 16:34] phet-steele commented on #106
@andrewadare @jonathanolson if you use Galileo to test, it will need to be plugged into an outlet at all times.

[2016-09-27 16:57] andrewadare commented on #106
@jonathanolson can you provide some more detail on this comment, such as whether this was hardware-dependent, and whether there is something that can be done in the code to handle the problem (i.e. outside of disabling WebGL via query parameters)? I can do testing on Galileo, but it's clear that you have a better grasp of the details of this, since you and Martin are the main authors of the *WebGL

[2016-09-27 18:51] jonathanolson commented on #106
Not currently. I'd love to have query parameters like "forceCanvas", "forceMobileWebGL" or "forceWebGL" that override the selection process in the sim.

Mobile WebGL works well at least on iPads and hopefully most mobile devices. If it turns out to be the culprit (and there's no bug in the sim), we could have a release that only enables it for iOS or Android (otherwise fall back to Canvas).

Witho

[2016-09-27 19:04] jonathanolson opened #107 "[branch] webgl-options"
Adds query parameter options for forcing display modes, see https://github.com/phetsims/charges-and-fields/issues/106

[2016-09-27 19:05] jonathanolson commented on #106
Added branch with query parameters, unable to immediately reproduce the problem, so hardware is at least partially responsible.

[2016-09-28 17:30] andrewadare commented on #106
I now have Galileo for testing. Here's the dump from chrome://gpu:

[code]

[2016-09-28 18:11] andrewadare commented on #106
Some important lines are

[code]

and

[code]

The Mozilla [wiki page for blocked hardware](https://wiki.mozilla.org/Blocklisting/Blocked_Graphics_Drivers#AMD.2FATI_cards) says:

So this GPU driver appears to be blocked by Firefox. Indeed, I cannot reproduce the bug with Firefox on Galileo [edit: tested without webgl=false].

Back to Chrome: I dug around for a while in https://cs.chromium.org/chro

[2016-09-28 18:17] jonathanolson commented on #106
We could consider trying to detect GPU information, and have a blacklist that matches Firefox (if that's technically possible).

[2016-09-28 18:56] ariel-phet commented on #106
For the moment, we are going to take no action since this seems to be an issue with old computers and a few GPU+driver combos.

We are going to take a wait and see approach to see how many other reports we get to phethelp

As my one coworker said in the shop years ago "Someone gets rolled under the wheels of progress every day"

[2016-09-28 18:57] ariel-phet commented on #106
@oliver-phet leaving you assigned for the moment to let us know about any further bug reports

[2016-09-28 19:15] andrewadare commented on #106
Before moving on, here's a brief summary of a testing session with @jonathanolson.
- We tried with IE on Galileo and the bug did not happen*.
- JO made a branch to force mobile WebGL as the backend. Still no bug on IE.

We can recommend to users that based on our limited tests, the problem doesn't occur on Firefox or IE, so try one of those (or use ?webgl=false).

*Sorry, didn't get the IE version

[2016-09-29 21:26] andrewadare commented on #79
Blocked by https://github.com/phetsims/phet-io/issues/497. I just marked that issue as high priority.

[2016-10-06 22:43] jonathanolson opened #108 "toImage width/height should be integers, not floating point"
Causes a failure on Scenery's cleanup branch with assertions.

[2016-10-06 22:44] jonathanolson commented on #108
@andrewadare, can you verify my changes above don't break anything subtle?

[2016-10-12 16:14] andrewadare commented on #108
@jonathanolson neither manual testing nor fuzz testing reveals any problems with this change. Looks good to me, closing.

[2016-10-12 16:14] #108 closed

[2016-10-21 19:29] andrewadare commented on #79
https://github.com/phetsims/phet-io/issues/720 Has progressed to the point that this issue is no longer blocked.

Pushing the options button, then closing it, then pushing it again triggers this error:

Assertion failed: Cannot register two different instances to the same id

[2016-10-21 19:38] andrewadare commented on #79
PhetMenu appears to have full Tandem support and implements dispose(), but OptionsDialog and CloseButton do not.

[2016-10-31 03:58] samreid opened #109 "Add ChargedParticle.dispose"
To support phet-io instrumentation, ChargedParticle must implement dispose.  I tried implementing this and ran into the problems identified in https://github.com/phetsims/phet-io/issues/319#issuecomment-257164312

I solved the problem by adding a synchronous disposeEmitter instead of allowing the model removal code to run before the view removal code (which was causing the error in Property.dispos

[2016-10-31 04:02] samreid commented on #109
Changed pushed above.  Lint is passing.  Tests in chrome seem good, I can create particles and put them back in the toolbox.  Reset is working.  It works in the states wrapper in the phet-io branch.  @andrewadare can you please review the changes?

[2016-10-31 15:04] andrewadare commented on #109
@samreid code changes look good and fuzz test in browser passes without problems.

[2016-10-31 15:04] #109 closed

[2016-10-31 21:07] pixelzoom opened #110 "Replace getQueryParameter with QueryStringMachine"
Factored out of https://github.com/phetsims/query-string-machine/issues/15

[2016-10-31 21:28] pixelzoom commented on #110
This sim doesn't have a *QueryParameters.js file, so someone else will need to do it.

[2016-11-02 21:44] andrewadare commented on #79
The optionsDialog instance in PhetMenu was made persistent, and although dispose() was not fully implemented in OptionsDialog, this bug is now fixed.

[2016-11-02 21:44] #79 closed

[2016-11-05 16:48] samreid opened #111 "Buggy looking random"
I noticed this code:

[code]

I suspect phet.joist.random() should be phet.joist.random.nextDouble().  @andrewadare can you investigate?

[2016-11-05 16:56] samreid commented on #111
I'll take a look shortly.

[2016-11-05 16:59] samreid commented on #111
I've pushed a proposed fix above, @andrewadare can you take a look?

[2016-11-07 15:09] oliver-phet commented on #106
We just received a user report into phethelp about this issue. Any update on a fix for this?

[2016-11-07 15:10] oliver-phet commented on #106
@ariel-phet

[2016-11-07 15:28] kathy-phet commented on #106
Oliver, Can you collect and report information on the computer and display specifications, including how old the computer is?

[2016-11-07 15:30] oliver-phet commented on #106
Here is the output from the user:

[2016-11-07 15:53] ariel-phet commented on #106
@oliver-phet no update on a fix. I still feel like a note directly on the sim page is the best course of action.

[2016-11-07 16:24] andrewadare commented on #106
The error report above doesn't list the GPU driver version (for example the info in https://github.com/phetsims/charges-and-fields/issues/106#issuecomment-250238481 and more specifically in https://github.com/phetsims/charges-and-fields/issues/106#issuecomment-250251348). Without that, I can't look up whether the user's combination of browser + GPU driver is blacklisted.

Our findings with the dec

[2016-11-07 16:59] samreid commented on #106
Should we discuss only enabling webgl on iPad for this sim (using webgl=false elsewhere)?

[2016-11-07 22:59] kathy-phet commented on #106
Seems worth testing to see if performance is sufficient on non-tablet devices.

[2016-11-08 15:43] oliver-phet commented on #106
@andrewadare Here is the GPU dump:

[2016-11-08 20:31] jonathanolson commented on #106
It's important to know which WebGL view is being used, and I'd love to have access to a device so that I can debug this (and determine if it's a corner-case bug in our code, or a bug we can't work around).

It's also not just degraded performance, but also appearance.

[2016-11-08 20:39] samreid commented on #106
+1 for @jonathanolson to take a closer look on Galileo.

[2016-11-08 20:52] ariel-phet commented on #106
@jonathanolson - sounds good to have you take a look. @oliver-phet will give you Galileo on Thursday

@kathy-phet - sadly the webgl "look"  for voltage is just so much cleaner and nicer it would be a shame to not have it for other devices. I reiterate, that we just cannot support everything, and sometimes old computers users are going to suffer. But we will do our due diligence to see if there is

[2016-11-08 20:53] ariel-phet commented on #106
Bumping to medium priority

[2016-11-10 20:05] andrewadare opened #112 "Rework ChargesAndFieldsColors to use ColorProfile"
From https://github.com/phetsims/scenery-phet/issues/278

[2016-11-14 03:29] pixelzoom commented on #110
No need for ChargesAndFieldsQueryParameters. This sim uses `phet.chipper.queryParameter.webgl` and `phet.chipper.queryParameter.colorProfile`.

Closing.

[2016-11-14 03:29] #110 closed

[2016-11-14 15:59] andrewadare commented on #112
There are 16 occurrences of `ChargesAndFieldsColorProfile.link`, and almost as many unlink calls.

I removed reliance on ES5 accessors for the color properties, but these link functions are still using PropertySet-specific syntax until @jonathanolson converts ColorProfile from use of PropertySet.

[2016-11-14 16:17] andrewadare commented on #111
@samreid sorry for the delay, I checked this and it looks good. Thanks for fixing.

[2016-11-14 16:17] #111 closed

[2016-11-14 20:06] andrewadare commented on #112
Turns out I did not need to wait. The conversion to using ColorProfile should be complete now, and fully forward-compatible with ColorProfile's switch to Property.

[2016-11-14 20:06] #112 closed

[2016-11-16 20:43] andrewadare opened #113 "Dragging artifacts"
I'm seeing these vertical bars when slowly dragging the sensor:

![image](https://cloud.githubusercontent.com/assets/154163/20364909/3e55643a-ac02-11e6-8689-e770f8982f63.png)

This is in requirejs mode. I cannot reproduce this on the released build (1.0.0).

TODO: check for this in the next built version (today or tomorrow).

[2016-11-16 23:21] andrewadare opened #114 "Potential gradient disappears when dragging potential sensor"
In PhET-iO mode, I discovered today that dragging the voltage sensor out of the box toward a charge causes its potential corona to disappear. It occurs as far back as 2a631adf57a75c9449f5f778182718100a26d678, so it is not a new regression. (To verify that, I had to have Axon at bd3a64f41c8ad53c79dbefe3ec2e63865ee380d9 and chipper at 131750301de84c0bb0d4984a85f801219fe45895).

It only occurs in phe

[2016-11-16 23:55] andrewadare commented on #114
If I resize the screen, the potential cloud reappears.

Also, the bug is not consistently reproducible, it happens every couple attempts.

[2016-11-17 19:10] andrewadare commented on #114
Some more notes (on OSX 10.11.6):
- Couldn't reproduce with `?webgl=false`.
- Couldn't reproduce on Firefox.
- Couldn't reproduce on Safari.
- Reproducible on Chrome Version 54.0.2840.98 (64-bit), both in requirejs and built versions

[2016-11-17 22:42] andrewadare commented on #114
@jonathanolson if there's a good time to collaborate in the next few days on this, let me know. Is it appropriate to merge the webgl-options branch to master? At a minimum, it would need updates to use QueryStringMachine.

[2016-11-18 17:31] andrewadare commented on #114
The latest Canary does not exhibit the problem: Version 56.0.2924.0 canary (64-bit)

[2016-11-18 17:54] andrewadare commented on #114
@jonathanolson tested on Windows 7 Chrome 54.0.2840.99 and was unable to reproduce the problem.

[2016-11-18 18:08] andrewadare commented on #114
Summary: So far, this bug has only been reproduced on OSX 10.11 + Chrome 54.

According to https://www.chromium.org/developers/calendar, Chrome 55 is scheduled for release on December 6 and Chrome 56 (which we verified to have fixed this bug) is scheduled for Jan 31.

I was unsuccessful in finding a Chrome 55 release to test on.

[2016-11-19 06:51] jonathanolson opened #115 "Scenery internal bug"
Prevents fuzzing of this simulation currently (hard fail, not just assertion).

See https://github.com/phetsims/scenery/issues/588, I'll be working on it (presumably Monday), revert https://github.com/phetsims/charges-and-fields/commit/08689e5f983142adc410310588c6e6bd320c0b7a to avoid triggering the bug if needed.

Sorry!

[2016-11-29 05:34] #115 closed

[2016-12-07 17:41] phet-steele commented on #114
@andrewadare I was consistently seeing this bug on macOS 10.12.1 Chrome 54. I just updated to Chrome 55 and don't see it anymore.

[2016-12-12 19:13] arouinfar opened #116 "Create sim primer"
Tracking sim primer publication in this issue, so that #32 can be closed.

[2017-02-08 00:11] arouinfar opened #117 "User reported issue: E-field does not follow inverse-square law"
A teacher wrote into phethelp saying

![image](https://cloud.githubusercontent.com/assets/8419308/22717341/bd79a4ec-ed57-11e6-98d7-0536458af9ed.png)
![image](https://cloud.githubusercontent.com/assets/8419308/22717346/c575c2ca-ed57-11e6-9695-96f746d24d23.png)
![image](https://cloud.githubusercontent.com/assets/8419308/22717355/cb8254a8-ed57-11e6-85a8-8e4cfa9067c3.png)
This last one should show a d

[2017-02-16 17:55] arouinfar commented on #117
I've re-reviewed the user's data, and have realized that he plotted the Electric <b>Potential</b> versus 1/r^2, not the Electric Field. The electric potential of a point charge behaves as kq/r.

For a sanity check, I collected the voltage data using the distances in the user's table. Plotting the voltage vs. 1/r results in a linear trend.
![image](https://cloud.githubusercontent.com/assets/8419308

[2017-02-16 17:55] #117 closed

[2017-02-27 19:29] jonathanolson opened #118 "Automated testing failure"
[code]

[2017-03-04 23:25] veillette commented on #118
The likely culprit in ElectricPotentialSensorNode are the following lines

[code]

Presumably electricPotential  is not defined, passing an invalid color to the fill.

For the record, the circle fill updates the fill color of  the crosshair electric potential tool. The electricPotential is the value of the potential at the crosshair.
If the crosshair is directly on a charge, the electric Potential

[2017-03-20 23:07] oliver-phet commented on #106
@jonathanolson has there been an update on this? I haven't had any more reports into phethelp regarding this issue.

[2017-03-20 23:08] jonathanolson commented on #106
No updates, working on higher priority things.

[2017-04-04 22:50] pixelzoom opened #119 "fails stringTest in Options dialog"
With `?stringTest=xss`, it's apparent that the Option dialogs content has no `maxWidth`.

If doing a maintenance release, you need to pickup the fix for the "Options" title in https://github.com/phetsims/joist/issues/416.

[2017-04-10 17:23] oliver-phet opened #120 "User request: add more than 20 charges"

[2017-04-10 17:36] phet-steele commented on #120
@oliver-phet is the user using a slower performance platform? The number of available charges is very much dependent on the platform in which you are using the sim. For example, my laptop and Chrome lets much more than 20 charges exist at one time (I stopped taking charges out at ~140). The limit was put in place for performance reasons. Too many charges at once on older iPads or slower browsers (

[2017-04-10 19:57] veillette commented on #120
I concur with Steele. The limit was put to use webgl texture on older iPads. Modern devices have more advanced webgl engines and there is no limit for them. Fyi, putting  the flag ?webgl=false will make the limit disappear, but the voltage field will be coarser.

[2017-04-10 20:14] oliver-phet commented on #120
User is not on a slower platform. I was curious if there is an ~easy query parameter we could add
`?nolimit` that users could use if they are not on slow platforms and want to use more than 20 charges.

[2017-04-10 20:31] phet-steele commented on #120
@oliver-phet the user appears to be using Win 7 + FF (based on their troubleshooting info). I believe, in the case of this sim, that is regarded as a "slow" platform.

[2017-04-10 20:48] oliver-phet commented on #120
I think it would be useful to this user (and possibly others) to remove the maximum. @veillette  would that be easy to do in a query parameter (while maintaining webGL)?

[2017-04-10 23:24] veillette commented on #120
Short answer: no. The limitation about the number of charges is tied to the webgl status because the number of textures in webgl limits the number of charges.   There are two points with making. One, devices and browsers support different properties of webgl. Most browsers support an unlimited number of textures, therefore you can use an unlimited number of charges with those. The iPad 2 and the b

[2017-04-10 23:25] veillette commented on #120
Sorry for any typos. I typed this last comment on a phone

[2017-07-03 16:27] veillette opened #121 "convert from Property to PropertySet"

[2017-07-03 16:29] veillette commented on #121
Tagging this commit https://github.com/phetsims/charges-and-fields/commit/b02e3ee4980b06b468f4b748eb0a52731cc76f3a as part of the conversion process

[2017-07-05 20:32] veillette commented on #121
PropertySet has been removed from Charges and fields.  The simulation passes fuzzMouse. Closing

[2017-07-05 20:32] #121 closed

[2017-07-05 20:47] veillette commented on #76
This issue is stale since there is no such code in charges and fields. Event has a method called canStartPress that carries out this function.

[code]

[2017-07-05 20:47] #76 closed

[2017-07-05 20:56] veillette commented on #98
This feature is relatively easy to implement.
Should the feature exists only for the charges or applies to the electric sensors and the electricPotential tool  as well?

[2017-07-06 05:06] arouinfar commented on #98
@veillette I think we would want to add a nested checkbox beneath Grid -- not sure what we would call it. When on, the charges and sensors would snap to the grid intersections. I hadn't thought about locking the electricPotential tool to the grid, but it may also be nice to snap its crosshairs to the grid, as well. What do you think @ariel-phet?

[2017-07-06 14:33] ariel-phet commented on #98
@arouinfar @veillette I think if we make a "snap to grid" it would make sense to snap everything to the grid while that feature was active. It might be handy for making certain charge arrangements (especially symmetric ones)

[2017-07-06 14:34] ariel-phet commented on #98
Since @veillette says the feature is easy to implement, putting it at low priority if he desires to work on it.

[2017-07-07 13:08] veillette commented on #118
This needs to be addressed before #98

[2017-07-07 13:25] veillette commented on #101
It is present in all browsers. While working on #98 , I attempted to snap the electricPotential Sensor to the grid

If instead of snapping it directly to the grid, you snapped it to a value slightly off, say
[code]

then you can easily reproduce this issue since the charge and the sensor will be 1e-10 position apart.
![image](https://user-images.githubusercontent.com/7633344/27959512-c3f0ad7a-62f5

[2017-07-07 20:30] veillette commented on #98
In the process of implementing this feature, there are additional questions that crop up. I have not committed anything yet.

 Here is the panel
![image](https://user-images.githubusercontent.com/7633344/27975017-7de2a976-632e-11e7-9892-5cefbe3e166d.png)

I've put a placeholder string until we find an appropriate value.

My first question is the behavior if we checked off grid but snapped to grid

[2017-07-07 20:33] veillette commented on #98
One more question,
should we snap the measuring tape as well ?

[2017-07-07 21:08] arouinfar commented on #98
@veillette I think "Snap to Grid" is straightforward, and I haven't thought of anything cleverer, so let's go with that for now. To be a bit nitpicky, I would recommend that we consistently use title casing, so "to" should be lowercase, and "Only" in "Direction only" should be capitalized.

To answer your questions:

(1) Disabled, but still visibly checked/grayed out. I think the behavior should m

[2017-07-07 21:32] veillette commented on #101
The value displayed is correct as well.  The problem lies with the layout. Even though the text has a maxWidth that is smaller than the size of the readout box, the text is only centered initially.
Centering the text after each voltage update adresses the issue.

![image](https://user-images.githubusercontent.com/7633344/27977780-45958168-633a-11e7-8217-c7083bfc9f89.png)

[2017-07-07 21:42] veillette commented on #101
It is difficult (though not impossible) to put the charges and sensor so close.  Assigning back to @phet-steele if he would like to test his dexterity.

[2017-07-07 21:54] veillette commented on #118
I was able to reproduce using the snapToGrid feature.

It should be noted that it this assertion is not triggered when an electric potential sensor is directly on a charge.

To generate this assertions, put two positive charges and one negative charge on top of one another. Move the electric potential sensor on the composite charge.

[2017-07-09 12:57] veillette opened #122 "dispose function in ElectricPotentialSensorNode"
The dispose function attempts to unlink the electricField rather the electricPotential

[2017-07-09 15:34] veillette commented on #122
Work done. CLosing

[2017-07-09 15:34] #122 closed

[2017-07-09 15:41] veillette commented on #118
The problem arises when subtracting infinities (an always dangerous propositions).

The codebase was modified such that the electric potential at a given position makes a check to find if there are any charges at this position. It calculates the net charge at this position. If there is a net charge at this position, it return an electric potential of +infinity or -infinity, depending on the value

[2017-07-09 15:44] veillette commented on #118
In passing, I deleted any references to getElectricPotentialChange since this method was overriden by the updateAllSensors call.

As a result, the model doesn't depend on any 'change' for the calculation of the electric field and electric potential.

[2017-07-09 15:49] veillette commented on #98
Thanks @arouinfar for pointing out all the previous issues.  The snappingToGrid feature needs a model that handles well infinity. Scenarios that used to be corner cases will  be much more prevalent.

[2017-07-09 15:52] veillette commented on #118
Work done here. Closing.

[2017-07-09 15:52] #118 closed

[2017-07-09 16:05] veillette opened #123 "delete all references to electric field lines"
The are comments to electric field lines in the code. The simulation can generate electric potential lines  but not electric field lines. It is confusing.

[2017-07-09 16:47] veillette commented on #123
done. Closing.

[2017-07-09 16:47] #123 closed

[2017-07-09 16:53] veillette commented on #32
Since create primer is being tracked separately in #116, this issue can be closed.

[2017-07-09 16:53] #32 closed

[2017-07-10 16:52] phet-steele opened #124 "Two instances of optionsDialog.title"
[code]

[2017-07-10 17:54] zepumph commented on #124
This fix adds another dispose call to a hide override, but that is how it has to be done right now. Closing, but work should be done soon in https://github.com/phetsims/joist/issues/424

[2017-07-10 17:54] #124 closed

[2017-07-10 20:58] zepumph opened #125 "Dynamic particles aren't being disposed completely"
While testing for phet-io, I notices that each of the three particles that can be created are leaving tandems in instance proxies on disposal.

Charged particles leave tandems like:
[code]
and sensors leave these three:
[code]

[2017-07-10 21:26] zepumph commented on #125
This was pretty simple, they just weren't being disposed in the sensor/particle's dispose call. Closing

[2017-07-10 21:26] #125 closed

[2017-07-16 02:07] veillette opened #126 "More robust handling of charges that are colocated"
Given that charges can be snapped to the grid, it is much easier to have configurations of charges that are on top of one another.

The previous implementation attempted to determined if the E field is zero everywhere. However the check was not exhaustive since it was incredibly unlikely (and difficult) to generate such charge configurations. This is no longer the case when you can snapped charges

[2017-07-17 19:14] veillette commented on #98
@arouinfar, I commited the changes according to your request. I created a separate issue #126  on how we should handle charges that are overlapping since there is a much higher likelihood of having multiple overlapping charges with the snap to grid features.

In addition, we will need someone to review this commit since it involves PhET-IO which i was not able to able to test.

However, this shoul

[2017-07-17 20:28] arouinfar commented on #98
@veillette I really like the snap to grid feature! It's easy to use, and I love being able to create symmetric arrangements.

I ran into one situation where the charge was delayed in snapping to the grid. To reproduce:

1. Turn on Grid, then purposely place a charge so that it is misaligned to the grid
2. Turn on Snap to Grid, the charge snaps to the nearest grid intersection (as it should)
3. Tur

[2017-07-17 20:37] arouinfar commented on #126
@veillette I noticed that I was able to to draw the 0 V equipotential line in the middle of a dipole, but the tool fails to draw 0 V lines for a quadrupole (which would intersect). I'm not sure how pedagogically beneficial it would be to draw the zero lines, so I wonder if it would be better for the draw button to become inactive when at a zero point.

[2017-07-17 20:38] arouinfar commented on #98
@veillette I also like that the equipotential tool displays infinity when snapped on top of a charge, but I would prefer to use the symbol, rather than the word.

[2017-07-18 16:31] phet-steele commented on #101
Positive charges also look great to me! You the man, @veillette.
![screen shot 2017-07-18 at 10 26 58 am 2](https://user-images.githubusercontent.com/5863899/28328426-cab5792c-6ba3-11e7-890f-d428f8f93757.png).

Not so sure there is anything left to do here. I suppose I'll assign to @arouinfar to sign off on this being how we handle long-string voltages.

[2017-07-18 17:17] arouinfar commented on #101
@veillette looks good! My only request would be to display the infinity symbol, rather than the word, when the sensor is snapped to the charge.

[2017-07-26 15:42] veillette opened #127 "Display infinity as a symbol rather than word"
Following up on #101, it was requested by @arouinfar that the equipotential sensor displays the symbol infinity rather than the word 'infinity' when the electric potential is equal to infinity.

Currently the word infinity is displayed when the electric potential is equal to Number.POSITIVE_INFINITY.
The rendering of the string is dependent on Javascript implementation and therefore is not transla

[2017-07-26 15:44] veillette commented on #101
Thanks @phet-steele for testing. Closing this issue and we will be tracking the display of the equipotential sensor in #127.

[2017-07-26 15:44] #101 closed

[2017-07-26 15:46] veillette commented on #98
The display infinity is being tracked in a separate issue ( #127)

[2017-08-21 21:38] oliver-phet commented on #106
Removing my assignment. This appears to be in @jonathanolson's court once it becomes a priority.

[2017-08-22 17:37] phet-steele opened #128 "Electric Potential Sensor grabbed at different points"
Mirror inputs for http://www.colorado.edu/physics/phet/dev/html/charges-and-fields/1.1.0-phetiodev.1/wrappers/mirror-inputs/mirror-inputs.html?sim=charges-and-fields&relativeSimPath has issues with the electric potential sensor. When grabbing it from the tool box, the "pick up point" is the crosshairs (the crosshairs jump underneath the cursor). This does not happen in the below sim where the litt

[2017-08-22 18:59] samreid commented on #128
This code appears in ElectricFieldSensorNode.js

[code]

There is similar code in ChargedParticleNode.js

[code]

[2017-08-22 19:00] phet-steele opened #129 "Crosshair mount is incorrect"
Look at the little rectangle that connects the crosshair to the body. In published:

<img width="120" alt="screen shot 2017-08-22 at 12 56 58 pm" src="https://user-images.githubusercontent.com/5863899/29582382-b8fe0ea4-8739-11e7-892c-1db413b08ab7.png">

But on master and in phetsims/QA/issues/37, it's a circle:
<img width="148" alt="screen shot 2017-08-22 at 12 56 51 pm" src="https://user-images.g

[2017-08-22 19:04] samreid commented on #128
False alarm, the sensor is called ElectricPotentialSensorNode, not ElectricFieldSensorNode

[2017-08-22 19:31] samreid commented on #128
If I add this console.log at the top of ChargesAndFieldsToolboxPanel.js

[code]

I can see that the recording sim is loading with height 0 and the playback sim is loading with height 535.  Since the vertical offset is set by this image height, it creates the discrepancy:

[code]

[2017-08-22 19:59] phet-steele opened #130 "Error: Assertion failed: Impossible set state (electric potential line)"
1. State wrapper, http://www.colorado.edu/physics/phet/dev/html/charges-and-fields/1.1.0-phetiodev.1/wrappers/state/state.html?sim=charges-and-fields&relativeSimPath
2. Drag out a charge.
3. Drag out the electric potential sensor.
4. Draw an electric potential line.
5. Wait...
6. Receive an error:

[code]
Kills the wrapper. Seen on macOS 10.12.6 Chrome. For phetsims/QA/issues/37.

[2017-08-22 20:37] jonathanolson commented on #129
It looks like this may have been purposely added in https://github.com/phetsims/charges-and-fields/commit/f412cc081c3cbe68c933b5c9623bc1ee4dd85c0e#diff-9106056b55c9f988721c00e7e8a04136 (would be hard to accidentally add two different corner radii parameters without meaning to?)

![caf-bit](https://user-images.githubusercontent.com/480878/29586241-3762bc38-8747-11e7-901b-226277394561.PNG)

Is it fo

[2017-08-22 20:39] jonathanolson opened #131 "Lots of code duplication"
Just noticed rampant duplication of the entire construction of the Electric Potential sensor node, both in ElectricPotentialSensorNode and ChargesAndFieldsToolboxPanel.createElectricPotentialSensorIcon.

This can lead to differences between the two, as noticed in https://github.com/phetsims/charges-and-fields/issues/129.

[2017-08-22 20:46] phet-steele commented on #129
Let's investigate!

[2017-08-22 20:52] phet-steele commented on #129
@jonathanolson it is not supposed to be there. I can't find documentation on github and @arouinfar also said it "doesn't need to be a dot".

[2017-08-22 21:24] jonathanolson commented on #129
Ok, should be fixed now.

[2017-08-23 03:12] samreid commented on #130
Proposed fix in preceding commits, @phet-steele can you verify on phettest?  Would you like a new dev version?

[2017-08-23 16:28] phet-steele commented on #130
@samreid with this one, I'd like a new dev version and will probably update the QA task with the new version.

[2017-08-23 18:02] phet-steele opened #132 "Electric lines are removed when snapping doesn't change anything"
Test device: MacBook Pro 2015

Operating System: macOS 10.12.6

Browser: Chrome 60.0.3112.101 (Official Build) (64-bit)

Problem description:
From the changes in #98, we now have a "Snap to Grid" feature. This feature moves the charges to a grid location when you select it. This is problematic in cases where every charge is ALREADY in a grid location. Selecting Snap to Grid still technically "sets

[2017-08-23 18:04] arouinfar commented on #132
No, not the desired behavior @phet-steele. If the charges are already snapped to the grid, then the electric potential lines should not erase when toggling Snap to Grid.

[2017-08-23 18:12] arouinfar commented on #132
@phet-steele says @jonathanolson is shepherding the sim, so reassigning.

[2017-08-23 19:45] phet-steele commented on #129
Beautiful.

[2017-08-23 19:45] #129 closed

[2017-08-24 21:49] samreid commented on #130
New dev version is here: http://www.colorado.edu/physics/phet/dev/html/charges-and-fields/1.1.0-phetiodev.3/wrappers/index/

[2017-08-25 16:57] phet-steele commented on #130
Looks fixed in the above dev version.

[2017-08-25 17:00] phet-steele commented on #128
Looks fixed in http://www.colorado.edu/physics/phet/dev/html/charges-and-fields/1.1.0-phetiodev.3/wrappers/mirror-inputs/mirror-inputs.html?sim=charges-and-fields&relativeSimPath. Thanks @samreid.

[2017-08-25 17:00] #128 closed

[2017-08-25 17:26] phet-steele opened #133 "Value label dragging not transmitted through state"
Best demonstrated in the State wrapper here: http://www.colorado.edu/physics/phet/dev/html/charges-and-fields/1.1.0-phetiodev.3/wrappers/state/state.html?sim=charges-and-fields&relativeSimPath

1. Place out a charge and create an electric potential line
2. Check "Values"
3. Drag the value label around. The drag is not transmitted to the lower sim. Clicking Launch will see the label in its original

[2017-08-25 20:32] oliver-phet opened #134 "User suggestion: measure should snap to lattice points"
This may be a necessary feature for future keyboard navigation of the sim.

[2017-08-25 20:34] arouinfar commented on #134
@oliver-phet this change is already in progress. See https://github.com/phetsims/charges-and-fields/issues/98. Not sure what the timeline is to redeploy the sim, but maybe @ariel-phet or @phet-steele would know?

[2017-08-25 20:39] phet-steele commented on #134
It is currently being tested for a general purpose phet/phet-io release! But I cannot speak to its priority with upcoming CCK shenanigans and/or if testing could be finished before CCK is ready for testing.

[2017-08-26 05:48] samreid commented on #132
Proposed fix is committed above, @phet-steele let me know if you'd like a new dev version or if you'll be testing this on phettest.

[2017-08-26 06:19] samreid commented on #133
Proposed fix committed, @phet-steele would you like to test on phettest or a new dev version?

[2017-08-28 17:00] phet-steele commented on #132
Fixed for me @samreid! You can just assume I use phettest always.

[2017-08-28 17:00] #132 closed

[2017-08-28 17:52] brroberts1231 opened #135 "Snap to grid not unchecked when sim is reset"
For phetsims/QA#37
Test device: Bates

Operating System: Win 7

Browser: Chrome Version 60.0.3112.113 (Official Build) (64-bit)

Problem description: If the sim is reset when you have both Grid and Snap to Grid checked, Grid will be unchecked, but Snap to Grid remains checked. Since the grid is not visible, when you drag a charge out, it will not be snapped to the grid. But when you make the grid

[2017-08-28 18:01] phet-steele commented on #135
@arouinfar is this desired? Essentially you get no snap while toggling the grid, ever. It's only when toggling snap to grid, which seems fine?

[2017-08-28 18:02] phet-steele commented on #135
@jonathanolson, the other part of this issue is a bug:

[2017-08-28 20:05] arouinfar commented on #135
That's mostly correct, @phet-steele, but it's a bit more nuanced than that.

This behavior is undesirable. If Grid and Snap to Grid are on, the charges should always be on grid vertices. In the situation described by @brroberts1231, toggling Grid should move snap the charges to the nearest vertex. Toggling Grid should result in snapping if Snap to Grid is also on.

[2017-09-05 19:49] oliver-phet opened #136 "User feedback: PhET E fields simulation"

[2017-09-05 22:46] arouinfar commented on #136
Not exactly. For a uniformly charged spherical shell, the E-field is zero anywhere within the sphere, due to symmetry. However, a uniformly charged ring does not have the same symmetry. The E-field would be zero only at the center of ring, but anywhere else within the ring would be non-zero. Building a perfectly symmetrical ring in the sim is impossible, but getting close, you can see the electric

[2017-09-05 22:48] oliver-phet commented on #136
Email forwarded. Closing.

[2017-09-05 22:48] #136 closed

[2017-09-06 18:19] BryceAG commented on #135
This is not just a reset all issue, as manually toggling grid off with snap still on results in the same issue.

[2017-09-06 21:12] BryceAG opened #137 "Sensor shows arrow with 0 V/m"
For phetsims/QA#37
Test device: Hanson

Operating System: Win 10

Browser: Chrome Version 60.0.3112.113 (Official Build) (64-bit)

Problem description: If a sensor is placed right in-between two identical charges, it will correctly show the value of 0 V/m, but the arrow displayed will remain the arrow from before it read 0 v/m. This is done most easily with snap to grid so it snaps into place betw

[2017-09-06 21:46] brroberts1231 opened #138 "Voltage colors not centered on charges"
For phetsims/QA#37

Windows 7, Chrome Version 61.0.3163.79 (Official Build) (64-bit)
This seems similar to something we've seen before, but I can't find the old closed issue.

Problem description: Voltage colors are not being placed correctly around the charges under some certain circumstances. Sensors and equipotential lines don't treat the colored areas as actual charged areas, they react to the

[2017-09-07 02:13] ariel-phet commented on #138
#106 may be related

[2017-09-07 17:30] lmulhall-phet opened #139 "White tape measure text on white E field arrow"
This is quite nit-picky, but it's difficult to read the length on the tape measure if its text is on top of an E field arrow.

![screen shot 2017-09-07 at 11 22 55 am](https://user-images.githubusercontent.com/31285590/30176336-4ca75318-93bf-11e7-9ec1-f8e30fcfecc4.png)

[2017-09-07 17:34] arouinfar commented on #139
Thanks @lmulhall-phet! Agreed that occlusion is not ideal.

@phet-steele I think we ran into a similar issue for Projectile Motion. Did we discuss the possibility of adding a shaded rectangle behind the readout? Perhaps that wasn't supported in the tapeMeasure node...

[2017-09-11 20:18] BryceAG commented on #137
Also the degrees value says 0 regardless of what position it is pointing, and in State the upper and lower sims will point in different directions, with the lower sim always pointing in the same direction regardless of the direction the upper sim is pointing.

![screen shot 2017-09-11 at 2 20 41 pm](https://user-images.githubusercontent.com/15327201/30295060-88790be4-96fc-11e7-9495-070a5c79814e.pn

[2017-09-12 00:26] samreid commented on #137
I am the developer helping bring this sim to PhET-iO, but it would be good if @jonathanolson has time to help work on sim bugs like this.

[2017-09-12 15:29] pixelzoom opened #140 "problem printing with white field arrows"
This was reported in the "Developing Interactive Simulations in HTML5" Google Group, see
https://groups.google.com/forum/#!topic/developing-interactive-simulations-in-html5/h7qeZ5LuIdM:

I'll reference this issue in the Google Group, and ask the person who reported it to track the issue here.

[2017-09-12 15:37] pixelzoom commented on #140
Putting a black stroke on the white arrows would address this.  Since there are a lot of arrows, we should get feedback from @jonathanolson on whether adding a stroke will hurt performance.

[2017-09-12 15:38] pixelzoom commented on #140
Ah... This sim also has "Projector Mode".   I'll tell the user about that, and see if that meets his/her needs.

[2017-09-12 15:48] arouinfar commented on #140
@pixelzoom my recommendation to the user would be to use projector mode. Thanks for reaching out to the user to let them know about the feature. Please let me know if that doesn't address their needs.

[2017-09-13 02:28] pixelzoom commented on #140
The user replied to me via email:

Closing.

[2017-09-15 21:21] pixelzoom commented on #140
Reopening. In 9/14/17 status meeting, we said that it might be worth adding a stroke around the arrows since teachers may not find "Projector Mode", and may not know that it's useful for printing.  @arouinfar your call on whether to proceed.

[2017-09-15 21:34] arouinfar commented on #140
@pixelzoom assuming there wouldn't be any performance issues, it's only worth pursuing if the printer would be smart enough to print the black strokes around the arrows. If the printer setting doesn't print anything black, then the end result would be the same. I'll reach out to the user to find out more.

[2017-09-18 17:48] arouinfar commented on #140
Followed up with the user to ask about the printer setting, and he replied:

I am not sure the black stroke around the arrows will work, since what we need to see is the magnitude, and that won's show up well.
I think your solution of "projector mode" does what we want.  However, it would be good if selecting that was a one button toggle or a check box on the front screen, so we don't have to go t

[2017-09-18 18:11] jonathanolson commented on #140
Implemented (affects projector color scheme also --- let me know if it shouldn't).

[2017-09-18 18:11] jonathanolson commented on #140
Also, performance impact should be negligible.

[2017-09-18 18:13] arouinfar commented on #140
Thanks @jonathanolson!

[2017-09-19 17:20] arouinfar commented on #140
Here's the print preview in Chrome and Safari (couldn't find print preview in Firefox):
<img width="639" alt="screen shot 2017-09-19 at 11 09 23 am" src="https://user-images.githubusercontent.com/8419308/30605385-2013909e-9d2b-11e7-8aaf-91db8759d48e.png">

I think the stroke looks nice and is a good fallback option for users who don't find Projector Mode. The black stroke looks fine in Projector M

[2017-09-19 21:47] jonathanolson commented on #140
Nope, it's in master (good to go). Presumably reopen if a maintenance release is desired.

[2017-09-19 21:47] #140 closed

[2017-09-20 22:02] ariel-phet commented on #134
@arouinfar I think after CCK and likely after Capacitor Lab Basics would be the timeline, marking as deferred for the moment. Since JO is the one that will likely redeploy CL:B will be higher in priority.

[2017-09-22 16:47] arouinfar commented on #134
Thanks @ariel-phet.

@oliver-phet can you respond to the user? We're tracking this change in #98, so we can close this issue once the user has been responded to.

[2017-09-22 17:20] oliver-phet commented on #134
Email to user sent. Closing.

[2017-09-22 17:20] #134 closed

[2017-09-22 17:21] arouinfar commented on #134
Thanks @oliver-phet!

[2017-09-27 19:59] phet-steele commented on #139
I also can't remember! @pixelzoom, does the tape measure support adding a shaded rectangle behind its readout?

[2017-09-29 01:52] pixelzoom commented on #139
The tape measure is implemented in scenery-phet `MeasuringTapeNode`.  I see no option for adding a shaded rectangle behind the value readout.  A quick look suggests that it wouldn't be too difficult to add.

[2017-09-29 21:58] arouinfar commented on #139
Thanks @pixelzoom! I opened an issue in scenery-phet (linked above) to discuss this addition to `MeasuringTapeNode`.

[2017-10-03 19:37] pixelzoom commented on #139
I integrated the new "transparent rectangle behind readout" feature into this sim.  Sample screenshot below.  The rectangle color is currently `'rgba( 0, 0, 0, 0.65 )'` - black with 65% transparency.  @arouinfar please review in master, let me know if you'd like anything changed.

![screenshot_403](https://user-images.githubusercontent.com/3046552/31145112-0e706da6-a840-11e7-9e45-6fd0e211ada5.png)

[2017-10-03 19:41] pixelzoom commented on #139
I'm going to wait until @arouinfar has reviewed sim changes (https://github.com/phetsims/charges-and-fields/issues/139, https://github.com/phetsims/projectile-motion/issues/156) before I assign this to be reviewed.

[2017-10-03 20:34] arouinfar commented on #139
Looks great @pixelzoom!

[2017-10-03 20:38] pixelzoom commented on #139
Great. Closing.

[2017-10-03 20:38] #139 closed

[2017-10-16 18:54] samreid opened #141 "Assertion failed: instance not found for chargesAndFields.chargesAndFieldsScreen.model.electricFieldSensor_0.positionProperty"
Error: Assertion failed: instance not found for chargesAndFields.chargesAndFieldsScreen.model.electricFieldSensor_0.positionProperty
    at window.assertions.assertFunction (http://localhost/assert/js/assert.js:22:13)
    at Object.getOptions (http://localhost/phet-io/js/phetio.js?bust=1508179724664:463:17)
    at Object.start (http://localhost/phet-io/js/phetioEvents.js?bust=1508179724664:128:31)

[2017-10-16 22:26] phet-steele commented on #141
@samreid @zepumph

1. Drag a sensor to the far left of the tool box, but still over the tool box.
2. Release to start its animation "home".
3. Press Reset All before the sensor can make it home.

[2017-10-17 22:49] zepumph commented on #141
I can't reproduce this problem anymore, I think that https://github.com/phetsims/phet-io/commit/d2f32e26da210fe06fb36c9dab4b6d6a76297ff3#diff-a44b6bf8932e48586042b1e1e1d6aa8a may have addressed this.

I am getting errors in the state wrapper though about imposible setState for some dynamic view components like sensor node. @samreid can you confirm this? I am finding these problems go away when I a

[2017-10-17 23:35] zepumph commented on #141
Actually I'm getting some strange behavior. If I run phet-io fuzz tests (where CAF is the 5th or so down the line), I get this error consistently. If I update the tests such that CAF is first, or if I launch it in its own fuzzMouse window, then I can't reproduce. I am also unable to reproduce from @phet-steele's steps in https://github.com/phetsims/charges-and-fields/issues/141#issuecomment-337061

[2017-10-23 02:24] samreid commented on #141
If I run Charges and Fields in the state wrapper and drag out a red particle, in the next or 2 frames later I get:

[code]

[2017-10-23 21:22] zepumph opened #142 "Impossible setState because of Nodes"
@samreid commented in https://github.com/phetsims/charges-and-fields/issues/141#issuecomment-338531366:

[code]

I poked around and realized the problem is that we are now instrumenting the Node's of the ModelElements as well as the model side. This isn't how the save and load was set up for CAF, so it is breaking it. We only added `toStateObject` on TNode recently, and I think that it is best to

[2017-10-23 21:24] zepumph commented on #142
By the looks of it TNode only got a `toStateObject` a month ago, so it wouldn't be surprising to me to hear CAF has been broken for that long.

[2017-10-23 21:25] zepumph commented on #141
https://github.com/phetsims/charges-and-fields/issues/141#issuecomment-338531366 is different and will be handled in https://github.com/phetsims/charges-and-fields/issues/142. @samreid I think we are ready to close this issue.

[2017-10-23 21:25] #141 closed

[2017-10-23 21:26] samreid commented on #142
Is TNode.toStateObject destined to be the foundation for customizing visibility/pickability of nodes?  If so, we may need to leave `phetioState` on by default.

[2017-10-23 21:28] zepumph commented on #142
That's true, should we instead investigate why the Node is not able to find itself in the downstream sim, similar to https://github.com/phetsims/charges-and-fields/issues/141 and the ESPB work we did this morning?

[2017-10-23 21:29] samreid commented on #142
Yes, we should look for an explanation like that.

[2017-10-23 21:49] zepumph commented on #142
Sounds good.

[2017-10-27 20:20] oliver-phet opened #143 "User suggestion: toggle additional units"
Assigning to @arouinfar to decide.

[2017-10-31 16:26] arouinfar opened #144 "Create LoL Icon and Description"
In https://github.com/phetsims/QA/issues/37#issuecomment-340276603 @samreid said:

I'll need to get the icon and description ready for LoL. Marking as on-hold until testing resumes.

[2017-10-31 17:25] arouinfar commented on #143
I can understand the teacher's motivation for wanting to use N/C. Expressing the electric field in units of N/C is useful when thinking about the electric field as E=F/q, while units of V/m parallel E=V/r.

If we allow for E to be expressed as N/C, it's a bit hard to make a connection between the electric field (N/C) and the equipotentials (V). For consistency, we should probably express V as Nm/C

[2017-10-31 18:38] ariel-phet commented on #143
@arouinfar I think I agree. V/m and N/C are exactly the same "fundamental" units in terms of mks, and changing those units would not alter the value or anything. So it seems a very minor learning goal, and not well tied to the sim.

If we did have this option, I would only change the units of the field. But I think we will pass.

@oliver-phet please let the teacher know that we appreciate and undr

[2017-11-04 04:19] samreid commented on #142
Proposed fix is above, @zepumph please review.

[2017-11-06 22:22] zepumph commented on #142
That looks good to me. I like that we are linking the tandems from the view and the model. We will need to do the same thing for the sensors.

[2017-11-07 23:34] arouinfar commented on #144
Icon and description have been added to the LoL Simulations Google sheet.

[2017-11-07 23:34] #144 closed

[2017-11-08 15:48] oliver-phet commented on #143
Reply to user sent. Closing.

[2017-11-08 15:48] #143 closed

[2017-11-09 15:16] samreid commented on #142
I applied the same strategy for the sensors, @zepumph please review.

[2017-11-09 21:38] zepumph commented on #142
Looks good, I just found this problem again in https://github.com/phetsims/energy-skate-park-basics/issues/395, but looks like it could be as simple of a fix. Closing this one though!

[2017-11-09 21:38] #142 closed

[2017-11-17 03:40] samreid opened #145 "Assertion failed: instance id did not match phetioID"
Bayes reported this for Charges and Fields, I wonder if it is related to https://github.com/phetsims/axon/issues/168

[code]

[2017-11-17 04:52] samreid commented on #145
I see this problem in bayes (once) but cannot reproduce it after several minutes of fuzzing.  Closing for now.

[2017-11-17 04:52] #145 closed

[2018-01-24 23:38] arouinfar commented on #116
Marking as on-hold until the following primers are published:

- [x] https://github.com/phetsims/circuit-construction-kit-dc/issues/167
- [x] https://github.com/phetsims/circuit-construction-kit-dc-virtual-lab/issues/10
- [x] https://github.com/phetsims/projectile-motion/issues/147
- [x] https://github.com/phetsims/pendulum-lab/issues/191
- [ ] https://github.com/phetsims/capacitor-lab-basics/issu

[2018-03-07 15:16] oliver-phet commented on #98
This was requested by another user on March 7, 2018:

[2018-03-07 19:27] arouinfar commented on #98
@ariel-phet do you think there would be any bandwidth to deal with this issue any time soon?

[2018-03-07 19:29] arouinfar commented on #98
I believe everything has been implemented (except for #127) and the changes still need to go through QA testing.

[2018-03-07 21:26] ariel-phet commented on #98
@arouinfar let me ask @veillette - he has been dedicating a bit of time to PhET this semester with mentoring students, and he might have time to polish this off.

[2018-03-07 22:05] ariel-phet commented on #98
@veillette said:

[2018-03-14 20:01] veillette opened #146 "Regression on Master regarding position of the equipotential tool."
While working on #98, i noticed that the equipotential sensor tool moves to the upper left corner of the dev bounds when one attempts to grab it from the toolbox.

[2018-03-16 21:22] jonathanolson opened #147 "Possible DragListener regression"
Pulling out the voltmeter from the toolbox has a buggy drag.

[2018-03-16 21:41] phet-steele commented on #147
See #146

<a href="https://imgflip.com/i/22xjcs"><img src="https://i.imgflip.com/22xjcs.jpg" title="made at imgflip.com"/></a>

[2018-03-16 21:41] #147 closed

[2018-03-16 21:43] jonathanolson commented on #146
Probably DragListener regression, I'll look into it.

[2018-03-16 21:44] jonathanolson commented on #146
I believe I've fixed this with the above commit. @veillette can you verify?

[2018-03-17 21:23] veillette commented on #146
Thanks @jonathanolson , this does indeed fix it. Closing

[2018-03-17 21:23] #146 closed

[2018-06-11 18:08] arouinfar commented on #116
This primer should remain on hold until the snap-to-grid feature #98 is deployed (or in RC testing).

[2018-06-15 20:09] JRomero0613 opened #148 "[1.0.1-rc.1-phetio] Equipotential isn't translated to state simulation"
Test Device: PC Laptop

OS: Windows 10 v. 1803

Browser: Google Chrome v. 67.0.3396.87

Problem Description: For phetsims/QA#128 when using the state wrapper with the simulation and drawing the region of equipotential, the equipotential is not translated to the smaller sim. In v. 1.0.1-rc.1 no equipotential line is drawn at all in the smaller sim. In master the first equipotential line is drawn in

[2018-06-15 21:52] zepumph commented on #148
Looks like the version in master and https://phet-io.colorado.edu/sims/charges-and-fields/1.0.0-phetio/wrappers/state/state.html?sim=charges-and-fields isn't storing state either. This will be worked on when the next phet-io release out of master takes place. Renaming to remove version specific suffix, and unassigning.

[2018-07-12 16:23] ghost commented on #133
@samreid, I'm not able to reproduce @phet-steele's original issue using the link he provided on macOS 10.13.5 + Chrome 67.0.3396.99. The transmission lags a bit, but from what I understand that's to be expected. Unless @phet-steele can reproduce, I move to close this issue.

[2018-07-18 17:33] phet-steele commented on #148
The error I receive:

[code]

[2018-07-18 17:34] phet-steele commented on #133
I cannot test because of #148. I can't get an equipotential line to appear in the child iframe.

[2018-07-18 17:43] ghost commented on #133
Sorry, I am able to reproduce @phet-steele's original issue with the provided link. I thought he was talking about the label on the sensor, not the label on the equipotential line, which I hadn't realized could be moved.

[2018-08-09 23:06] arouinfar commented on #116
Since the snap-to-grid feature isn't coming anytime soon, and there are very few sims still needing primers, we should move ahead with this primer. @CWilson4960 and I will be working on scripting this primer next, so removing `on-hold`.

[2018-08-14 19:39] arouinfar opened #149 "Add transparent rectangle behind sensor values"
The sensor values are a bit hard to read when the E-field is on. I recommend adding a semi-transparent black background behind the readout, matching what was done for the equipotential values.

![screen shot 2018-08-14 at 11 21 26 am](https://user-images.githubusercontent.com/8419308/44113800-846525dc-9fc6-11e8-9790-0c1c9fec03fb.png)
<img width="259" alt="screen shot 2018-08-14 at 1 37 43 pm" src=

[2018-08-14 23:09] arouinfar commented on #116
@CWilson4960 this one is ready for you.

- [x] Draft script - 08/14/18
- [x] Record rough version for script verification - 08/20/18
- [x] Review script verification draft, and adjust script as necessary - 08/23/18
- [x] Record another draft - 08/28/18
- [x] Review 2nd draft - 08/28/18
- [x] Produce primer and upload - 09/10/18
- [x] Caption primer - 09/10/18

[2018-08-29 22:45] KatieWoe opened #150 "CT: event indexing failed"
May be related to some changes @samreid is making for other CT issues.  Assigning to make aware.
[code]

[2018-08-29 23:21] zepumph commented on #150
See https://github.com/phetsims/phet-io-wrappers/issues/107 and https://github.com/phetsims/phet-io-wrappers/issues/97 for more details and issue tracking.

[2018-09-11 21:21] arouinfar commented on #116
Primer has been published to the PhET site, thanks @CWilson4960.

[2018-09-11 21:21] #116 closed

[2018-09-17 15:55] samreid commented on #150
@zepumph is https://github.com/phetsims/phet-io/issues/1336 the root problem of this issue?

[2018-09-17 16:15] zepumph commented on #150
Yes indeed. We have globals that emit their construction events before phet-io listeners are wired up. We need something like a "phetioEvents.launch" maybe we can work on this sometime soon (probably after Faradays Law)

[2018-09-17 16:44] samreid commented on #150
On hold pending work in https://github.com/phetsims/phet-io/issues/1336

[2018-09-19 15:16] samreid opened #151 "Convert from TWEEN to Twixt"
As discussed in https://github.com/phetsims/joist/issues/387#issuecomment-419600722, it would be nice to use Twixt instead of TWEEN.  This sim has 1 occurrence of `new TWEEN.Tween(...)`.  Assigning to the responsible dev.  After completing this issue, check if the hold on https://github.com/phetsims/joist/issues/387 can be removed (if this was the last "Convert from TWEEN to Twixt" issue).

[2018-10-17 18:02] arouinfar opened #152 "Use title case in sim name"
Related to https://github.com/phetsims/tasks/issues/953

The sim title is improperly cased, and currently reads "Charges **And** Fields"

`charges-and-fields.title` in <a href="https://github.com/phetsims/charges-and-fields/blob/master/charges-and-fields-strings_en.json#L2">charges-and-fields-strings_en.json</a>  should be updated to "Charges and Fields" next time this sim gets worked on.

[2018-10-30 14:51] KatieWoe opened #153 "CT second order correction"
[code]

[2018-10-31 18:02] KatieWoe opened #154 "Black screen on iOS 12"
**Device**
iPad Air 2
**OS**
iOS 12
**Browser**
Safari
**Problem description**
Found during https://github.com/phetsims/special-ops/issues/122 may be related to https://github.com/phetsims/charges-and-fields/issues/51.
When opening charges-and-fields 1.0.11-rc.1 on the iPad to ensure full screen was gone, the sim did not load and instead showed a black screen.  Refreshing the sim fixed the problem

[2018-11-01 02:52] jonathanolson commented on #154
I'm curious if this was just a rare Safari isssue. If it hasn't been possible to recreate, is there any way I could investigate this?

[2018-11-05 15:39] KatieWoe commented on #154
@jonathanolson I'm not sure if there is a way to investigate.  I made the issue largely as a way to document the occurrence and to build on if it shows up again.

[2018-12-04 15:55] KatieWoe opened #155 "CT: iframe api failed"
[code]

[2019-01-09 16:50] KatieWoe opened #156 "Pencil tool doesn't work iOS"
Found during https://github.com/phetsims/QA/issues/226.  Unsure if related to WebGL.
When using the pencil tool to draw equipotential lines, the button does not work.  This seems to be limited to touch, as I did not encounter this issue on a laptop with a mouse.  Found on master

[2019-01-15 16:15] KatieWoe opened #157 "CT: state wrapper failed"
[code]

[2019-01-24 19:44] oliver-phet opened #158 "User erp"
![image](https://user-images.githubusercontent.com/5090275/51704202-a9df7580-1fd5-11e9-838a-43a540f5774c.png)

[2019-01-24 20:57] oliver-phet commented on #158
Additional info from user:

[2019-03-07 15:52] KatieWoe opened #159 "CT: cannot read property toStateObject and phetio type passed to Property must be specified"
[code]

[2019-03-07 18:21] KatieWoe commented on #158
I just tried this on Chadwick and didn't see it.  I'll see if we have a samsung model and test there.

[2019-03-07 18:41] KatieWoe commented on #158
Unfortunately still unable to reproduce

[2019-03-13 20:08] jbphet commented on #130
@chrisklus and I stumbled across some code that looks potentially (pun semi-intended) problematic that was committed to resolve this issue.  `ChargesAndFieldsModel.addElectricPotentialLine` now has two optional arguments - a `Vector2` and a `tandem`, and there doesn't appear to be any code that is testing the types of the supplied arguments.  Re-opening for @samreid to have a look.

[2019-03-21 15:42] KatieWoe opened #160 "CT: phetioID already registered"
[code]

[2019-03-26 19:01] KatieWoe commented on #160
[code]

[2019-04-01 20:47] samreid opened #161 "Impossible set state"
Discovered in https://github.com/phetsims/charges-and-fields/issues/130

Start Charges and Fields in studio, then drag out a positive charge, then press launch.  The error is:

[2019-04-01 20:55] samreid commented on #130
In the commit, I rewrote the function using ES6 default parameters and I added checks for the parameter types.  This pattern works in this case because the tandem is only supplied if the position is also supplied (options are not fully orthogonal).  But let me know if this is too obscure and I can rewrite it using our idiomatic options pattern.

Also note: before I made any changes, I observed htt

[2019-04-03 20:11] jbphet commented on #130
It definitely does look a little odd to me, especially since there are function invocations for setting the default parameters, and I've never done this before.  However, this apparently is valid in JavaScript, and the sim runs and creates electric potential lines just fine.  Also, the asserts would catch any inappropriate parameters, so it seems okay to me.

The only additional item I would sugge